#### **How to change data type from double to timestamp using timestamp_millis?**

**timestamp_millis()**

- This function is useful when you have **timestamps** represented as **long integers** in **milliseconds** and you need to convert them into a **human-readable timestamp format** for further processing or analysis.

- For example, if you have the timestamp value **1230219000123** in **milliseconds**, using **timestamp_millis(1230219000123)** will convert this value to the **TIMESTAMP 2008-12-25 07:30:00.123**, representing the **date and time** in a readable format.

**Syntax**

      timestamp_millis(expr)
     
**expr:** An integral numeric expression specifying **milliseconds**.

**Returns:** TIMESTAMP.

      > SELECT timestamp_millis(1230219000123);
        2008-12-25 07:30:00.123

In [0]:
import pyspark.sql.functions as f
from pyspark.sql.functions import col, timestamp_millis

In [0]:
df = spark.read.csv("/FileStore/tables/doubletotimestamp-2.csv", header=True, inferSchema=True)
display(df.limit(10))

Company_Name,Cust_Id,Cust_Name,Category,Start_Date,Start_Cust_Date,End_Date,Updated_Date,Cust_Value,Cust_Type,Exchange,Location,Last_Date_UTC,Cust_Category,Index
Sony,20,Naresh,Standard,3-Feb-23,1.73E12,1.73E12,1.73E12,30,STD,EUR,IND,1.72E12,SETTL,true
Sony,21,kamal,Standard,6-Feb-23,1.73E12,1.73E12,1.73E12,25,STD,EUR,IND,1.72E12,TOI,false
Sony,22,kajal,Standard,9-Feb-23,1.73E12,1.73E12,1.73E12,28,STD,EUR,IND,1.72E12,TOI,false
Sony,23,kiran,Standard,3-Jan-24,1.73E12,1.73E12,1.73E12,31,STD,EUR,IND,1.72E12,TOI,false
Sony,24,sam,Standard,8-Jan-24,1.73E12,1.73E12,1.73E12,34,STD,EUR,IND,1.72E12,TOI,false
Sony,25,sourab,Standard,9-Jan-24,1.73E12,1.74E12,1.73E12,37,STD,EUR,IND,1.72E12,TOI,true
Sony,26,jai,Upper,3-Mar-23,1.73E12,1.74E12,1.73E12,40,STD,EUR,IND,1.72E12,TOI,true
BPL,27,sree,Upper,6-Mar-23,1.73E12,1.73E12,1.73E12,43,STD,EUR,IND,1.72E12,SETTL,true
BPL,28,sreenath,Upper,9-Mar-23,1.73E12,1.74E12,1.73E12,46,STD,EUR,IND,1.72E12,SETTL,true
BPL,29,kamaesh,Upper,3-Jan-25,1.74E12,1.74E12,1.73E12,49,STD,EUR,IND,1.72E12,SETTL,false

     {
       "name": "Period_Date",
       "type": {
         "type": "long",
         "logicalType": "timestamp-micros"
       },
       "doc": "Date till which the customer value is applicable"
      }

In [0]:
# Convert columns from double (milliseconds) to timestamp using timestamp_millis
df_dbl = df\
    .withColumn("Start_Cust_Date", f.timestamp_millis(col("Start_Cust_Date")))\
    .withColumn("End_Date", f.timestamp_millis(col("End_Date")))\
    .withColumn("Updated_Date", f.timestamp_millis(col("Updated_Date")))\
    .withColumn("Last_Date_UTC", f.timestamp_millis(col("Last_Date_UTC")))
display(df_dbl)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-42067895739671>, line 3
      1 # Convert columns from double (milliseconds) to timestamp
      2 df_dbl = df\
----> 3     .withColumn("Start_Cust_Date", f.timestamp_millis(col("Start_Cust_Date")))\
      4     .withColumn("End_Date", f.timestamp_millis(col("End_Date")))\
      5     .withColumn("Updated_Date", f.timestamp_millis(col("Updated_Date")))\
      6     .withColumn("Last_Date_UTC", f.timestamp_millis(col("Last_Date_UTC")))
      7 display(df_dbl)

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:6282, in DataFrame.withColumn(self, colName, col)
   6277 if not isinstance(col, Column):
   6278     raise PySparkTypeError(
   6279         error_class="NOT_COLUMN",
   6280         message_parameters={"arg_name": "col", "arg_type": type(col).__name__},
   6281     )
-> 6282 return DataFrame(self._jdf.withColumn(colName, col._jc), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1355, in JavaMember.__call__(self, *args)
   1349 command = proto.CALL_COMMAND_NAME +\
   1350     self.command_header +\
   1351     args_command +\
   1352     proto.END_COMMAND_PART
   1354 answer = self.gateway_client.send_command(command)
-> 1355 return_value = get_return_value(
   1356     answer, self.gateway_client, self.target_id, self.name)
   1358 for temp_arg in temp_args:
   1359     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:261, in capture_sql_exception.<locals>.deco(*a, **kw)
    257 converted = convert_exception(e.java_exception)
    258 if not isinstance(converted, UnknownException):
    259     # Hide where the exception came from that shows a non-Pythonic
    260     # JVM exception message.
--> 261     raise converted from None
    262 else:
    263     raise

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "timestamp_millis(Start_Cust_Date)" due to data type mismatch: The first parameter requires the "INTEGRAL" type, however "Start_Cust_Date" has the type "DOUBLE". SQLSTATE: 42K09;
'Project [Company_Name#2014, Cust_Id#2015, Cust_Name#2016, Category#2017, Start_Date#2018, timestamp_millis(Start_Cust_Date#2019) AS Start_Cust_Date#2090, End_Date#2020, Updated_Date#2021, Cust_Value#2022, Cust_Type#2023, Exchange#2024, Location#2025, Last_Date_UTC#2026, Cust_Category#2027, Index#2028]
+- Relation [Company_Name#2014,Cust_Id#2015,Cust_Name#2016,Category#2017,Start_Date#2018,Start_Cust_Date#2019,End_Date#2020,Updated_Date#2021,Cust_Value#2022,Cust_Type#2023,Exchange#2024,Location#2025,Last_Date_UTC#2026,Cust_Category#2027,Index#2028] csv

In [0]:
# Convert columns from double (milliseconds) to Long
# Convert columns from Long (milliseconds) to timestamp using timestamp_millis
df_lng = df\
    .withColumn("Start_Cust_Date", f.timestamp_millis(col("Start_Cust_Date").cast("long")))\
    .withColumn("End_Date", f.timestamp_millis(col("End_Date").cast("long")))\
    .withColumn("Updated_Date", f.timestamp_millis(col("Updated_Date").cast("long")))\
    .withColumn("Last_Date_UTC", f.timestamp_millis(col("Last_Date_UTC").cast("long")))
display(df_lng)

Company_Name,Cust_Id,Cust_Name,Category,Start_Date,Start_Cust_Date,End_Date,Updated_Date,Cust_Value,Cust_Type,Exchange,Location,Last_Date_UTC,Cust_Category,Index
Sony,20,Naresh,Standard,3-Feb-23,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,30,STD,EUR,IND,2024-07-03T09:46:40Z,SETTL,true
Sony,21,kamal,Standard,6-Feb-23,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,25,STD,EUR,IND,2024-07-03T09:46:40Z,TOI,false
Sony,22,kajal,Standard,9-Feb-23,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,28,STD,EUR,IND,2024-07-03T09:46:40Z,TOI,false
Sony,23,kiran,Standard,3-Jan-24,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,31,STD,EUR,IND,2024-07-03T09:46:40Z,TOI,false
Sony,24,sam,Standard,8-Jan-24,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,34,STD,EUR,IND,2024-07-03T09:46:40Z,TOI,false
Sony,25,sourab,Standard,9-Jan-24,2024-10-27T03:33:20Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,37,STD,EUR,IND,2024-07-03T09:46:40Z,TOI,true
Sony,26,jai,Upper,3-Mar-23,2024-10-27T03:33:20Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,40,STD,EUR,IND,2024-07-03T09:46:40Z,TOI,true
BPL,27,sree,Upper,6-Mar-23,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,43,STD,EUR,IND,2024-07-03T09:46:40Z,SETTL,true
BPL,28,sreenath,Upper,9-Mar-23,2024-10-27T03:33:20Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,46,STD,EUR,IND,2024-07-03T09:46:40Z,SETTL,true
BPL,29,kamaesh,Upper,3-Jan-25,2025-02-19T21:20:00Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,49,STD,EUR,IND,2024-07-03T09:46:40Z,SETTL,false
BPL,30,david,Upper,6-Jan-25,2025-02-19T21:20:00Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,52,STD,EUR,IND,2024-07-03T09:46:40Z,SETTL,false
BPL,31,joes,Upper,9-Jan-25,2025-02-19T21:20:00Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,55,STD,EUR,IND,2024-07-03T09:46:40Z,SETTL,false
BPL,32,paul,Upper,3-Apr-23,2025-02-19T21:20:00Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,58,STD,EUR,IND,2024-07-03T09:46:40Z,SETTL,false
BPL,33,sweta,Upper,6-Apr-23,2025-02-19T21:20:00Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,61,STD,EUR,USA,2024-07-03T09:46:40Z,SETTL,false
Philips,34,narendra,Medium,11-Apr-23,2025-02-19T21:20:00Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,64,STD,EUR,USA,2024-07-03T09:46:40Z,TOI,false
Philips,35,ramesh,Medium,3-Feb-23,2025-02-19T21:20:00Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,67,STD,EUR,USA,2024-07-03T09:46:40Z,TOI,false
Philips,36,rakesh,Medium,6-Feb-23,2025-02-19T21:20:00Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,70,STD,EUR,USA,2024-07-03T09:46:40Z,TOI,true
Philips,37,rajesh,Medium,9-Feb-23,2025-02-19T21:20:00Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,73,STD,EUR,USA,2024-07-03T09:46:40Z,TOI,true
Philips,38,mukesh,Medium,3-Jan-24,2025-02-19T21:20:00Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,76,STD,EUR,USA,2024-07-03T09:46:40Z,TOI,true
Philips,39,venkatesh,Medium,8-Jan-24,2025-02-19T21:20:00Z,2025-02-19T21:20:00Z,2024-10-27T03:33:20Z,79,STD,EUR,USA,2024-07-03T09:46:40Z,TOI,true
Philips,40,Naresh,Medium,9-Jan-24,2025-02-19T21:20:00Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,82,STD,EUR,USA,2024-07-03T09:46:40Z,TOI,true
Philips,41,kamal,Medium,3-Mar-23,2025-06-15T15:06:40Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,85,STD,EUR,USA,2024-07-03T09:46:40Z,TOI,false
Philips,42,kajal,Medium,6-Mar-23,2025-06-15T15:06:40Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,88,STD,EUR,USA,2024-07-03T09:46:40Z,TOI,false
Philips,43,joes,Medium,9-Mar-23,2025-06-15T15:06:40Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,91,STD,EUR,USA,2024-07-03T09:46:40Z,RTO,false
Philips,44,paul,Medium,3-Jan-25,2025-06-15T15:06:40Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,94,STD,EUR,USA,2024-07-03T09:46:40Z,RTO,false
Philips,45,sweta,Medium,6-Jan-25,2025-06-15T15:06:40Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,97,STD,EUR,USA,2024-07-03T09:46:40Z,RTO,false
Philips,46,narendra,Medium,9-Jan-25,2025-06-15T15:06:40Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,100,STD,EUR,USA,2024-07-03T09:46:40Z,RTO,true
Philips,47,ramesh,Medium,3-Apr-23,2025-06-15T15:06:40Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,103,STD,EUR,USA,2024-07-03T09:46:40Z,RTO,true
Philips,48,rashi,Medium,6-Apr-23,2025-06-15T15:06:40Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,106,STD,EUR,UK,2024-07-03T09:46:40Z,EDA,true
BP,49,rishab,Premium,11-Apr-23,2025-06-15T15:06:40Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,109,STD,EUR,UK,2024-07-03T09:46:40Z,EDA,true
BP,50,basha,Premium,3-Feb-23,2025-06-15T15:06:40Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,112,STD,EUR,UK,2024-07-03T09:46:40Z,TOI,true
BP,51,kumaran,Premium,6-Feb-23,2025-06-15T15:06:40Z,2025-06-15T15:06:40Z,2024-10-27T03:33:20Z,115,STD,EUR,UK,2024-07-03T09:46:40Z,TOI,true
BP,52,karthik,Premium,9-Feb-23,2025-06-15T15:06:40Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,118,STD,EUR,UK,2024-07-03T09:46:40Z,TOI,true
BP,53,parvesh,Premium,3-Jan-24,2025-10-09T08:53:20Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,121,STD,EUR,UK,2024-07-03T09:46:40Z,TOI,false
BP,54,danush,Premium,8-Jan-24,2025-10-09T08:53:20Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,124,STD,EUR,UK,2024-07-03T09:46:40Z,TOI,false
BP,55,vidish,Premium,9-Jan-24,2025-10-09T08:53:20Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,127,STD,EUR,UK,2024-07-03T09:46:40Z,EDA,false
BP,56,sam,Premium,3-Mar-23,2025-10-09T08:53:20Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,130,STD,EUR,UK,2024-07-03T09:46:40Z,EDA,false
BP,57,sourab,Premium,6-Mar-23,2025-10-09T08:53:20Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,133,STD,EUR,UK,2024-07-03T09:46:40Z,EDA,false
BP,58,jai,Premium,9-Mar-23,2025-10-09T08:53:20Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,136,STD,EUR,UK,2024-07-03T09:46:40Z,EDA,true
Reliance,59,sree,Lower,3-Jan-25,2025-10-09T08:53:20Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,139,STD,EUR,UK,2024-07-03T09:46:40Z,TOI,true
Reliance,60,sreenath,Lower,6-Jan-25,2025-10-09T08:53:20Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,142,STD,EUR,UK,2024-07-03T09:46:40Z,TOI,true
Reliance,61,Naresh,Lower,9-Jan-25,2025-10-09T08:53:20Z,2026-02-02T02:40:00Z,2024-10-27T03:33:20Z,145,STD,EUR,UK,2024-07-03T09:46:40Z,TOI,true
Reliance,62,kamal,Lower,3-Apr-23,2025-10-09T08:53:20Z,2026-02-02T02:40:00Z,2024-10-27T03:33:20Z,148,STD,EUR,UK,2024-07-03T09:46:40Z,SETTL,true
Reliance,63,kajal,Lower,6-Apr-23,2025-10-09T08:53:20Z,2025-10-09T08:53:20Z,2024-10-27T03:33:20Z,151,STD,EUR,UK,2024-07-03T09:46:40Z,SETTL,true
Reliance,64,paul,Lower,11-Apr-23,2025-10-09T08:53:20Z,2026-02-02T02:40:00Z,2024-10-27T03:33:20Z,154,STD,EUR,SL,2024-07-03T09:46:40Z,SETTL,true
Reliance,65,sweta,Lower,3-Feb-23,2024-03-09T16:00:00Z,2024-07-03T09:46:40Z,2024-10-27T03:33:20Z,157,STD,EUR,SL,2024-07-03T09:46:40Z,SETTL,true
Reliance,66,narendra,Lower,6-Feb-23,2024-03-09T16:00:00Z,2024-07-03T09:46:40Z,2024-10-27T03:33:20Z,160,STD,EUR,SL,2024-07-03T09:46:40Z,SETTL,false
Reliance,67,ramesh,Lower,9-Feb-23,2024-03-09T16:00:00Z,2024-07-03T09:46:40Z,2024-10-27T03:33:20Z,163,STD,EUR,SL,2024-07-03T09:46:40Z,SETTL,false
Reliance,68,kalmesh,Lower,3-Jan-24,2024-07-03T09:46:40Z,2024-10-27T03:33:20Z,2024-10-27T03:33:20Z,166,STD,EUR,SL,2024-07-03T09:46:40Z,SETTL,false