**Except / Minus:**

- The **Except / Minus** operator returns **all rows** from **table_A** that **do not exist** in **table_B**.

- Returns rows from the result set of the **first SELECT** statement that are **not present** in the result set of the **second SELECT** statement.

   - **Query1 - Query2**
   - It also **eliminates duplicate** rows.

**What happens?**

- SQL Server first collects all **distinct rows** from the **first SELECT**.

- It then **removes** any rows that **exactly match a row in the second SELECT**.


**I have two tables and first table has 100 records and second table has 90 records. How to get those missed records?**

**Basic Rules:**

- The **number and the order** of the **columns** must be the **same** in **both the queries**.
- Corresponding columns must have **compatible data types**.
- It automatically **removes duplicates** (similar to DISTINCT).
  - If you want to **retain duplicates**, use **NOT EXISTS or LEFT JOIN ... IS NULL**.

**Valid in:**
- Oracle
- Snowflake
- Google BigQuery

**Not valid in:**
- **SQL Server:**
  - Use **EXCEPT** instead.
- **MySQL**:
  - Doesn't support **MINUS or EXCEPT**.
  - Use **LEFT JOIN ... IS NULL**.

- This is similar to **minus** operator in **oracle**.

**Syntax**

     SELECT <columns> FROM <TableA>
     [WHERE ...]
     EXCEPT
     SELECT <columns> FROM <TableB>
     [WHERE ...];

In [0]:
%sql
DROP TABLE IF EXISTS Except_TableA;

CREATE TABLE Except_TableA
(
 EmployeeID int,
 Name VARCHAR(50),
 Gender VARCHAR(10),
 Country VARCHAR(20),
 Designation VARCHAR(20)
);

INSERT INTO Except_TableA VALUES (101, 'Suhash', 'M', 'India', 'Manager');
INSERT INTO Except_TableA VALUES (102, 'Veena', 'F', 'India', 'Sr Manager');
INSERT INTO Except_TableA VALUES (103, 'Sathya', 'M', 'India', 'Associate');
INSERT INTO Except_TableA VALUES (104, 'Marc', 'M', 'US', 'Project Manager');
INSERT INTO Except_TableA VALUES (105, 'Brad', 'M', 'Sweden', 'Dy Manager');
INSERT INTO Except_TableA VALUES (106, 'Paul', 'M', 'AUS', 'Lead');
INSERT INTO Except_TableA VALUES (107, 'Srinidi', 'F', 'India', 'DGM');

SELECT * FROM Except_TableA;

EmployeeID,Name,Gender,Country,Designation
104,Marc,M,US,Project Manager
103,Sathya,M,India,Associate
105,Brad,M,Sweden,Dy Manager
102,Veena,F,India,Sr Manager
101,Suhash,M,India,Manager
107,Srinidi,F,India,DGM
106,Paul,M,AUS,Lead

In [0]:
%sql
DROP TABLE IF EXISTS Except_TableB;

CREATE TABLE Except_TableB
(
 EmployeeID int,
 Name VARCHAR(50),
 Gender VARCHAR(10),
 Country VARCHAR(20),
 Designation VARCHAR(20)
);

INSERT INTO Except_TableB VALUES (101, 'Swapna', 'F', 'India', 'DGM');
INSERT INTO Except_TableB VALUES (102, 'Tanvee', 'F', 'India', 'Manager');
INSERT INTO Except_TableB VALUES (103, 'Somesh', 'M', 'India', 'Jr Manager');
INSERT INTO Except_TableB VALUES (104, 'Marc', 'M', 'US', 'Project Manager'); -- common records b/n TableA and TableB
INSERT INTO Except_TableB VALUES (105, 'Brad', 'M', 'Sweden', 'Dy Manager');  -- common records b/n TableA and TableB
INSERT INTO Except_TableB VALUES (106, 'Lopa', 'F', 'UK', 'Lead');
INSERT INTO Except_TableB VALUES (107, 'Srinivas', 'M', 'India', 'AGM');

SELECT * FROM Except_TableB;

EmployeeID,Name,Gender,Country,Designation
103,Somesh,M,India,Jr Manager
104,Marc,M,US,Project Manager
105,Brad,M,Sweden,Dy Manager
102,Tanvee,F,India,Manager
107,Srinivas,M,India,AGM
101,Swapna,F,India,DGM
106,Lopa,F,UK,Lead

**1) Comparing Subsets of Columns**

In [0]:
%sql
SELECT EmployeeID
FROM Except_TableA

EXCEPT

SELECT EmployeeID
FROM Except_TableB;

**2) Returns the unique rows from the left query that aren’t in the right query’s results**
- The **number and the order** of the **columns** are **same** in both the queries.
- The **data types** are **same**.

In [0]:
%sql
SELECT EmployeeID, Name, Gender, Country, Designation
FROM Except_TableA
EXCEPT
SELECT EmployeeID, Name, Gender, Country, Designation
FROM Except_TableB

EmployeeID,Name,Gender,Country,Designation
103,Sathya,M,India,Associate
102,Veena,F,India,Sr Manager
101,Suhash,M,India,Manager
107,Srinidi,F,India,DGM
106,Paul,M,AUS,Lead

**Order By:**
- If you want the **final result ordered**, you can put **ORDER BY** only after the **second SELECT**.

In [0]:
%sql
SELECT EmployeeID, Name, Gender, Country, Designation
FROM Except_TableA
EXCEPT
SELECT EmployeeID, Name, Gender, Country, Designation
FROM Except_TableB
ORDER BY EmployeeID;

EmployeeID,Name,Gender,Country,Designation
101,Suhash,M,India,Manager
102,Veena,F,India,Sr Manager
103,Sathya,M,India,Associate
106,Paul,M,AUS,Lead
107,Srinidi,F,India,DGM

**3) To retrieve all of the rows from Table B that does not exist in Table A, reverse the two queries as shown below**
- The **number and the order** of the **columns** are **same** in both the queries.
- The **data types** are **same**.

In [0]:
%sql
SELECT EmployeeID, Name, Gender, Country, Designation
FROM Except_TableB
EXCEPT
SELECT EmployeeID, Name, Gender, Country, Designation
FROM Except_TableA

EmployeeID,Name,Gender,Country,Designation
103,Somesh,M,India,Jr Manager
102,Tanvee,F,India,Manager
107,Srinivas,M,India,AGM
101,Swapna,F,India,DGM
106,Lopa,F,UK,Lead

**4) [NUM_COLUMNS_MISMATCH]**
- **Unequal number** of columns
- The **data types** are **same**.

In [0]:
%sql
SELECT EmployeeID, Name, Gender, Country, Designation
FROM Except_TableA
EXCEPT
SELECT EmployeeID, Name, Gender, Country
FROM Except_TableB

org.apache.spark.sql.catalyst.ExtendedAnalysisException: [NUM_COLUMNS_MISMATCH] EXCEPT can only be performed on inputs with the same number of columns, but the first input has 5 columns and the second input has 4 columns. SQLSTATE: 42826; line 1 pos 0;
'Except false
:- Project [EmployeeID#9451, Name#9452, Gender#9453, Country#9454, Designation#9455]
:  +- SubqueryAlias spark_catalog.default.Except_TableA
:     +- Relation spark_catalog.default.except_tablea[EmployeeID#9451,Name#9452,Gender#9453,Country#9454,Designation#9455] parquet
+- Project [EmployeeID#9456, Name#9457, Gender#9458, Country#9459]
   +- SubqueryAlias spark_catalog.default.Except_TableB
      +- Relation spark_catalog.default.except_tableb[EmployeeID#9456,Name#9457,Gender#9458,Country#9459,Designation#9460] parquet

	at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAnalysis(package.scala:55)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$33(CheckAnalysis.scala:643)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$33$adapted(CheckAnalysis.scala:634)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:634)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:216)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:293)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:216)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:198)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:369)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis$1(CheckAnalysis.scala:186)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:174)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:174)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:369)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$2(Analyzer.scala:424)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:194)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:424)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:443)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:421)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$analyzed$1(QueryExecution.scala:299)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:489)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$5(QueryExecution.scala:667)
	at org.apache.spark.sql.execution.SQLExecution$.withExecutionPhase(SQLExecution.scala:146)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$4(QueryExecution.scala:667)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:1237)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:660)
	at com.databricks.util.LexicalThreadLocal$Handle.runWith(LexicalThreadLocal.scala:63)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:657)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1210)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:657)
	at org.apache.spark.sql.execution.QueryExecution.analyzed$lzycompute(QueryExecution.scala:293)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:292)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:274)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:130)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1210)
	at org.apache.spark.sql.SparkSession.$anonfun$withActiveAndFrameProfiler$1(SparkSession.scala:1217)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.SparkSession.withActiveAndFrameProfiler(SparkSession.scala:1217)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:122)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$4(SparkSession.scala:989)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:1210)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:973)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:1012)
	at com.databricks.backend.daemon.driver.DriverLocal$DbClassicStrategy.executeSQLQuery(DriverLocal.scala:324)
	at com.databricks.backend.daemon.driver.DriverLocal.executeSQLSubCommand(DriverLocal.scala:424)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$executeSql$1(DriverLocal.scala:446)
	at scala.collection.immutable.List.map(List.scala:293)
	at com.databricks.backend.daemon.driver.DriverLocal.executeSql(DriverLocal.scala:441)
	at com.databricks.backend.daemon.driver.JupyterDriverLocal.repl(JupyterDriverLocal.scala:1054)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$execute$33(DriverLocal.scala:1195)
	at com.databricks.unity.EmptyHandle$.runWith(UCSHandle.scala:133)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$execute$28(DriverLocal.scala:1186)
	at com.databricks.logging.AttributionContextTracing.$anonfun$withAttributionContext$1(AttributionContextTracing.scala:48)
	at com.databricks.logging.AttributionContext$.$anonfun$withValue$1(AttributionContext.scala:276)
	at scala.util.DynamicVariable.withValue(DynamicVariable.scala:62)
	at com.databricks.logging.AttributionContext$.withValue(AttributionContext.scala:272)
	at com.databricks.logging.AttributionContextTracing.withAttributionContext(AttributionContextTracing.scala:46)
	at com.databricks.logging.AttributionContextTracing.withAttributionContext$(AttributionContextTracing.scala:43)
	at com.databricks.backend.daemon.driver.DriverLocal.withAttributionContext(DriverLocal.scala:97)
	at com.databricks.logging.AttributionContextTracing.withAttributionTags(AttributionContextTracing.scala:95)
	at com.databricks.logging.AttributionContextTracing.withAttributionTags$(AttributionContextTracing.scala:76)
	at com.databricks.backend.daemon.driver.DriverLocal.withAttributionTags(DriverLocal.scala:97)
	at com.databricks.backend.daemon.driver.DriverLocal.$anonfun$execute$1(DriverLocal.scala:1122)
	at com.databricks.backend.daemon.driver.DriverLocal$.$anonfun$maybeSynchronizeExecution$4(DriverLocal.scala:1542)
	at com.databricks.backend.daemon.driver.DriverLocal.execute(DriverLocal.scala:799)
	at com.databricks.backend.daemon.driver.DriverWrapper.$anonfun$tryExecutingCommand$2(DriverWrapper.scala:961)
	at scala.util.Try$.apply(Try.scala:213)
	at com.databricks.backend.daemon.driver.DriverWrapper.$anonfun$tryExecutingCommand$1(DriverWrapper.scala:950)
	at com.databricks.backend.daemon.driver.DriverWrapper.tryExecutingCommand(DriverWrapper.scala:982)
	at com.databricks.backend.daemon.driver.DriverWrapper.executeCommandAndGetError(DriverWrapper.scala:746)
	at com.databricks.backend.daemon.driver.DriverWrapper.executeCommand(DriverWrapper.scala:814)
	at com.databricks.backend.daemon.driver.DriverWrapper.runInnerLoop(DriverWrapper.scala:615)
	at com.databricks.backend.daemon.driver.DriverWrapper.runInner(DriverWrapper.scala:541)
	at com.databricks.backend.daemon.driver.DriverWrapper.run(DriverWrapper.scala:335)
	at java.lang.Thread.run(Thread.java:750)

**4) [NUM_COLUMNS_MISMATCH]**
- **Number of Columns** are **Same**.
- Columns **order is different**.

In [0]:
%sql
SELECT Name, EmployeeID, Gender, Country, Designation
FROM Except_TableA
EXCEPT
SELECT EmployeeID, Name, Gender, Country, Designation
FROM Except_TableB

Name,EmployeeID,Gender,Country,Designation
Marc,104,M,US,Project Manager
Sathya,103,M,India,Associate
Brad,105,M,Sweden,Dy Manager
Veena,102,F,India,Sr Manager
Suhash,101,M,India,Manager
Srinidi,107,F,India,DGM
Paul,106,M,AUS,Lead

| TableA Field | TableB Field | Result     |
| ------------ | ------------ | ---------- |
| Name         | Id           | mismatched |
| Id           | Name         | mismatched |
| Gender       | Gender       | matched    |
| Country      | Country      | matched    |
| Designation  | Designation  | matched    |

- Because most rows have **different Name vs Id values**, **none matched.** So EXCEPT returned **all rows** from **TableA**.

**5) The column names do not have to be the same:**

- Even though **id ≠ emp_id** and **name ≠ emp_name**, this will still work as long as:

  - Both queries return the **same number of columns**.
  - The **data types** of corresponding columns match or are compatible.

**Summary**:

❌ **Column names:** Don't need to match.

✅ **Number of columns:** Must match.

✅ **Data types:** Must be compatible.

In [0]:
%sql
DROP TABLE IF EXISTS Except_TableC;

Create Table Except_TableC
(
 emp_id int,
 emp_name VARCHAR(50),
 Gender VARCHAR(10),
 Country VARCHAR(20),
 Designation VARCHAR(20)
);

INSERT INTO Except_TableC VALUES (101, 'Swapna', 'F', 'India', 'DGM');
INSERT INTO Except_TableC VALUES (102, 'Tanvee', 'F', 'India', 'Manager');
INSERT INTO Except_TableC VALUES (103, 'Somesh', 'M', 'India', 'Jr Manager');
INSERT INTO Except_TableC VALUES (104, 'Marc', 'M', 'US', 'Project Manager'); -- common records b/n TableA and TableB
INSERT INTO Except_TableC VALUES (105, 'Brad', 'M', 'Sweden', 'Dy Manager');  -- common records b/n TableA and TableB
INSERT INTO Except_TableC VALUES (106, 'Lopa', 'F', 'UK', 'Lead');
INSERT INTO Except_TableC VALUES (107, 'Srinivas', 'M', 'India', 'AGM');

SELECT * FROM Except_TableC;

emp_id,emp_name,Gender,Country,Designation
103,Somesh,M,India,Jr Manager
104,Marc,M,US,Project Manager
105,Brad,M,Sweden,Dy Manager
102,Tanvee,F,India,Manager
107,Srinivas,M,India,AGM
101,Swapna,F,India,DGM
106,Lopa,F,UK,Lead

In [0]:
%sql
SELECT EmployeeID, Name, Gender, Country, Designation
FROM Except_TableA
EXCEPT
SELECT emp_id, emp_name, Gender, Country, Designation
FROM Except_TableC;

EmployeeID,Name,Gender,Country,Designation
103,Sathya,M,India,Associate
102,Veena,F,India,Sr Manager
101,Suhash,M,India,Manager
107,Srinidi,F,India,DGM
106,Paul,M,AUS,Lead