**1) Combine COALESCE with CONCAT**

In [0]:
%sql
DROP TABLE IF EXISTS tbl_coalesce_contacts;

CREATE TABLE tbl_coalesce_contacts (
    contact_id INT,
    phone_mobile VARCHAR(15),
    phone_home VARCHAR(15)
);

INSERT INTO tbl_coalesce_contacts
VALUES
(1, '9876543210', NULL),
(2, NULL, '0401234567'),
(3, NULL, NULL),
(4, NULL, '080987654'),
(5, '987654321', NULL),
(6, '6789654321', '9887612345');

SELECT * FROM tbl_coalesce_contacts;

contact_id,phone_mobile,phone_home
1,9876543210,null
2,null,0401234567
3,null,null
4,null,080987654
5,987654321,null
6,6789654321,9887612345

In [0]:
%sql
SELECT contact_id, phone_mobile, phone_home,
       CONCAT(phone_mobile, ' (Mobile)') AS Concate_Phone_Mobile,
       CONCAT(phone_home, ' (Home)') AS Concate_Phone_Home,
       COALESCE(
           CONCAT(phone_mobile, ' (Mobile)'),
           CONCAT(phone_home, ' (Home)'),
           'No Phone') AS preferred_contact
FROM tbl_coalesce_contacts;

contact_id,phone_mobile,phone_home,Concate_Phone_Mobile,Concate_Phone_Home,preferred_contact
1,9876543210,null,9876543210 (Mobile),null,9876543210 (Mobile)
2,null,0401234567,null,0401234567 (Home),0401234567 (Home)
3,null,null,null,null,No Phone
4,null,080987654,null,080987654 (Home),080987654 (Home)
5,987654321,null,987654321 (Mobile),null,987654321 (Mobile)
6,6789654321,9887612345,6789654321 (Mobile),9887612345 (Home),6789654321 (Mobile)

**How it works:**

- **CONCAT()** joins **strings** together.

- **COALESCE()** returns the **first non-NULL** expression among its arguments.

- If **phone_mobile is not NULL**, it returns that number labeled as **"(Mobile)"**.

- If **phone_mobile** is **NULL** but **phone_home** is **available**, it returns that labeled as **"(Home)"**.

- If **both are NULL**, it returns the string **"No Phone"**.

**EX 01**

In [0]:
%sql
DROP TABLE IF EXISTS tbl_coalesce_concat_employees;

-- Create the employees table
CREATE TABLE tbl_coalesce_concat_employees (
    emp_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50)
);

-- Insert sample data
INSERT INTO tbl_coalesce_concat_employees (emp_id, first_name, last_name)
VALUES
(1, 'Ravi', 'Kumar'),
(2, 'Bindu', NULL),
(3, NULL, 'Smitha'),
(4, NULL, NULL),
(5, 'Bhanu', 'Prakash');

SELECT * FROM tbl_coalesce_concat_employees;

emp_id,first_name,last_name
1,Ravi,Kumar
2,Bindu,null
3,null,Smitha
4,null,null
5,Bhanu,Prakash

In [0]:
%sql
-- Query: Combine first_name and last_name using COALESCE and CONCAT
SELECT first_name, last_name,
       COALESCE(first_name, '') AS Coalesce_FirstName,
       COALESCE(last_name, '') AS Coalesce_LastName,
       CONCAT(
         COALESCE(first_name, ''), 
         '_', 
         COALESCE(last_name, '')) AS Coalesce_FirstName_LastName
FROM tbl_coalesce_concat_employees;

first_name,last_name,Coalesce_FirstName,Coalesce_LastName,Coalesce_FirstName_LastName
Ravi,Kumar,Ravi,Kumar,Ravi_Kumar
Bindu,null,Bindu,,Bindu_
null,Smitha,,Smitha,_Smitha
null,null,,,_
Bhanu,Prakash,Bhanu,Prakash,Bhanu_Prakash

**Explanation:**

- If **first_name** is **NULL**, it uses **'' (empty string)**.

- If **last_name** is **NULL**, it also uses **''**.

- The result is a safe **full name** with **no NULL** in output.

**EX 02**

In [0]:
%sql
DROP TABLE IF EXISTS tbl_coalesce_concat_contacts;

-- Create the table
CREATE TABLE tbl_coalesce_concat_contacts (
    contact_id INT,
    phone_mobile VARCHAR(15),
    phone_home VARCHAR(15)
);

-- Insert sample data
INSERT INTO tbl_coalesce_concat_contacts (contact_id, phone_mobile, phone_home)
VALUES
(1, '9876543210', NULL),
(2, NULL, '0401234567'),
(3, NULL, NULL),
(4, NULL, '080987654'),
(5, '987654321', NULL);

SELECT * FROM tbl_coalesce_concat_contacts;

contact_id,phone_mobile,phone_home
1,9876543210,null
2,null,0401234567
3,null,null
4,null,080987654
5,987654321,null

In [0]:
%sql
SELECT phone_mobile, phone_home,
       COALESCE(phone_mobile, 'N/A') AS Coalesce_Phone_Mobile,
       COALESCE(phone_home, 'N/A') AS Coalesce_Phone_Home,
       CONCAT(
        'Mobile: ', COALESCE(phone_mobile, 'N/A'),
        ', Home: ', COALESCE(phone_home, 'N/A')) AS contact_info
FROM tbl_coalesce_concat_contacts;

phone_mobile,phone_home,Coalesce_Phone_Mobile,Coalesce_Phone_Home,contact_info
9876543210,null,9876543210,N/A,"Mobile: 9876543210, Home: N/A"
null,0401234567,N/A,0401234567,"Mobile: N/A, Home: 0401234567"
null,null,N/A,N/A,"Mobile: N/A, Home: N/A"
null,080987654,N/A,080987654,"Mobile: N/A, Home: 080987654"
987654321,null,987654321,N/A,"Mobile: 987654321, Home: N/A"

**EX 03**

In [0]:
%sql
DROP TABLE IF EXISTS tbl_coalesce_concat_addresses;

-- Create the table
CREATE TABLE tbl_coalesce_concat_addresses (
    address_id INT,
    city VARCHAR(50),
    state VARCHAR(50),
    country VARCHAR(50)
);

-- Insert sample data
INSERT INTO tbl_coalesce_concat_addresses (address_id, city, state, country)
VALUES
(1, 'Bangalore', 'Karnataka', 'India'),
(2, NULL, 'California', 'USA'),
(3, 'Toronto', NULL, 'Canada'),
(4, NULL, NULL, NULL),
(5, 'London', 'England', NULL);

SELECT * FROM tbl_coalesce_concat_addresses;

address_id,city,state,country
1,Bangalore,Karnataka,India
2,null,California,USA
3,Toronto,null,Canada
4,null,null,null
5,London,England,null

In [0]:
%sql
SELECT city, state, country,
       COALESCE(city, 'Unknown City') AS Colaesce_City,
       COALESCE(state, 'Unknown State') AS Colaesce_State,
       COALESCE(country, 'Unknown Country') AS Colaesce_Country,
       CONCAT_WS(
         ' - ',
         COALESCE(city, 'Unknown City'),
         COALESCE(state, 'Unknown State'),
         COALESCE(country, 'Unknown Country')) AS location
FROM tbl_coalesce_concat_addresses;

city,state,country,Colaesce_City,Colaesce_State,Colaesce_Country,location
Bangalore,Karnataka,India,Bangalore,Karnataka,India,Bangalore - Karnataka - India
null,California,USA,Unknown City,California,USA,Unknown City - California - USA
Toronto,null,Canada,Toronto,Unknown State,Canada,Toronto - Unknown State - Canada
null,null,null,Unknown City,Unknown State,Unknown Country,Unknown City - Unknown State - Unknown Country
London,England,null,London,England,Unknown Country,London - England - Unknown Country

- **CONCAT_WS(separator, ...) skips NULLs** automatically.

- But if you still want **default values**, use **COALESCE**.