In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

**1) Write DataFrame to Avro & Load Avro files into DataFrame**

**a) Without define schema**

In [0]:
# Sample DataFrame
data = [(1, "kiran", 50000, "Chennai", 2012, 8, "Batman", 9.8),
        (2, "Jayesh", 60000, "Bangalore", 2012, 8, "Hero", 8.7),
        (3, "Mithun", 55000, "Hyderabad", 2012, 7, "Robot", 5.5),
        (4, "Muthu", 25000, "Chennai", 2011, 7, "Git", 2.0),
        (5, "Nirmal", 35000, "Nasik", 2011, 8, "Azure", 2.5),
        (6, "Naresh", 65000, "Hyderabad", 2012, 7, "ADF", 6.5),
        (7, "Kamal", 85000, "Chennai", 2011, 7, "ADB", 3.8),
        (8, "Kiran", 95000, "Nasik", 2011, 8, "Azure", 4.5)]
        
columns = ["id", "name", "salary", "city", "year", "month", "title", "rating"]

df = spark.createDataFrame(data, columns)
display(df)

id,name,salary,city,year,month,title,rating
1,kiran,50000,Chennai,2012,8,Batman,9.8
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

In [0]:
# Write DataFrame to Avro
df.write.format("avro").mode("overwrite").save("/FileStore/tables/avro/Employee_data")

# Write DataFrame to Avro with partition by "city"
df.write.format("avro").mode("overwrite").partitionBy("city").save("/FileStore/tables/avro/city_partitioned")

# Write DataFrame to Avro with partition by "year", "month"
df.write.format("avro").mode("overwrite").partitionBy("year", "month").save("/FileStore/tables/avro/year_month_partitioned")

**Supported Avro Compression Codecs in PySpark**
- "uncompressed" (for no compression)
- "snappy" (default and recommended)
- "deflate"
- "bzip2"
- "xz"
- **"lz4" and "gzip"** are **NOT supported** for Avro in PySpark.

In [0]:
# Write DataFrame to Avro with compression "snappy"
df.write.format("avro").mode("overwrite")\
    .option("compression", "snappy").save("/FileStore/tables/avro/Employee_data_snappy")

# Write DataFrame to Avro with compression "uncompressed"
df.write.format("avro").mode("overwrite")\
    .option("compression", "uncompressed").save("/FileStore/tables/avro/Employee_data_uncompressed")

# Write DataFrame to Avro with compression "deflate"
df.write.format("avro").mode("overwrite")\
    .option("compression", "deflate").save("/FileStore/tables/avro/Employee_data_deflate")

# Write DataFrame to Avro with compression "bzip2"
df.write.format("avro").mode("overwrite")\
    .option("compression", "bzip2").save("/FileStore/tables/avro/Employee_data_bzip2")

# Write DataFrame to Avro with compression "xz"
df.write.format("avro").mode("overwrite")\
    .option("compression", "xz").save("/FileStore/tables/avro/Employee_data_xz")

     %fs ls dbfs:/FileStore/tables/avro/
                      (or)
     display(dbutils.fs.ls("/FileStore/tables/avro/"))

In [0]:
%fs ls dbfs:/FileStore/tables/avro/

path,name,size,modificationTime
dbfs:/FileStore/tables/avro/Employee_data/,Employee_data/,0,0
dbfs:/FileStore/tables/avro/Employee_data_bzip2/,Employee_data_bzip2/,0,0
dbfs:/FileStore/tables/avro/Employee_data_deflate/,Employee_data_deflate/,0,0
dbfs:/FileStore/tables/avro/Employee_data_snappy/,Employee_data_snappy/,0,0
dbfs:/FileStore/tables/avro/Employee_data_uncompressed/,Employee_data_uncompressed/,0,0
dbfs:/FileStore/tables/avro/Employee_data_xz/,Employee_data_xz/,0,0
dbfs:/FileStore/tables/avro/city_partitioned/,city_partitioned/,0,0
dbfs:/FileStore/tables/avro/year_month_partitioned/,year_month_partitioned/,0,0

In [0]:
%fs ls dbfs:/FileStore/tables/avro/Employee_data/

path,name,size,modificationTime
dbfs:/FileStore/tables/avro/Employee_data/_SUCCESS,_SUCCESS,0,1739933099000
dbfs:/FileStore/tables/avro/Employee_data/_committed_3582650581164422351,_committed_3582650581164422351,792,1739933099000
dbfs:/FileStore/tables/avro/Employee_data/_started_3582650581164422351,_started_3582650581164422351,0,1739933098000
dbfs:/FileStore/tables/avro/Employee_data/part-00000-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-56-1-c000.snappy.avro,part-00000-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-56-1-c000.snappy.avro,529,1739933099000
dbfs:/FileStore/tables/avro/Employee_data/part-00001-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-57-1-c000.snappy.avro,part-00001-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-57-1-c000.snappy.avro,530,1739933099000
dbfs:/FileStore/tables/avro/Employee_data/part-00002-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-58-1-c000.snappy.avro,part-00002-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-58-1-c000.snappy.avro,531,1739933099000
dbfs:/FileStore/tables/avro/Employee_data/part-00003-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-59-1-c000.snappy.avro,part-00003-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-59-1-c000.snappy.avro,526,1739933099000
dbfs:/FileStore/tables/avro/Employee_data/part-00004-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-60-1-c000.snappy.avro,part-00004-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-60-1-c000.snappy.avro,527,1739933099000
dbfs:/FileStore/tables/avro/Employee_data/part-00005-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-61-1-c000.snappy.avro,part-00005-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-61-1-c000.snappy.avro,529,1739933099000
dbfs:/FileStore/tables/avro/Employee_data/part-00006-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-62-1-c000.snappy.avro,part-00006-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-62-1-c000.snappy.avro,526,1739933099000
dbfs:/FileStore/tables/avro/Employee_data/part-00007-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-63-1-c000.snappy.avro,part-00007-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-63-1-c000.snappy.avro,525,1739933099000

In [0]:
# Read Avro file with schema
df123 = spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data/part-00000-tid-3582650581164422351-7fbbe85c-9c76-46a7-b7c9-947e04b72b1c-56-1-c000.snappy.avro")

# Show DataFrame
display(df123)

id,name,salary,city,year,month,title,rating
1,kiran,50000,Chennai,2012,8,Batman,9.8

In [0]:
# Read Avro file with schema
df1 = spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data/")

# Show DataFrame
display(df1)

id,name,salary,city,year,month,title,rating
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
1,kiran,50000,Chennai,2012,8,Batman,9.8
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, LongType, DoubleType

# Define schema
schema = StructType([StructField("id", LongType(), True),
                     StructField("name", StringType(), True),
                     StructField("salary", LongType(), True),
                     StructField("city", StringType(), True),
                     StructField("year", LongType(), True),
                     StructField("month", LongType(), True),
                     StructField("title", StringType(), True),
                     StructField("rating", DoubleType(), True)
                    ])

# Read Avro file with schema
df1 = spark.read.format("avro").schema(schema).load("dbfs:/FileStore/tables/avro/Employee_data/")

# Show DataFrame
display(df1)

id,name,salary,city,year,month,title,rating
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
1,kiran,50000,Chennai,2012,8,Batman,9.8
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

In [0]:
# Handling Compression
# Read Avro file with specified compression code
df_snappy = spark.read.format("avro")\
    .option("compression", "snappy").load("/FileStore/tables/avro/Employee_data_snappy")

# Show DataFrame
display(df_snappy)

# Read Avro file with specified compression code "uncompressed"
df_uncompressed = spark.read.format("avro")\
    .option("compression", "uncompressed").load("/FileStore/tables/avro/Employee_data_uncompressed")

# Show DataFrame
display(df_uncompressed)

# Read Avro file with specified compression code "deflate"
df_deflate = spark.read.format("avro")\
    .option("compression", "deflate").load("/FileStore/tables/avro/Employee_data_deflate")

# Show DataFrame
display(df_deflate)

# Read Avro file with specified compression code "bzip2"
df_bzip2 = spark.read.format("avro")\
    .option("compression", "bzip2").load("/FileStore/tables/avro/Employee_data_bzip2")

# Show DataFrame
display(df_bzip2)

# Read Avro file with specified compression code "xz"
df_xz = spark.read.format("avro")\
    .option("compression", "xz").load("/FileStore/tables/avro/Employee_data_xz")

# Show DataFrame
display(df_xz)

id,name,salary,city,year,month,title,rating
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
1,kiran,50000,Chennai,2012,8,Batman,9.8
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

id,name,salary,city,year,month,title,rating
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
1,kiran,50000,Chennai,2012,8,Batman,9.8
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

id,name,salary,city,year,month,title,rating
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
1,kiran,50000,Chennai,2012,8,Batman,9.8
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
7,Kamal,85000,Chennai,2011,7,ADB,3.8
4,Muthu,25000,Chennai,2011,7,Git,2.0
8,Kiran,95000,Nasik,2011,8,Azure,4.5

id,name,salary,city,year,month,title,rating
1,kiran,50000,Chennai,2012,8,Batman,9.8
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
8,Kiran,95000,Nasik,2011,8,Azure,4.5
7,Kamal,85000,Chennai,2011,7,ADB,3.8

id,name,salary,city,year,month,title,rating
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
1,kiran,50000,Chennai,2012,8,Batman,9.8
4,Muthu,25000,Chennai,2011,7,Git,2.0
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

**b) With schema**

In [0]:
# Sample DataFrame
data = [(1, "kiran", 50000, "Chennai", 2012, 8, "Batman", 9.8),
        (2, "Jayesh", 60000, "Bangalore", 2012, 8, "Hero", 8.7),
        (3, "Mithun", 55000, "Hyderabad", 2012, 7, "Robot", 5.5),
        (4, "Muthu", 25000, "Chennai", 2011, 7, "Git", 2.0),
        (5, "Nirmal", 35000, "Nasik", 2011, 8, "Azure", 2.5),
        (6, "Naresh", 65000, "Hyderabad", 2012, 7, "ADF", 6.5),
        (7, "Kamal", 85000, "Chennai", 2011, 7, "ADB", 3.8),
        (8, "Kiran", 95000, "Nasik", 2011, 8, "Azure", 4.5)]
        
# Define schema
schema = StructType([StructField("id", IntegerType(), True),
                     StructField("name", StringType(), True),
                     StructField("salary", IntegerType(), True),
                     StructField("city", StringType(), True),
                     StructField("year", IntegerType(), True),
                     StructField("month", IntegerType(), True),
                     StructField("title", StringType(), True),
                     StructField("rating", DoubleType(), True)
                    ])

df_schema = spark.createDataFrame(data, schema)
display(df_schema)

id,name,salary,city,year,month,title,rating
1,kiran,50000,Chennai,2012,8,Batman,9.8
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

In [0]:
# Write DataFrame to Avro
df_schema.write.format("avro").mode("overwrite").save("/FileStore/tables/avro/Employee_data_schema")

In [0]:
%fs ls dbfs:/FileStore/tables/avro/

path,name,size,modificationTime
dbfs:/FileStore/tables/avro/Employee_data/,Employee_data/,0,0
dbfs:/FileStore/tables/avro/Employee_data_bzip2/,Employee_data_bzip2/,0,0
dbfs:/FileStore/tables/avro/Employee_data_deflate/,Employee_data_deflate/,0,0
dbfs:/FileStore/tables/avro/Employee_data_schema/,Employee_data_schema/,0,0
dbfs:/FileStore/tables/avro/Employee_data_snappy/,Employee_data_snappy/,0,0
dbfs:/FileStore/tables/avro/Employee_data_uncompressed/,Employee_data_uncompressed/,0,0
dbfs:/FileStore/tables/avro/Employee_data_xz/,Employee_data_xz/,0,0
dbfs:/FileStore/tables/avro/city_partitioned/,city_partitioned/,0,0
dbfs:/FileStore/tables/avro/year_month_partitioned/,year_month_partitioned/,0,0

In [0]:
# Read Avro file with schema
df1_schema = spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/")

# Show DataFrame
display(df1_schema)

id,name,salary,city,year,month,title,rating
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
1,kiran,50000,Chennai,2012,8,Batman,9.8
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

In [0]:
# Define schema
schema = StructType([StructField("id", IntegerType(), True),
                     StructField("name", StringType(), True),
                     StructField("salary", IntegerType(), True),
                     StructField("city", StringType(), True),
                     StructField("year", IntegerType(), True),
                     StructField("month", IntegerType(), True),
                     StructField("title", StringType(), True),
                     StructField("rating", DoubleType(), True)
                    ])

# Read Avro file with schema
df2_schema = spark.read.format("avro").schema(schema).load("dbfs:/FileStore/tables/avro/Employee_data_schema/")

# Show DataFrame
display(df2_schema)

id,name,salary,city,year,month,title,rating
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7
1,kiran,50000,Chennai,2012,8,Batman,9.8
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

In [0]:
df2_schema.filter("city == 'Chennai'").display()

id,name,salary,city,year,month,title,rating
1,kiran,50000,Chennai,2012,8,Batman,9.8
4,Muthu,25000,Chennai,2011,7,Git,2.0
7,Kamal,85000,Chennai,2011,7,ADB,3.8

In [0]:
df2_schema.filter("year == 2011").display()

id,name,salary,city,year,month,title,rating
5,Nirmal,35000,Nasik,2011,8,Azure,2.5
4,Muthu,25000,Chennai,2011,7,Git,2.0
7,Kamal,85000,Chennai,2011,7,ADB,3.8
8,Kiran,95000,Nasik,2011,8,Azure,4.5

In [0]:
from pyspark.sql.functions import concat_ws
df2_schema = df2_schema.withColumn("full_name", concat_ws(", ", "name", "title"))
display(df2_schema)

id,name,salary,city,year,month,title,rating,full_name
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5,"Mithun, Robot"
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7,"Jayesh, Hero"
1,kiran,50000,Chennai,2012,8,Batman,9.8,"kiran, Batman"
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5,"Naresh, ADF"
5,Nirmal,35000,Nasik,2011,8,Azure,2.5,"Nirmal, Azure"
4,Muthu,25000,Chennai,2011,7,Git,2.0,"Muthu, Git"
7,Kamal,85000,Chennai,2011,7,ADB,3.8,"Kamal, ADB"
8,Kiran,95000,Nasik,2011,8,Azure,4.5,"Kiran, Azure"

In [0]:
# Write DataFrame to Avro
df2_schema.write.format("avro").mode("overwrite").save("dbfs:/FileStore/tables/avro/Employee_data_schema/")

In [0]:
# Read Avro file with schema
df3_schema = spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/")

# Show DataFrame
display(df3_schema)

id,name,salary,city,year,month,title,rating,full_name
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5,"Mithun, Robot"
1,kiran,50000,Chennai,2012,8,Batman,9.8,"kiran, Batman"
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7,"Jayesh, Hero"
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5,"Naresh, ADF"
5,Nirmal,35000,Nasik,2011,8,Azure,2.5,"Nirmal, Azure"
7,Kamal,85000,Chennai,2011,7,ADB,3.8,"Kamal, ADB"
8,Kiran,95000,Nasik,2011,8,Azure,4.5,"Kiran, Azure"
4,Muthu,25000,Chennai,2011,7,Git,2.0,"Muthu, Git"

In [0]:
%fs ls dbfs:/FileStore/tables/avro/Employee_data_schema/

path,name,size,modificationTime
dbfs:/FileStore/tables/avro/Employee_data_schema/_SUCCESS,_SUCCESS,0,1739936556000
dbfs:/FileStore/tables/avro/Employee_data_schema/_committed_5242275188727982932,_committed_5242275188727982932,800,1739935153000
dbfs:/FileStore/tables/avro/Employee_data_schema/_committed_6295649103379877596,_committed_6295649103379877596,1586,1739936303000
dbfs:/FileStore/tables/avro/Employee_data_schema/_committed_777174235325077592,_committed_777174235325077592,1567,1739936497000
dbfs:/FileStore/tables/avro/Employee_data_schema/_committed_7958917076368329786,_committed_7958917076368329786,1567,1739936556000
dbfs:/FileStore/tables/avro/Employee_data_schema/_started_5242275188727982932,_started_5242275188727982932,0,1739935152000
dbfs:/FileStore/tables/avro/Employee_data_schema/_started_6295649103379877596,_started_6295649103379877596,0,1739936302000
dbfs:/FileStore/tables/avro/Employee_data_schema/_started_777174235325077592,_started_777174235325077592,0,1739936496000
dbfs:/FileStore/tables/avro/Employee_data_schema/_started_7958917076368329786,_started_7958917076368329786,0,1739936555000
dbfs:/FileStore/tables/avro/Employee_data_schema/part-00000-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-357-1-c000.snappy.avro,part-00000-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-357-1-c000.snappy.avro,577,1739936556000
dbfs:/FileStore/tables/avro/Employee_data_schema/part-00001-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-358-1-c000.snappy.avro,part-00001-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-358-1-c000.snappy.avro,575,1739936555000
dbfs:/FileStore/tables/avro/Employee_data_schema/part-00002-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-359-1-c000.snappy.avro,part-00002-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-359-1-c000.snappy.avro,577,1739936556000
dbfs:/FileStore/tables/avro/Employee_data_schema/part-00003-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-360-1-c000.snappy.avro,part-00003-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-360-1-c000.snappy.avro,572,1739936556000
dbfs:/FileStore/tables/avro/Employee_data_schema/part-00004-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-361-1-c000.snappy.avro,part-00004-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-361-1-c000.snappy.avro,572,1739936556000
dbfs:/FileStore/tables/avro/Employee_data_schema/part-00005-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-362-1-c000.snappy.avro,part-00005-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-362-1-c000.snappy.avro,566,1739936556000
dbfs:/FileStore/tables/avro/Employee_data_schema/part-00006-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-363-1-c000.snappy.avro,part-00006-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-363-1-c000.snappy.avro,569,1739936555000
dbfs:/FileStore/tables/avro/Employee_data_schema/part-00007-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-364-1-c000.snappy.avro,part-00007-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-364-1-c000.snappy.avro,568,1739936556000

In [0]:
spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/part-00000-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-357-1-c000.snappy.avro").display()

spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/part-00001-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-358-1-c000.snappy.avro").display()

spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/part-00002-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-359-1-c000.snappy.avro").display()

spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/part-00003-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-360-1-c000.snappy.avro").display()

spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/part-00004-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-361-1-c000.snappy.avro").display()

spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/part-00005-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-362-1-c000.snappy.avro").display()

spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/part-00006-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-363-1-c000.snappy.avro").display()

spark.read.format("avro").load("dbfs:/FileStore/tables/avro/Employee_data_schema/part-00007-tid-7958917076368329786-dbbb74aa-1447-4dd9-8b14-13b8ff144aba-364-1-c000.snappy.avro").display()

id,name,salary,city,year,month,title,rating,full_name
3,Mithun,55000,Hyderabad,2012,7,Robot,5.5,"Mithun, Robot"

id,name,salary,city,year,month,title,rating,full_name
2,Jayesh,60000,Bangalore,2012,8,Hero,8.7,"Jayesh, Hero"

id,name,salary,city,year,month,title,rating,full_name
1,kiran,50000,Chennai,2012,8,Batman,9.8,"kiran, Batman"

id,name,salary,city,year,month,title,rating,full_name
6,Naresh,65000,Hyderabad,2012,7,ADF,6.5,"Naresh, ADF"

id,name,salary,city,year,month,title,rating,full_name
5,Nirmal,35000,Nasik,2011,8,Azure,2.5,"Nirmal, Azure"

id,name,salary,city,year,month,title,rating,full_name
4,Muthu,25000,Chennai,2011,7,Git,2.0,"Muthu, Git"

id,name,salary,city,year,month,title,rating,full_name
7,Kamal,85000,Chennai,2011,7,ADB,3.8,"Kamal, ADB"

id,name,salary,city,year,month,title,rating,full_name
8,Kiran,95000,Nasik,2011,8,Azure,4.5,"Kiran, Azure"