#### How to Check whether Column is Empty or NULL?

- There can be times when there is **NULL data** or **Column Value is Empty ('')**.
- There are many methods or functions to **identify the NULL or Empty values** and Below are some of them:
  - IS NULL
  - IS NOT NULL
  - ISNULL() Function
  - NOT ISNULL() Function
  - LEN()

##### 1) IS NULL

In [0]:
%sql
-- Create sample table
DROP TABLE IF EXISTS StudentsInfo;
CREATE TABLE StudentsInfo (
    StudID INT,
    StudentName VARCHAR(50),
    StudentClass VARCHAR(10),
    Remarks VARCHAR(100),
    ContactPhone VARCHAR(15)
);

-- Insert sample data
INSERT INTO StudentsInfo VALUES
(1, 'Sunder', 'XII A', 'Good', NULL),
(2, 'Rajendra Kumar', 'XII A', 'Regular', '9987654321'),
(3, 'Ratnakar', 'XII A', NULL, NULL),
(4, 'Pradeep', 'XII B', '', NULL),
(5, 'Rajamohan K', 'XII B', ' ', '9876543210'),
(6, 'Swaroop', 'XI A', NULL, NULL),
(7, 'Joseph', 'XI A', 'Regular', '5544339977'),
(8, 'Rajasekar', 'XI B', '', NULL),
(9, 'Hitesh', 'XII B', 'Medium', '8865123456'),
(10, 'Arun', 'XII B', NULL, NULL),
(11, 'Swetha', 'XI A', 'Average', '7890054321'),
(12, 'Jyoti', 'XI A', ' ', NULL),
(13, 'Swaroop', 'XI B', NULL, NULL),
(14, 'Hemanth', 'XII B', 'Medium', '7766554422'),
(15, 'Rakesh', 'XII B', '', NULL);

SELECT * FROM StudentsInfo;

StudID,StudentName,StudentClass,Remarks,ContactPhone
1,Sunder,XII A,Good,null
2,Rajendra Kumar,XII A,Regular,9987654321
3,Ratnakar,XII A,null,null
4,Pradeep,XII B,,null
5,Rajamohan K,XII B,,9876543210
6,Swaroop,XI A,null,null
7,Joseph,XI A,Regular,5544339977
8,Rajasekar,XI B,,null
9,Hitesh,XII B,Medium,8865123456
10,Arun,XII B,null,null
11,Swetha,XI A,Average,7890054321
12,Jyoti,XI A,,null
13,Swaroop,XI B,null,null
14,Hemanth,XII B,Medium,7766554422
15,Rakesh,XII B,,null

In [0]:
%sql
-- Query to check NULL values in Remarks
SELECT *
FROM StudentsInfo
WHERE Remarks IS NULL;

StudID,StudentName,StudentClass,Remarks,ContactPhone
3,Ratnakar,XII A,null,null
6,Swaroop,XI A,null,null
10,Arun,XII B,null,null
13,Swaroop,XI B,null,null

In [0]:
%sql
-- Query to check NULL values in Remarks
SELECT Remarks
FROM StudentsInfo
WHERE Remarks IS NULL;

Remarks
null
null
null
null

In [0]:
%sql
-- Query to check NULL values in ContactPhone
SELECT *
FROM StudentsInfo
WHERE ContactPhone IS NULL;

-- SELECT ContactPhone
-- FROM StudentsInfo
-- WHERE ContactPhone IS NULL;

StudID,StudentName,StudentClass,Remarks,ContactPhone
1,Sunder,XII A,Good,null
3,Ratnakar,XII A,null,null
4,Pradeep,XII B,,null
6,Swaroop,XI A,null,null
8,Rajasekar,XI B,,null
10,Arun,XII B,null,null
12,Jyoti,XI A,,null
13,Swaroop,XI B,null,null
15,Rakesh,XII B,,null

##### 2) IS NOT NULL

In [0]:
%sql
-- Query to check NULL values in Remarks
SELECT * FROM StudentsInfo
WHERE ContactPhone IS NOT NULL;

StudID,StudentName,StudentClass,Remarks,ContactPhone
2,Rajendra Kumar,XII A,Regular,9987654321
5,Rajamohan K,XII B,,9876543210
7,Joseph,XI A,Regular,5544339977
9,Hitesh,XII B,Medium,8865123456
11,Swetha,XI A,Average,7890054321
14,Hemanth,XII B,Medium,7766554422

- It is to be noted that **empty string value or column** with **spaces** are displayed in the output if it is there and only NULL is filtered out.
- If we check the below query you can understand this as this column has **EMPTY ('') and SPACES (' ')**

In [0]:
%sql
-- Query to check NULL values in Remarks
SELECT * FROM StudentsInfo
WHERE Remarks IS NOT NULL;

StudID,StudentName,StudentClass,Remarks,ContactPhone
1,Sunder,XII A,Good,null
2,Rajendra Kumar,XII A,Regular,9987654321
4,Pradeep,XII B,,null
5,Rajamohan K,XII B,,9876543210
7,Joseph,XI A,Regular,5544339977
8,Rajasekar,XI B,,null
9,Hitesh,XII B,Medium,8865123456
11,Swetha,XI A,Average,7890054321
12,Jyoti,XI A,,null
14,Hemanth,XII B,Medium,7766554422
15,Rakesh,XII B,,null

##### 3) ISNULL()
- Returns all records with **NULL** values and records having **Empty value ('')** or **Spaces (' ')** in the specified **column**.

In [0]:
%sql
DROP TABLE IF EXISTS tblEmployeesIsNull;
CREATE TABLE tblEmployeesIsNull (
    OBJECT_ID INT,
    Name VARCHAR(50),
    Department VARCHAR(30),
    Salary DECIMAL(10,2),
    Bonus DECIMAL(10,2),
    Remarks VARCHAR(100),
    ContactPhone VARCHAR(15),
    Status VARCHAR(15),
    description VARCHAR(20),
    weight int,
    Feedback VARCHAR(20)
);

-- Insert sample data
INSERT INTO tblEmployeesIsNull VALUES
(583069, 'Harish', 'Admin', 50000, NULL, 'Good Attendance', NULL, NULL, 'E-Mail', 100, 'Regular'),
(510102, "", 'HR', 45000, 5000, 'Regular Attendance and studious', NULL, 'Finished', 'Internet', 200, NULL),
(506654, "Basha", "", 60000, 0, '', '9876543210', 'Not Relevant', 'Social Media', NULL, ''),
(583195, NULL, 'IT', 52000, 4000, NULL, NULL, 'Started', 'Messaging', 10, 'Good'),
(470450, "Venky", 'SALES', 50000, NULL, 'Good Attendance', NULL, 'Not Relevant', 'IoT', 50, ''),
(558253, "", 'HR', 45000, 5000, 'Regular Attendance and studious', NULL, 'Open', NULL, 75, NULL),
(NULL, "Krishna", NULL, 60000, NULL, 'After markets', '9876543210', NULL, 'Manual data entry', NULL, 'Regular'),
(583181, "Kiran", 'IT', 52000, 4000, NULL, NULL, 'Finished', 'Other', NULL, 'Medium'),
(583119, "Hitesh", 'Finance', 60000, NULL, '', '9876543210', NULL, 'Telephony', 300, 'Average'),
(577519, "", NULL, 52000, 4000, NULL, NULL, 'Not Relevant', NULL, 500, 'Good'),
(583151, "Sushma", 'Accounts', 52000, 4000, 'Explained in detail', NULL, 'Open', 'Fax', NULL, ''),
(583167, NULL, NULL, 52000, 0, '', NULL, 'Not Relevant', 'Feedback', 250, 'Regular'),
(583162, "Buvan", NULL, 52000, 4000, NULL, NULL, NULL, 'WorkZone', 350, NULL),
(575216, "Mohan", 'Hardware', 52000, 4000, 'Nice Explanation', NULL, 'Open', 'IOT', NULL, ''),
(NULL, NULL, NULL, 52000, 0, '', NULL, 'Finished', NULL, 1000, 'Average'),
(583173, "Lohith", "", 52000, 4000, NULL, NULL, 'Finished', NULL, 550, 'Good'),
(583099, "Loba", 'Maintenance', 52000, 0, '', NULL, 'Started', NULL, 650, 'Excellent');

SELECT * FROM tblEmployeesIsNull;

OBJECT_ID,Name,Department,Salary,Bonus,Remarks,ContactPhone,Status,description,weight,Feedback
583069,Harish,Admin,50000.00,null,Good Attendance,null,null,E-Mail,100,Regular
510102,,HR,45000.00,5000.00,Regular Attendance and studious,null,Finished,Internet,200,null
506654,Basha,,60000.00,0.00,,9876543210,Not Relevant,Social Media,null,
583195,null,IT,52000.00,4000.00,null,null,Started,Messaging,10,Good
470450,Venky,SALES,50000.00,null,Good Attendance,null,Not Relevant,IoT,50,
558253,,HR,45000.00,5000.00,Regular Attendance and studious,null,Open,null,75,null
null,Krishna,null,60000.00,null,After markets,9876543210,null,Manual data entry,null,Regular
583181,Kiran,IT,52000.00,4000.00,null,null,Finished,Other,null,Medium
583119,Hitesh,Finance,60000.00,null,,9876543210,null,Telephony,300,Average
577519,,null,52000.00,4000.00,null,null,Not Relevant,null,500,Good
583151,Sushma,Accounts,52000.00,4000.00,Explained in detail,null,Open,Fax,null,
583167,null,null,52000.00,0.00,,null,Not Relevant,Feedback,250,Regular
583162,Buvan,null,52000.00,4000.00,null,null,null,WorkZone,350,null
575216,Mohan,Hardware,52000.00,4000.00,Nice Explanation,null,Open,IOT,null,
null,null,null,52000.00,0.00,,null,Finished,null,1000,Average
583173,Lohith,,52000.00,4000.00,null,null,Finished,null,550,Good
583099,Loba,Maintenance,52000.00,0.00,,null,Started,null,650,Excellent

##### a) Filter Rows Where Bonus is NULL
- Finds employees with **NULL** bonus values **(treated as 0)**.

In [0]:
%sql
SELECT *
FROM tblEmployeesIsNull
WHERE IFNULL(Bonus, 0) = 0;

OBJECT_ID,Name,Department,Salary,Bonus,Remarks,ContactPhone,Status,description,weight,Feedback
583069,Harish,Admin,50000.00,null,Good Attendance,null,null,E-Mail,100,Regular
506654,Basha,,60000.00,0.00,,9876543210,Not Relevant,Social Media,null,
470450,Venky,SALES,50000.00,null,Good Attendance,null,Not Relevant,IoT,50,
null,Krishna,null,60000.00,null,After markets,9876543210,null,Manual data entry,null,Regular
583119,Hitesh,Finance,60000.00,null,,9876543210,null,Telephony,300,Average
583167,null,null,52000.00,0.00,,null,Not Relevant,Feedback,250,Regular
null,null,null,52000.00,0.00,,null,Finished,null,1000,Average
583099,Loba,Maintenance,52000.00,0.00,,null,Started,null,650,Excellent

**IFNULL(Bonus, 0)**

- It **checks** if the **Bonus** value is **NULL**.
- If **Bonus** is **NULL**, it returns **0** instead.
- If **Bonus** is **NOT NULL**, it returns the **actual Bonus value**.

**= 0**

- This **filters** the **rows** so that:
  - If Bonus was **NULL → IFNULL()** makes it **0** → **matches the condition**.
  - If Bonus was **0** → **matches the condition**.
  - Any **non-zero** Bonus values are **excluded**.

In [0]:
%sql
SELECT * FROM tblEmployeesIsNull 
WHERE ifnull(Remarks, '') = '';

OBJECT_ID,Name,Department,Salary,Bonus,Remarks,ContactPhone,Status,description,weight,Feedback
506654,Basha,,60000.00,0.00,,9876543210,Not Relevant,Social Media,null,
583195,null,IT,52000.00,4000.00,null,null,Started,Messaging,10,Good
583181,Kiran,IT,52000.00,4000.00,null,null,Finished,Other,null,Medium
583119,Hitesh,Finance,60000.00,null,,9876543210,null,Telephony,300,Average
577519,,null,52000.00,4000.00,null,null,Not Relevant,null,500,Good
583167,null,null,52000.00,0.00,,null,Not Relevant,Feedback,250,Regular
583162,Buvan,null,52000.00,4000.00,null,null,null,WorkZone,350,null
null,null,null,52000.00,0.00,,null,Finished,null,1000,Average
583173,Lohith,,52000.00,4000.00,null,null,Finished,null,550,Good
583099,Loba,Maintenance,52000.00,0.00,,null,Started,null,650,Excellent

**IFNULL(Remarks, '')**

- It **checks** if the **Remarks** value is **NULL**.
- If **Remarks** is **NULL**, it returns **Empty value ('')** instead.
- If **Remarks** is **NOT NULL**, it returns the **actual Remarks value**.

**= ''**

- This **filters** the **rows** so that:
  - If Remarks was **NULL → IFNULL()** makes it **Empty value ('')** → **matches the condition**.
  - If Remarks was **Empty value ('')** → **matches the condition**.
  - Any **non-zero** Remarks values are **excluded**.

##### 4) NOT ISNULL() Function

In [0]:
%sql
SELECT * FROM tblEmployeesIsNull 
WHERE NOT IFNULL(Remarks, '') = '';

OBJECT_ID,Name,Department,Salary,Bonus,Remarks,ContactPhone,Status,description,weight,Feedback
583069,Harish,Admin,50000.00,null,Good Attendance,null,null,E-Mail,100,Regular
510102,,HR,45000.00,5000.00,Regular Attendance and studious,null,Finished,Internet,200,null
470450,Venky,SALES,50000.00,null,Good Attendance,null,Not Relevant,IoT,50,
558253,,HR,45000.00,5000.00,Regular Attendance and studious,null,Open,null,75,null
null,Krishna,null,60000.00,null,After markets,9876543210,null,Manual data entry,null,Regular
583151,Sushma,Accounts,52000.00,4000.00,Explained in detail,null,Open,Fax,null,
575216,Mohan,Hardware,52000.00,4000.00,Nice Explanation,null,Open,IOT,null,

##### 5) LEN()

In [0]:
%sql
SELECT * FROM StudentsInfo 
WHERE LEN(Remarks) = 0;

StudID,StudentName,StudentClass,Remarks,ContactPhone
4,Pradeep,XII B,,null
8,Rajasekar,XI B,,null
15,Rakesh,XII B,,null

- **LEN(Remarks)** returns the **number of characters** in the Remarks column (**excluding trailing spaces**).
- **= 0** means we are filtering rows where the Remarks column is an **empty string ('')**, i.e., it has **zero characters**.
- This will not match NULL values. because **LEN(NULL)** returns **NULL**, and **NULL = 0 is false**.

In [0]:
%sql
SELECT * FROM tblEmployeesIsNull 
WHERE LEN(Remarks) = 0;

OBJECT_ID,Name,Department,Salary,Bonus,Remarks,ContactPhone,Status,description,weight,Feedback
506654,Basha,,60000.00,0.00,,9876543210,Not Relevant,Social Media,null,
583119,Hitesh,Finance,60000.00,null,,9876543210,null,Telephony,300,Average
583167,null,null,52000.00,0.00,,null,Not Relevant,Feedback,250,Regular
null,null,null,52000.00,0.00,,null,Finished,null,1000,Average
583099,Loba,Maintenance,52000.00,0.00,,null,Started,null,650,Excellent