**INTERSECT**
- The **INTERSECT** operator returns the **common rows** between the result sets of **two or more SELECT** statements.

**Topics Covered**
- Ex 01: Common IDs with Conditions (Using INTERSECT with WHERE Clause)
- Ex 02: INTERSECT with BETWEEN Operator
- Ex 03: INTERSECT with IN Operator
- Ex 04: INTERSECT with LIKE Operator
- Ex 05: INTERSECT Inside a View or Subquery

**Ex 01: Common IDs with Conditions (Using INTERSECT with WHERE Clause)**
- **Result:** Orders that were delivered and then accepted as returns.

In [0]:
%sql
-- Step 1: Create the `orders` table
DROP TABLE IF EXISTS tbl_intersect_orders;

CREATE TABLE tbl_intersect_orders (
    id INT,
    customer_name VARCHAR(50),
    order_status VARCHAR(20)
);


-- Step 2: Insert sample data into `orders`
INSERT INTO tbl_intersect_orders (id, customer_name, order_status)
VALUES
(101, 'Bibin', 'Delivered'),
(102, 'Charan', 'Cancelled'),
(103, 'Senthil', 'Delivered'),
(104, 'Prakash', 'Processing'),
(105, 'Vivek', 'Delivered');

SELECT * FROM tbl_intersect_orders;

id,customer_name,order_status
101,Bibin,Delivered
102,Charan,Cancelled
103,Senthil,Delivered
104,Prakash,Processing
105,Vivek,Delivered

In [0]:
%sql
-- Step 1: Create the `returns` table
DROP TABLE IF EXISTS tbl_intersect_returns;

CREATE TABLE tbl_intersect_returns (
    id INT,
    return_status VARCHAR(20),
    return_reason VARCHAR(100)
);

-- Step 2: Insert sample data into `returns`
INSERT INTO tbl_intersect_returns (id, return_status, return_reason)
VALUES
(101, 'Accepted', 'Damaged product'),
(103, 'Pending', 'Late delivery'),
(105, 'Accepted', 'Wrong item'),
(106, 'Accepted', 'Duplicate order');

SELECT * FROM tbl_intersect_returns;

id,return_status,return_reason
101,Accepted,Damaged product
103,Pending,Late delivery
105,Accepted,Wrong item
106,Accepted,Duplicate order

In [0]:
%sql
SELECT id FROM tbl_intersect_orders
WHERE order_status = 'Delivered';

id
101
103
105

In [0]:
%sql
SELECT id FROM tbl_intersect_returns
WHERE return_status = 'Accepted';

id
101
105
106

In [0]:
%sql
-- INTERSECT Query to get common IDs
SELECT id FROM tbl_intersect_orders
WHERE order_status = 'Delivered'
INTERSECT
SELECT id FROM tbl_intersect_returns
WHERE return_status = 'Accepted';

id
101
105

**Ex 02: INTERSECT with BETWEEN Operator**

In [0]:
%sql
DROP TABLE IF EXISTS tbl_intersect_students;

CREATE TABLE tbl_intersect_students(
   ID INT, 
   NAME VARCHAR(20), 
   SUBJECT VARCHAR(20), 
   AGE INT, 
   HOBBY VARCHAR(20)
);

INSERT INTO tbl_intersect_students
VALUES
(1, 'Naina', 'Maths', 24, 'Cricket'),
(2, 'Varun', 'Physics', 26, 'Football'),
(3, 'Dev', 'Maths', 23, 'Cricket'),
(4, 'Priya', 'Physics', 25, 'Cricket'),
(5, 'Aditya', 'Chemistry', 21, 'Cricket'),
(6, 'Kalyan', 'Maths', 30, 'Football');

SELECT * FROM tbl_intersect_students;

ID,NAME,SUBJECT,AGE,HOBBY
1,Naina,Maths,24,Cricket
2,Varun,Physics,26,Football
3,Dev,Maths,23,Cricket
4,Priya,Physics,25,Cricket
5,Aditya,Chemistry,21,Cricket
6,Kalyan,Maths,30,Football

In [0]:
%sql
DROP TABLE IF EXISTS tbl_intersect_students_hobby;

CREATE TABLE tbl_intersect_students_hobby(
   ID INT, 
   NAME VARCHAR(20), 
   HOBBY VARCHAR(20), 
   AGE INT
);

INSERT INTO tbl_intersect_students_hobby
VALUES
(1, 'Vijay', 'Cricket', 18),
(2, 'Varun', 'Football', 26),
(3, 'Surya', 'Cricket', 19),
(4, 'Karthik', 'Cricket', 25),
(5, 'Sunny', 'Football', 26),
(6, 'Dev', 'Cricket', 23);

SELECT * FROM tbl_intersect_students_hobby;

ID,NAME,HOBBY,AGE
1,Vijay,Cricket,18
2,Varun,Football,26
3,Surya,Cricket,19
4,Karthik,Cricket,25
5,Sunny,Football,26
6,Dev,Cricket,23

In [0]:
%sql
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students_hobby
WHERE AGE BETWEEN 25 AND 30;

NAME,AGE,HOBBY
Varun,26,Football
Karthik,25,Cricket
Sunny,26,Football

In [0]:
%sql
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students
WHERE AGE BETWEEN 20 AND 30;

NAME,AGE,HOBBY
Naina,24,Cricket
Varun,26,Football
Dev,23,Cricket
Priya,25,Cricket
Aditya,21,Cricket
Kalyan,30,Football

In [0]:
%sql
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students_hobby
WHERE AGE BETWEEN 25 AND 30
INTERSECT
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students
WHERE AGE BETWEEN 20 AND 30;

NAME,AGE,HOBBY
Varun,26,Football

**Ex 03: INTERSECT with IN Operator**

In [0]:
%sql
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students_hobby
WHERE HOBBY IN('Cricket');

NAME,AGE,HOBBY
Vijay,18,Cricket
Surya,19,Cricket
Karthik,25,Cricket
Dev,23,Cricket

In [0]:
%sql
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students
WHERE HOBBY IN('Cricket');

NAME,AGE,HOBBY
Naina,24,Cricket
Dev,23,Cricket
Priya,25,Cricket
Aditya,21,Cricket

In [0]:
%sql
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students_hobby
WHERE HOBBY IN('Cricket')
INTERSECT
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students
WHERE HOBBY IN('Cricket');

NAME,AGE,HOBBY
Dev,23,Cricket

**Ex 04: INTERSECT with LIKE Operator**

In [0]:
%sql
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students_hobby
WHERE NAME LIKE 'V%'

NAME,AGE,HOBBY
Vijay,18,Cricket
Varun,26,Football

In [0]:
%sql
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students
WHERE NAME LIKE 'V%';

NAME,AGE,HOBBY
Varun,26,Football

In [0]:
%sql
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students_hobby
WHERE NAME LIKE 'V%'
INTERSECT
SELECT NAME, AGE, HOBBY FROM tbl_intersect_students
WHERE NAME LIKE 'V%';

NAME,AGE,HOBBY
Varun,26,Football

**Ex 05: INTERSECT Inside a View or Subquery**
- **Result:** Products available in both warehouse and store.

In [0]:
%sql
-- Step 1: Create warehouse_stock table
CREATE TABLE tbl_intersect_warehouse_stock (
    product_id INT,
    product_name VARCHAR(100),
    quantity INT
);

-- Step 2: Insert data into warehouse_stock
INSERT INTO tbl_intersect_warehouse_stock (product_id, product_name, quantity)
VALUES
(101, 'Laptop', 50),
(102, 'Mouse', 200),
(103, 'Keyboard', 150),
(104, 'Monitor', 75);

SELECT * FROM tbl_intersect_warehouse_stock;

product_id,product_name,quantity
101,Laptop,50
102,Mouse,200
103,Keyboard,150
104,Monitor,75

In [0]:
%sql
-- Step 2: Create store_stock table
CREATE TABLE tbl_intersect_store_stock (
    product_id INT,
    product_name VARCHAR(100),
    quantity INT
);

-- Step 4: Insert data into store_stock
INSERT INTO tbl_intersect_store_stock (product_id, product_name, quantity)
VALUES
(102, 'Mouse', 30),
(103, 'Keyboard', 25),
(105, 'Printer', 10),
(106, 'Webcam', 40);

SELECT * FROM tbl_intersect_store_stock;

product_id,product_name,quantity
102,Mouse,30
103,Keyboard,25
105,Printer,10
106,Webcam,40

In [0]:
%sql
SELECT * FROM (
    SELECT product_id FROM tbl_intersect_warehouse_stock
    INTERSECT
    SELECT product_id FROM tbl_intersect_store_stock
) AS available_everywhere;

product_id
103
102