#### **Question 01**

**How many rows will generate when apply `INNER JOIN, LEFT JOIN, RIGHT JOIN & FULL JOIN` for below tables?**

     TABLE1   TABLE2
       1        1
       1        2
       2        3
       3        2
       4
       3

In [0]:
%sql
DROP TABLE IF EXISTS tbl_AA;

CREATE TABLE tbl_AA(ID INT);

INSERT INTO tbl_AA
VALUES
(1),
(1),
(2),
(3),
(4),
(3);

SELECT * FROM tbl_AA;

ID
1
1
2
3
4
3

In [0]:
%sql
 DROP TABLE IF EXISTS tbl_BB;

 CREATE TABLE tbl_BB(ID INT);

 INSERT INTO tbl_BB
 VALUES
 (1),
 (2),
 (3),
 (2);

 SELECT * FROM tbl_BB;

ID
1
2
3
2

**INNER JOIN**
- An **inner join** returns rows with **matching values** in **both tables**.
- **matching records**:
  - 2(1's) X 1(1's) = 2
  - 1(2's) X 2(2's) = 2
  - 2(3's) X 1(3's) = 2

In [0]:
%sql
SELECT * FROM tbl_AA
INNER JOIN tbl_BB
ON tbl_AA.ID = tbl_BB.ID

ID,ID
1,1
1,1
2,2
2,2
3,3
3,3

**LEFT JOIN**
- A **left join** returns **all rows** from the **left table** and **matched rows** from the **right table**. **Unmatched rows** from the **right table** result in **NULLs**.

                                      (or)
- **All records** from **left** table. Only **matching records** from **right** table.

                                      (or)
- **matching records** and **non-matching** records from the **left table**.
  - **matching records**:
    - 2(1's) X 1(1's) = 2
    - 1(2's) X 2(2's) = 2
    - 2(3's) X 1(3's) = 2
  - **non-matching records**:
    - 1(4's) = 1 --> ( 4 NULL)

In [0]:
%sql
SELECT * FROM tbl_AA
LEFT JOIN tbl_BB
ON tbl_AA.ID = tbl_BB.ID

ID,ID
1,1
1,1
2,2
2,2
3,3
4,null
3,3

**RIGHT JOIN**
- A **right join** returns **all rows** from the **right table** and **matched rows** from the **left table**. **Unmatched rows** from the **left table** result in **NULLs**.

                        (or)
- **All records** from **right** table. Only **matching records** from **left** table.

                        (or)
- **matching records** and **non-matching** records from the **right table**.
  - **matching records**:
    - 2(1's) X 1(1's) = 2
    - 1(2's) X 2(2's) = 2
    - 2(3's) X 1(3's) = 2
  - **non-matching records**:
    - NA

In [0]:
%sql
SELECT * FROM tbl_AA
RIGHT JOIN tbl_BB
ON tbl_AA.ID = tbl_BB.ID

ID,ID
1,1
1,1
2,2
3,3
3,3
2,2

**FULL JOIN / FULL OUTER JOIN**
- A **full outer join** returns **all rows** when there's a **match in either table**. **Unmatched rows** from **both tables** result in **NULLs**.

                                         (or)
- All records from **ALL** tables.
- **matching records**:
    - 2(1's) X 1(1's) = 2
    - 1(2's) X 2(2's) = 2
    - 2(3's) X 1(3's) = 2

- **non-matching records of Left table**:
    - 1(4's) = 1 --> ( 4 NULL)

- **non-matching records of Right table**:
    - NA

In [0]:
%sql
 SELECT * FROM tbl_AA
 FULL OUTER JOIN tbl_BB
 ON tbl_AA.ID = tbl_BB.ID

ID,ID
1,1
1,1
2,2
2,2
3,3
3,3
4,null

**CROSS JOIN**
- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 6 x 4 = 24

In [0]:
%sql
SELECT * FROM tbl_AA
CROSS JOIN tbl_BB;

ID,ID
1,1
1,2
1,3
1,2
1,1
1,2
1,3
1,2
2,1
2,2
2,3
2,2
3,1
3,2
3,3
3,2
4,1
4,2
4,3
4,2
3,1
3,2
3,3
3,2

#### **Question 02**

**How many rows will generate when apply `INNER JOIN, LEFT JOIN, RIGHT JOIN & FULL JOIN` for below tables?**

     TAB1   TAB2
       1      1
       2      1
       3      2
       5      4
     NULL   NULL

In [0]:
%sql
DROP TABLE IF EXISTS tbl_A;

CREATE TABLE tbl_A
(ID INT);

INSERT INTO tbl_A
VALUES
(1),
(2),
(3),
(5),
(NULL);

SELECT * FROM tbl_A;

ID
1
2
3
5
null

In [0]:
%sql
DROP TABLE IF EXISTS tbl_B;

CREATE TABLE tbl_B
(ID INT);

INSERT INTO tbl_B
VALUES
(1),
(1),
(2),
(4),
(NULL);

SELECT * FROM tbl_B;

ID
1
1
2
4
null

**INNER JOIN**
- An **inner join** returns rows with **matching values** in both tables.
- **matching records**:
  - 1(1's) X 2(1's) = 2
  - 1(2's) X 1(2's) = 1

In [0]:
%sql
SELECT * FROM tbl_A AS A
INNER JOIN tbl_B AS B ON A.ID=B.ID;

ID,ID
1,1
1,1
2,2

**LEFT JOIN**
- **matching records** and **non-matching** records from the **left table**.
  - **matching records**:
    - 1(1's) X 2(1's) = 2
    - 1(2's) X 1(2's) = 1
  - **non-matching records**:
    - 1(3's) = 1 --> (3 NULL)
    - 1(5's) = 1 --> (5 NULL)
    - 1(NULL) = 1 --> (NULL NULL)

In [0]:
%sql
SELECT * FROM tbl_A AS A
LEFT JOIN tbl_B AS B ON A.ID=B.ID;

ID,ID
1,1
1,1
2,2
3,null
5,null
null,null

**RIGHT JOIN**
- **matching records** and **non-matching** records from the **right table**.
  - **matching records**:
    - 1(1's) X 2(1's) = 2
    - 1(2's) X 1(2's) = 1
  - **non-matching records**:
    - 1(4's) = 1 --> (NULL 4)
    - 1(NULL) = 1 --> (NULL NULL)

In [0]:
%sql
SELECT * FROM tbl_A AS A
RIGHT JOIN tbl_B AS B ON A.ID=B.ID;

ID,ID
1,1
1,1
2,2
null,4
null,null

**FULL JOIN / FULL OUTER JOIN**
- **matching records**:
    - 1(1's) X 2(1's) = 2
    - 1(2's) X 1(2's) = 1

- **non-matching records of Left table**:
    - 1(3's) = 1 --> (3 NULL)
    - 1(5's) = 1 --> (5 NULL)
    - 1(NULL) = 1 --> (NULL NULL)

- **non-matching records of Right table**:
    - 1(4's) = 1 --> (NULL 4)
    - 1(NULL) = 1 --> (NULL NULL)

In [0]:
%sql
SELECT * FROM tbl_A AS A
FULL OUTER JOIN tbl_B AS B ON A.ID=B.ID;

ID,ID
null,null
null,null
1,1
1,1
2,2
3,null
null,4
5,null

**CROSS JOIN**
- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 5 x 5 = 25

In [0]:
%sql
SELECT * FROM tbl_A AS A
CROSS JOIN tbl_B AS B;

ID,ID
1,1
1,1
1,2
1,4
1,null
2,1
2,1
2,2
2,4
2,null
3,1
3,1
3,2
3,4
3,null
5,1
5,1
5,2
5,4
5,null
null,1
null,1
null,2
null,4
null,null