**COMPANY: NEUDESIC TECHNOLOGIES**

**Question**
- In this puzzle you have to Generate a **new column** called **Nums**(Number to call).The conditions to generate the new column (Nums) are-

  - If the **MobileNum** is **not null** then take the value from the **MobileNum** and **append ‘MobileNum’** to the data.

  - If the **MobileNum** is **null** then take the value from the **ResidenceNum**(if available)and **append ‘ResidenceNum’** to the data.

  - If both **MobileNum and ResidenceNum** are **NOT NULL** then take the value from the **MobileNum** and **append ‘MobileNum’** to the data.

  - If both **MobileNum and ResidenceNum** are **NULL** then we should get **NULL** as output.

  - The challenge is to do this **without USING CASE Statement**.

- For more details please check the sample input and expected output.

**Sample Input:**

| Id   | Name     | MobileNum     | ResidenceNum |
|------|----------|---------------|--------------|
|1     | Joey     | 9762575422    |    NULL      |
|2     | Ross     | 9987796244    |  8762575402  |
|3     | Chandler |   NULL        |  7645764689  |
|4     | Monica   | 8902567839    |  7825367901  |
|5     | Rachel   |   NULL        |  7845637289  |
|6     | Pheobe   | 9872435789    |  9838653469  |
|7     | Gunther  |   NULL        |    NULL      |
|8     | Mike     |   NULL        |  9700103678  |

**Sample Output:**

| Id   |  Name       |            Nums             |
|------|-------------|-----------------------------|
| 1    |  Joey       |   9762575422 MobileNum      |
| 2    |  Ross       |   9987796244 MobileNum      |
| 3    |  Chandler   |   7645764689 ResidenceNum   |
| 4    |  Monica     |   8902567839 MobileNum      |
| 5    |  Rachel     |   7845637289 ResidenceNum   |
| 6    |  Pheobe     |   9872435789 MobileNum      |
| 7    |  Gunther    |   NULL                      |
| 8    |  Mike       |   9700103678 ResidenceNum   |

In [0]:
%sql
DROP TABLE IF EXISTS PhoneNumbers;

CREATE TABLE PhoneNumbers
(Id INT,
 Name VARCHAR(10),
 MobileNum VARCHAR(100),
 ResidenceNum VARCHAR(100)
);

INSERT INTO PhoneNumbers
VALUES
(1, 'Joey', '9762575422', NULL),
(2, 'Ross', '9987796244', '8762575402'),
(3, 'Chandler', NULL, '7645764689'),
(4, 'Monica', '8902567839', '7825367901'),
(5, 'Rachel', NULL, '7845637289'),
(6, 'Pheobe', '9872435789', '9838653469'),
(7, 'Gunther', NULL, NULL),
(8, 'Mike', NULL, '9700103678');

SELECT * FROM PhoneNumbers

Id,Name,MobileNum,ResidenceNum
1,Joey,9762575422,null
2,Ross,9987796244,8762575402
3,Chandler,null,7645764689
4,Monica,8902567839,7825367901
5,Rachel,null,7845637289
6,Pheobe,9872435789,9838653469
7,Gunther,null,null
8,Mike,null,9700103678

**Method 01**

In [0]:
%sql
SELECT 
    ID, NAME,
    CONCAT(MobileNum, ' MobileNum') AS Concat_MobileNum,
    CONCAT(ResidenceNum, ' ResidenceNum') AS Concat_ResidenceNum,
    COALESCE(
        CONCAT(MobileNum, ' MobileNum'), 
        CONCAT(ResidenceNum, ' ResidenceNum'),
        NULL
    ) AS Concat_MobileNum_ResidenceNum
FROM phonenumbers;

ID,NAME,Concat_MobileNum,Concat_ResidenceNum,Concat_MobileNum_ResidenceNum
1,Joey,9762575422 MobileNum,null,9762575422 MobileNum
2,Ross,9987796244 MobileNum,8762575402 ResidenceNum,9987796244 MobileNum
3,Chandler,null,7645764689 ResidenceNum,7645764689 ResidenceNum
4,Monica,8902567839 MobileNum,7825367901 ResidenceNum,8902567839 MobileNum
5,Rachel,null,7845637289 ResidenceNum,7845637289 ResidenceNum
6,Pheobe,9872435789 MobileNum,9838653469 ResidenceNum,9872435789 MobileNum
7,Gunther,null,null,null
8,Mike,null,9700103678 ResidenceNum,9700103678 ResidenceNum

- **COALESCE** returns the **first non-NULL** value from the list of expressions provided.

  - Concatenate MobileNum with the string ' MobileNum' (e.g., "12345 MobileNum").

  - If MobileNum is NULL, it tries ResidenceNum + ' ResidenceNum'.

  - If both are NULL, it returns NULL.

**What it does overall:**

For each record in phonenumbers:
- It shows ID, NAME, and either:
  - **"MobileNum MobileNum"** if **MobileNum is present**,
  - or **"ResidenceNum ResidenceNum"** if **MobileNum is null**,
  - or **NULL** if **both are missing**.

**Method 02**

In [0]:
%sql
SELECT 
    ID, NAME,
    MobileNum || ' MobileNum' AS Concatenation_MobileNum,
    ResidenceNum || ' ResidenceNum' AS Concatenation_ResidenceNum,
    COALESCE(
        MobileNum || ' MobileNum', 
        ResidenceNum || ' ResidenceNum',
        NULL
    ) AS Coalesce_Concatenation_MobileResidenceNum
FROM phonenumbers;

ID,NAME,Concatenation_MobileNum,Concatenation_ResidenceNum,Coalesce_Concatenation_MobileResidenceNum
1,Joey,9762575422 MobileNum,null,9762575422 MobileNum
2,Ross,9987796244 MobileNum,8762575402 ResidenceNum,9987796244 MobileNum
3,Chandler,null,7645764689 ResidenceNum,7645764689 ResidenceNum
4,Monica,8902567839 MobileNum,7825367901 ResidenceNum,8902567839 MobileNum
5,Rachel,null,7845637289 ResidenceNum,7845637289 ResidenceNum
6,Pheobe,9872435789 MobileNum,9838653469 ResidenceNum,9872435789 MobileNum
7,Gunther,null,null,null
8,Mike,null,9700103678 ResidenceNum,9700103678 ResidenceNum

**Method 03**

In [0]:
%sql
SELECT id, name,
       COALESCE(mobilenum, residencenum) AS Coalesce_mobile_residence,
       CONCAT(
          COALESCE(mobilenum, residencenum),
          ' ',
          CASE
            WHEN mobilenum <> '' THEN 'MobileNum'
            WHEN residencenum <> '' THEN 'ResidenceNum'
            ELSE NULL
          END
        ) AS nums
FROM phonenumbers;

id,name,Coalesce_mobile_residence,nums
1,Joey,9762575422,9762575422 MobileNum
2,Ross,9987796244,9987796244 MobileNum
3,Chandler,7645764689,7645764689 ResidenceNum
4,Monica,8902567839,8902567839 MobileNum
5,Rachel,7845637289,7845637289 ResidenceNum
6,Pheobe,9872435789,9872435789 MobileNum
7,Gunther,null,null
8,Mike,9700103678,9700103678 ResidenceNum

- If **mobilenum** is **not an empty string ('')**, it adds **'MobileNum'**.
- Else if **residencenum** is **not an empty string**, it adds **'ResidenceNum'**.
- If **both are empty strings**, it adds **NULL** (so CONCAT may result in just the number or null).