#### a) concatenation operator: ||.
  - It allows us to **merge two or more strings** into a **single output**.
  - Combines **multiple columns or strings** into **one**.
  - Works with **different data types** (text, numbers, dates).

**Syntax**

     SELECT column1 || column2 AS new_column
     FROM table_name;

**1) Concatenating First Name and Last Name**

In [0]:
%sql
DROP TABLE IF EXISTS tblConcatenateEmployees;

-- Create the table
CREATE TABLE tblConcatenateEmployees (
    ID INT,
    First_Name VARCHAR(50),
    Last_Name VARCHAR(50),
    Salary INT,
    Age INT
);

-- Insert data
INSERT INTO tblConcatenateEmployees (ID, First_Name, Last_Name, Salary, Age)
VALUES
(1, 'Rajesh', 'Kumar', 16500, 25),
(2, 'Gopinath', 'Munday', 25600, 28),
(3, 'Shekar', 'Varma', 59800, 32),
(4, 'Karishma', 'Yadav', 956400, 35),
(5, 'Kamlesh', 'Sharma', 75800, 29),
(6, 'Joshna', 'Kumari', 257800, 24),
(7, NULL, 'Paul', 257800, 24),
(8, 'Joshna', NULL, 257800, 24);

SELECT * FROM tblConcatenateEmployees;

ID,First_Name,Last_Name,Salary,Age
1,Rajesh,Kumar,16500,25
2,Gopinath,Munday,25600,28
3,Shekar,Varma,59800,32
4,Karishma,Yadav,956400,35
5,Kamlesh,Sharma,75800,29
6,Joshna,Kumari,257800,24
7,null,Paul,257800,24
8,Joshna,null,257800,24

In [0]:
%sql
SELECT id,
       First_Name, Last_Name,
       First_Name || Last_Name AS Full_Name_FirstLastName,
       Salary
FROM tblConcatenateEmployees;

id,First_Name,Last_Name,Full_Name_FirstLastName,Salary
1,Rajesh,Kumar,RajeshKumar,16500
2,Gopinath,Munday,GopinathMunday,25600
3,Shekar,Varma,ShekarVarma,59800
4,Karishma,Yadav,KarishmaYadav,956400
5,Kamlesh,Sharma,KamleshSharma,75800
6,Joshna,Kumari,JoshnaKumari,257800
7,null,Paul,null,257800
8,Joshna,null,null,257800

**2) Concatenating Strings with a Literal**

In [0]:
%sql
SELECT id, First_Name, Last_Name, Salary, 
       First_Name||' has salary of '||Salary AS New_Column
FROM tblConcatenateEmployees;

id,First_Name,Last_Name,Salary,New_Column
1,Rajesh,Kumar,16500,Rajesh has salary of 16500
2,Gopinath,Munday,25600,Gopinath has salary of 25600
3,Shekar,Varma,59800,Shekar has salary of 59800
4,Karishma,Yadav,956400,Karishma has salary of 956400
5,Kamlesh,Sharma,75800,Kamlesh has salary of 75800
6,Joshna,Kumari,257800,Joshna has salary of 257800
7,null,Paul,257800,null
8,Joshna,null,257800,Joshna has salary of 257800

**3) Using a Number Literal in Concatenation**

In [0]:
%sql
SELECT id, First_Name, Last_Name, Salary,
       First_Name || '_' || 100 || ' has ID Number of ' || id AS NewIDColumn
FROM tblConcatenateEmployees;

id,First_Name,Last_Name,Salary,NewIDColumn
1,Rajesh,Kumar,16500,Rajesh_100 has ID Number of 1
2,Gopinath,Munday,25600,Gopinath_100 has ID Number of 2
3,Shekar,Varma,59800,Shekar_100 has ID Number of 3
4,Karishma,Yadav,956400,Karishma_100 has ID Number of 4
5,Kamlesh,Sharma,75800,Kamlesh_100 has ID Number of 5
6,Joshna,Kumari,257800,Joshna_100 has ID Number of 6
7,null,Paul,257800,null
8,Joshna,null,257800,Joshna_100 has ID Number of 8

**Difference b/n concat and concatenation (||)**

     ('John', NULL)

     # using concat
     CONCAT('John', NULL) → 'John'
     
     # Using || (concatenation)
     'John' || NULL → NULL

     # best practice
     SELECT ID, FIRST_NAME, LAST_NAME,
            COALESCE(FIRST_NAME, '') || COALESCE(LAST_NAME, '') AS FULL_NAME,
           SALARY
     FROM tblConcatenateEmployees;

#### b) Coalesce with Concatenation

In [0]:
%sql
DROP TABLE IF EXISTS tbl_concatenation_contacts;

CREATE TABLE tbl_concatenation_contacts (
    contact_id INT,
    phone_mobile VARCHAR(15),
    phone_home VARCHAR(15)
);

INSERT INTO tbl_concatenation_contacts
VALUES
(1, '9876543210', NULL),
(2, NULL, '0401234567'),
(3, NULL, NULL),
(4, NULL, '080987654'),
(5, '987654321', NULL),
(6, '6789654321', '9887612345');

SELECT * FROM tbl_concatenation_contacts;

contact_id,phone_mobile,phone_home
1,9876543210,null
2,null,0401234567
3,null,null
4,null,080987654
5,987654321,null
6,6789654321,9887612345

In [0]:
%sql
SELECT 
    phone_mobile, phone_home,
    phone_mobile || ' (Mobile)' AS Phone_Mobile_Concatenation,
    phone_home || ' (Home)' AS Phone_Home_Concatenation,
    COALESCE(
        phone_mobile || ' (Mobile)', 
        phone_home || ' (Home)',
        'No Phone'
    ) AS Comb_Phone_Mobile_Home
FROM tbl_concatenation_contacts;

phone_mobile,phone_home,Phone_Mobile_Concatenation,Phone_Home_Concatenation,Comb_Phone_Mobile_Home
9876543210,null,9876543210 (Mobile),null,9876543210 (Mobile)
null,0401234567,null,0401234567 (Home),0401234567 (Home)
null,null,null,null,No Phone
null,080987654,null,080987654 (Home),080987654 (Home)
987654321,null,987654321 (Mobile),null,987654321 (Mobile)
6789654321,9887612345,6789654321 (Mobile),9887612345 (Home),6789654321 (Mobile)

- If **phone_mobile** exists, **append ' (Mobile)'**.
- If **not**, use **phone_home** with **' (Home)'**.
- If **both are NULL**, show **'No Phone'**.

In [0]:
%sql
SELECT contact_id, phone_mobile,
       COALESCE(phone_mobile, '') AS Coalesce_Phone_Mobile,
       COALESCE(phone_mobile, '') || ' Mobile' AS Concat_Phone_Mobile
FROM tbl_concatenation_contacts;

contact_id,phone_mobile,Coalesce_Phone_Mobile,Concat_Phone_Mobile
1,9876543210,9876543210,9876543210 Mobile
2,null,,Mobile
3,null,,Mobile
4,null,,Mobile
5,987654321,987654321,987654321 Mobile
6,6789654321,6789654321,6789654321 Mobile

- Labels a **mobile number** or shows just **' Mobile'** if **NULL**.

In [0]:
%sql
SELECT phone_mobile, phone_home,
       COALESCE(phone_mobile, '') AS Colaesce_Phone_Mobile,
       COALESCE(phone_home, '') AS Colaesce_Phone_Home,
       COALESCE(phone_mobile, '') || ' / ' || COALESCE(phone_home, '') AS Comb_Phone_Mobile_Home
FROM tbl_concatenation_contacts;

phone_mobile,phone_home,Colaesce_Phone_Mobile,Colaesce_Phone_Home,Comb_Phone_Mobile_Home
9876543210,null,9876543210,,9876543210 /
null,0401234567,,0401234567,/ 0401234567
null,null,,,/
null,080987654,,080987654,/ 080987654
987654321,null,987654321,,987654321 /
6789654321,9887612345,6789654321,9887612345,6789654321 / 9887612345