#### **BooleanType()**

 - BooleanType() helps you specify that a column should only have two values: **true or false**.

- Using the **right data type** can **optimize performance** because Spark knows exactly how to handle **boolean** operations efficiently.

- The BooleanType is a fundamental data type in Spark, used to represent Boolean values, which can be **either True or False**. This data type is commonly used when dealing with **binary decisions, filtering data based on conditions**, and performing logical operations in Spark.

In [0]:
a = True   # 1
b = False  # 0
c = a + b  # 1 + 0 = 1
print(c)

1

In [0]:
print(True + True)

2

In [0]:
print(False + False)

0

In [0]:
%fs ls /FileStore/tables

path,name,size,modificationTime
dbfs:/FileStore/tables/Flatten Nested Array.json,Flatten Nested Array.json,3756,1718618620000
dbfs:/FileStore/tables/MarketPrice-1.csv,MarketPrice-1.csv,19528,1719656512000
dbfs:/FileStore/tables/MarketPrice.csv,MarketPrice.csv,19528,1719656208000
dbfs:/FileStore/tables/MultiLineJSON.json/,MultiLineJSON.json/,0,0
dbfs:/FileStore/tables/MultiLineJSON01.json/,MultiLineJSON01.json/,0,0
dbfs:/FileStore/tables/MultiLineJSON1.json/,MultiLineJSON1.json/,0,0
dbfs:/FileStore/tables/MultiLineJSON123.json/,MultiLineJSON123.json/,0,0
dbfs:/FileStore/tables/MultiLineJSON2.json/,MultiLineJSON2.json/,0,0
dbfs:/FileStore/tables/Question7.csv,Question7.csv,154,1725816645000
dbfs:/FileStore/tables/RunningData_Rev02.csv,RunningData_Rev02.csv,1222,1719810609000
dbfs:/FileStore/tables/RunningData_Rev03.csv,RunningData_Rev03.csv,1216,1719810946000
dbfs:/FileStore/tables/SalesData_Rev02.csv,SalesData_Rev02.csv,472,1719810784000
dbfs:/FileStore/tables/SalesData_Rev03.csv,SalesData_Rev03.csv,460,1719810973000
dbfs:/FileStore/tables/Sales_Collect.csv,Sales_Collect.csv,182972,1720293547000
dbfs:/FileStore/tables/Sales_Collect_Rev02.csv,Sales_Collect_Rev02.csv,166107,1719810826000
dbfs:/FileStore/tables/Sales_Collect_Rev03.csv,Sales_Collect_Rev03.csv,182828,1719811001000
dbfs:/FileStore/tables/StructType-1.csv,StructType-1.csv,648,1717934508000
dbfs:/FileStore/tables/StructType-2.csv,StructType-2.csv,648,1717935891000
dbfs:/FileStore/tables/StructType-3.csv,StructType-3.csv,648,1717936009000
dbfs:/FileStore/tables/StructType-4.csv,StructType-4.csv,648,1717936144000
dbfs:/FileStore/tables/StructType-5.csv,StructType-5.csv,648,1717936276000
dbfs:/FileStore/tables/StructType.csv,StructType.csv,648,1717934306000
dbfs:/FileStore/tables/booleantype-1.csv,booleantype-1.csv,4670,1726837953000
dbfs:/FileStore/tables/booleantype-2.csv,booleantype-2.csv,5337,1726841165000
dbfs:/FileStore/tables/booleantype-3.csv,booleantype-3.csv,3167,1726843335000
dbfs:/FileStore/tables/booleantype-4.csv,booleantype-4.csv,2889,1726843641000
dbfs:/FileStore/tables/booleantype-5.csv,booleantype-5.csv,3164,1726851645000
dbfs:/FileStore/tables/booleantype.csv,booleantype.csv,4670,1726837542000
dbfs:/FileStore/tables/cast_data.txt,cast_data.txt,219,1720376019000
dbfs:/FileStore/tables/current_date___current_user___current_timestamp__.csv,current_date___current_user___current_timestamp__.csv,4040,1726313822000
dbfs:/FileStore/tables/date_format-1.csv,date_format-1.csv,1656,1725709118000
dbfs:/FileStore/tables/date_format-2.csv,date_format-2.csv,1923,1725709313000
dbfs:/FileStore/tables/date_format.csv,date_format.csv,1119,1725645247000
dbfs:/FileStore/tables/from_unixtime-1.csv,from_unixtime-1.csv,9523,1725903833000
dbfs:/FileStore/tables/from_unixtime.csv,from_unixtime.csv,9523,1725901373000
dbfs:/FileStore/tables/iterate_columns.csv,iterate_columns.csv,2023849,1719767610000
dbfs:/FileStore/tables/multiline.json,multiline.json,1262,1725858755000
dbfs:/FileStore/tables/multiline.txt,multiline.txt,178,1721655243000
dbfs:/FileStore/tables/multiline_nested-1.json,multiline_nested-1.json,2233,1725884748000
dbfs:/FileStore/tables/multiline_nested.json,multiline_nested.json,1731,1725870338000
dbfs:/FileStore/tables/person-1.json,person-1.json,4608,1718609578000
dbfs:/FileStore/tables/person-2.json,person-2.json,4616,1718610165000
dbfs:/FileStore/tables/person.json,person.json,4616,1718609425000
dbfs:/FileStore/tables/posexplode.txt,posexplode.txt,264,1718525465000
dbfs:/FileStore/tables/singleline-1.json,singleline-1.json,1000,1725857789000
dbfs:/FileStore/tables/singleline-2.json,singleline-2.json,999,1725858047000
dbfs:/FileStore/tables/singleline-3.json,singleline-3.json,1003,1725858173000
dbfs:/FileStore/tables/singleline-4.json,singleline-4.json,1004,1725858244000
dbfs:/FileStore/tables/singleline-5.json,singleline-5.json,1006,1725858294000
dbfs:/FileStore/tables/singleline-6.json,singleline-6.json,1006,1725858459000
dbfs:/FileStore/tables/singleline.json,singleline.json,1006,1725856537000
dbfs:/FileStore/tables/singlelineList.json,singlelineList.json,1032,1725892526000
dbfs:/FileStore/tables/singleline_nested-1.json,singleline_nested-1.json,1388,1725883300000
dbfs:/FileStore/tables/singleline_nested.json,singleline_nested.json,1096,1725870020000
dbfs:/FileStore/tables/split.txt,split.txt,390,1721625608000
dbfs:/FileStore/tables/syntax.jpg,syntax.jpg,32647,1725976365000
dbfs:/FileStore/tables/timestamp_millis-1.csv,timestamp_millis-1.csv,7513,1725903371000
dbfs:/FileStore/tables/timestamp_millis-2.csv,timestamp_millis-2.csv,7513,1725903430000
dbfs:/FileStore/tables/timestamp_millis-3.csv,timestamp_millis-3.csv,8613,1725903701000
dbfs:/FileStore/tables/timestamp_millis.csv,timestamp_millis.csv,7533,1725903084000
dbfs:/FileStore/tables/titanic.csv,titanic.csv,60302,1717853233000
dbfs:/FileStore/tables/to_date.csv,to_date.csv,1923,1726112031000
dbfs:/FileStore/tables/to_json.csv,to_json.csv,50792,1726583981000
dbfs:/FileStore/tables/to_timestamp-1.csv,to_timestamp-1.csv,5536,1726303458000
dbfs:/FileStore/tables/to_timestamp-2.csv,to_timestamp-2.csv,5425,1726303695000
dbfs:/FileStore/tables/to_timestamp-3.csv,to_timestamp-3.csv,5545,1726304079000
dbfs:/FileStore/tables/to_timestamp.csv,to_timestamp.csv,6451,1726300120000

In [0]:
df = spark.read.csv("dbfs:/FileStore/tables/booleantype-4.csv", header=True, inferSchema=True)
display(df.limit(10))

Name,Boolean,Sensex_Category,Course_Name,Effective_Date,Start_Date,Graduated,Salary
Amit,0,Top,python,6-Feb-23,14-Jan-23,true,1598000
Shikhar,1,Top,Data Science,6-Feb-23,14-Jan-23,false,98756078
Shivani,0,Top,Accounting,8-Jan-24,7-Oct-23,true,3550000
Pooja,1,Top,Soft skills,8-Jan-24,7-Oct-23,true,98760432
Vinay,0,Top,ADF,6-Mar-23,7-Feb-23,false,99803421
Sharma,1,Top,ADB,6-Mar-23,7-Feb-23,true,33240000
Sonu,1,Top,ML,6-Jan-25,9-Jan-24,true,15670000
Rakesh,0,Top,databricks,6-Jan-25,9-Jan-24,true,1598000
Roshan,1,Top,Soft skills,6-Apr-23,7-Mar-23,true,18894320
Rithvik,1,Top,python,6-Apr-23,7-Mar-23,true,3550000

In [0]:
from pyspark.sql.functions import col, when, desc, asc
from pyspark.sql.types import BooleanType
import pyspark.sql.functions as F

#### **How to count a boolean in grouped data**

In [0]:
df_agg = df.groupBy("Course_Name").agg(F.round(F.avg('Salary'),2), F.count('Graduated').alias('Count_Graduated'))
display(df_agg.orderBy(asc('Course_Name')))

Course_Name,"round(avg(Salary), 2)",Count_Graduated
ADB,6.225696867E7,3
ADF,7.436634033E7,3
Accounting,2.461736667E7,3
Azure,4.032433333E7,3
DEVOPS,2.247575E8,4
Data Science,7.691869267E7,3
GIT,8.6602E7,3
ML,6.745783333E7,3
PySpark,3.814256667E7,3
Soft skills,5.697925367E7,6
aws,3.1880220267E8,3
databricks,3.677116667E7,3
python,1.314511429E7,7
salesforce,5.6263181E7,3

#### **1) convert integer (data type) to boolean (data type)**

In [0]:
df_cast = df.withColumn("Boolean", col("Boolean").cast(BooleanType()))
display(df_cast.limit(10))

Name,Boolean,Sensex_Category,Course_Name,Effective_Date,Start_Date,Graduated,Salary
Amit,false,Top,python,6-Feb-23,14-Jan-23,true,1598000
Shikhar,true,Top,Data Science,6-Feb-23,14-Jan-23,false,98756078
Shivani,false,Top,Accounting,8-Jan-24,7-Oct-23,true,3550000
Pooja,true,Top,Soft skills,8-Jan-24,7-Oct-23,true,98760432
Vinay,false,Top,ADF,6-Mar-23,7-Feb-23,false,99803421
Sharma,true,Top,ADB,6-Mar-23,7-Feb-23,true,33240000
Sonu,true,Top,ML,6-Jan-25,9-Jan-24,true,15670000
Rakesh,false,Top,databricks,6-Jan-25,9-Jan-24,true,1598000
Roshan,true,Top,Soft skills,6-Apr-23,7-Mar-23,true,18894320
Rithvik,true,Top,python,6-Apr-23,7-Mar-23,true,3550000

#### **2) Filter a dataframe by a boolean column**

In [0]:
df_filter = df_cast.filter(col('Graduated') == True)
display(df_filter.limit(10))

Name,Boolean,Sensex_Category,Course_Name,Effective_Date,Start_Date,Graduated,Salary
Amit,false,Top,python,6-Feb-23,14-Jan-23,true,1598000
Shivani,false,Top,Accounting,8-Jan-24,7-Oct-23,true,3550000
Pooja,true,Top,Soft skills,8-Jan-24,7-Oct-23,true,98760432
Sharma,true,Top,ADB,6-Mar-23,7-Feb-23,true,33240000
Sonu,true,Top,ML,6-Jan-25,9-Jan-24,true,15670000
Rakesh,false,Top,databricks,6-Jan-25,9-Jan-24,true,1598000
Roshan,true,Top,Soft skills,6-Apr-23,7-Mar-23,true,18894320
Rithvik,true,Top,python,6-Apr-23,7-Mar-23,true,3550000
Sreedhar,false,Top,Azure,6-Jul-23,7-Apr-23,true,15670000
Vikas,true,Social,Data Science,6-Jan-23,4-Jan-23,true,98760000

In [0]:
df_bool = df_cast.withColumn("Boolean01", F.lit(True))\
                 .withColumn("Boolean02", F.lit("True").cast('boolean'))\
                 .withColumn("Boolean03", F.lit(1).cast('boolean'))\
                 .withColumn("Boolean04", F.lit(0).cast('boolean'))\
                 .withColumn("Boolean05", F.lit("T").cast('boolean'))\
                 .withColumn("Boolean06", F.lit("t").cast('boolean'))

display(df_bool.limit(10))

Name,Boolean,Sensex_Category,Course_Name,Effective_Date,Start_Date,Graduated,Salary,Boolean01,Boolean02,Boolean03,Boolean04,Boolean05,Boolean06
Amit,false,Top,python,6-Feb-23,14-Jan-23,true,1598000,true,true,true,false,true,true
Shikhar,true,Top,Data Science,6-Feb-23,14-Jan-23,false,98756078,true,true,true,false,true,true
Shivani,false,Top,Accounting,8-Jan-24,7-Oct-23,true,3550000,true,true,true,false,true,true
Pooja,true,Top,Soft skills,8-Jan-24,7-Oct-23,true,98760432,true,true,true,false,true,true
Vinay,false,Top,ADF,6-Mar-23,7-Feb-23,false,99803421,true,true,true,false,true,true
Sharma,true,Top,ADB,6-Mar-23,7-Feb-23,true,33240000,true,true,true,false,true,true
Sonu,true,Top,ML,6-Jan-25,9-Jan-24,true,15670000,true,true,true,false,true,true
Rakesh,false,Top,databricks,6-Jan-25,9-Jan-24,true,1598000,true,true,true,false,true,true
Roshan,true,Top,Soft skills,6-Apr-23,7-Mar-23,true,18894320,true,true,true,false,true,true
Rithvik,true,Top,python,6-Apr-23,7-Mar-23,true,3550000,true,true,true,false,true,true

#### **3) convert boolean (data type) to integer (data type)**

In [0]:
from pyspark.sql.functions import when

# convert Boolean column to integer column
df_new = df_bool.withColumn('Graduated_int', when(df_bool.Graduated==True, 1).otherwise(0))\
                .select('Graduated', 'Graduated_int')

# view new DataFrame
display(df_new.limit(10))

Graduated,Graduated_int
true,1
false,0
true,1
true,1
false,0
true,1
true,1
true,1
true,1
true,1

In [0]:
# convert Boolean column to integer column
df_bool_status = df_cast.withColumn('Course_Name_int', F.when(F.col("Course_Name") == F.lit("python"), F.lit("true")).otherwise(F.lit("false")))

# view new DataFrame
display(df_bool_status.limit(10))

Name,Boolean,Sensex_Category,Course_Name,Effective_Date,Start_Date,Graduated,Salary,Course_Name_int
Amit,false,Top,python,6-Feb-23,14-Jan-23,true,1598000,true
Shikhar,true,Top,Data Science,6-Feb-23,14-Jan-23,false,98756078,false
Shivani,false,Top,Accounting,8-Jan-24,7-Oct-23,true,3550000,false
Pooja,true,Top,Soft skills,8-Jan-24,7-Oct-23,true,98760432,false
Vinay,false,Top,ADF,6-Mar-23,7-Feb-23,false,99803421,false
Sharma,true,Top,ADB,6-Mar-23,7-Feb-23,true,33240000,false
Sonu,true,Top,ML,6-Jan-25,9-Jan-24,true,15670000,false
Rakesh,false,Top,databricks,6-Jan-25,9-Jan-24,true,1598000,false
Roshan,true,Top,Soft skills,6-Apr-23,7-Mar-23,true,18894320,false
Rithvik,true,Top,python,6-Apr-23,7-Mar-23,true,3550000,true

In [0]:
# convert Boolean column to integer column
df_bool_status_st = df_cast.withColumn('Course_Name_int', F.col("Course_Name") == F.lit("python"))

# view new DataFrame
display(df_bool_status_st.limit(10))

Name,Boolean,Sensex_Category,Course_Name,Effective_Date,Start_Date,Graduated,Salary,Course_Name_int
Amit,false,Top,python,6-Feb-23,14-Jan-23,true,1598000,true
Shikhar,true,Top,Data Science,6-Feb-23,14-Jan-23,false,98756078,false
Shivani,false,Top,Accounting,8-Jan-24,7-Oct-23,true,3550000,false
Pooja,true,Top,Soft skills,8-Jan-24,7-Oct-23,true,98760432,false
Vinay,false,Top,ADF,6-Mar-23,7-Feb-23,false,99803421,false
Sharma,true,Top,ADB,6-Mar-23,7-Feb-23,true,33240000,false
Sonu,true,Top,ML,6-Jan-25,9-Jan-24,true,15670000,false
Rakesh,false,Top,databricks,6-Jan-25,9-Jan-24,true,1598000,false
Roshan,true,Top,Soft skills,6-Apr-23,7-Mar-23,true,18894320,false
Rithvik,true,Top,python,6-Apr-23,7-Mar-23,true,3550000,true