**Four ways to find common records**
- INNER JOIN
- INTERSECT
- IN with Subquery
- EXISTS

In [0]:
%sql
DROP TABLE IF EXISTS Emp_tbl_design;

CREATE TABLE Emp_tbl_design (
 EMP_ID VARCHAR(20),
 EMP_Name VARCHAR(15),
 EMP_Salary INT
);

INSERT INTO Emp_tbl_design
VALUES
("ELX001", "Naresh", 20000),
("ELX002", "Kumar", 25000),
("ELX003", "Rahul", 29000);

SELECT * FROM Emp_tbl_design;

EMP_ID,EMP_Name,EMP_Salary
ELX001,Naresh,20000
ELX002,Kumar,25000
ELX003,Rahul,29000

In [0]:
%sql
DROP TABLE IF EXISTS Emp_tbl_deal;

CREATE TABLE Emp_tbl_deal (
 EMP_ID VARCHAR(20),
 EMP_Name VARCHAR(15),
 EMP_Salary INT
);

INSERT INTO Emp_tbl_deal
VALUES
("ELX001", "Naresh", 20000),
("ELX003", "Rahul", 29000);

SELECT * FROM Emp_tbl_deal;

EMP_ID,EMP_Name,EMP_Salary
ELX001,Naresh,20000
ELX003,Rahul,29000

**1) INTERSECT**
- Best for **Exact Match – Same Columns**
- **Exact full row match**
-  This returns rows that **exist in both tables**, with **matching values** in all selected columns.

In [0]:
%sql
SELECT * FROM Emp_tbl_design
INTERSECT
SELECT * FROM Emp_tbl_deal;

EMP_ID,EMP_Name,EMP_Salary
ELX001,Naresh,20000
ELX003,Rahul,29000

**2) INNER JOIN**
- Best for **Common Key Matching**.
- Use this when you're **matching rows** based on **one or more keys/IDs, not full row** content.

In [0]:
%sql
SELECT e.EMP_ID, e.EMP_Name, e.EMP_Salary
FROM Emp_tbl_design e
INNER JOIN Emp_tbl_deal d
ON e.EMP_ID = d.EMP_ID;

EMP_ID,EMP_Name,EMP_Salary
ELX001,Naresh,20000
ELX003,Rahul,29000

**3) IN with Subquery**
- Only **comparing one column**.
- Good for checking **common values** in a **single column**.

In [0]:
%sql
SELECT EMP_ID FROM Emp_tbl_design
WHERE EMP_ID IN (
  SELECT EMP_ID
  FROM Emp_tbl_deal);

EMP_ID
ELX001
ELX003

**4) EXISTS**
- Efficient for **large datasets**.

In [0]:
%sql
SELECT * FROM Emp_tbl_design t1
WHERE EXISTS (
    SELECT 1 FROM Emp_tbl_deal t2
    WHERE t1.EMP_ID = t2.EMP_ID
);

EMP_ID,EMP_Name,EMP_Salary
ELX001,Naresh,20000
ELX003,Rahul,29000

- The **1** is just a **placeholder value**.

- It doesn't matter what you select inside an EXISTS clause SQL only checks whether **any row exists**, not what is selected.

- You could write as below, and it would behave **exactly the same**.
  - SELECT *
  - SELECT EMP_ID
  - SELECT 'x'
  - SELECT 1

**Summary:**

| Use Case                        | Best Method  | Supported In           |
| ------------------------------- | ------------ | ---------------------- |
| Exact full row match            | `INTERSECT`  | PostgreSQL, SQL Server |
| Common rows by key/column       | `INNER JOIN` | All (✅ MySQL too)      |
| Common values in 1 column       | `IN`         | All                    |
| Existence check for performance | `EXISTS`     | All                    |