- To get **new records** from **one table** when compared to **another** based on a **primary key**, you typically use below approach.

  - NOT EXISTS
  - LEFT JOIN ... IS NULL
  - NOT IN

Let's assume:

- **DBA_Data** is the **source** (e.g., latest or updated data).
- **DBA_Details** is the **target** (e.g., existing or old data).
- **EMP_ID** is the **primary key** in **both** tables.

- **How to Select All Records from One Table That Do Not Exist in Another Table in SQL?**

- **Write a SQL query to find records in Table A that are not in Table B without using NOT IN operator.**

In [0]:
%sql
DROP TABLE IF EXISTS DBA_Data;

CREATE TABLE DBA_Data (
 EMP_ID VARCHAR(20),
 EMP_Name VARCHAR(15),
 EMP_Salary INT,
 EMP_Age INT
);

INSERT INTO DBA_Data
VALUES
("SA001", "Naresh", 20000, 26),
("SA002", "Kumar", 25000, 27),
("SA003", "Rahul", 29000, 29),
("SA004", "Krishna", 32000, 31),
("SA005", "David", 35000, 33),
("SA006", "Himaja", 39000, 35);

SELECT * FROM DBA_Data;

EMP_ID,EMP_Name,EMP_Salary,EMP_Age
SA001,Naresh,20000,26
SA002,Kumar,25000,27
SA003,Rahul,29000,29
SA004,Krishna,32000,31
SA005,David,35000,33
SA006,Himaja,39000,35

In [0]:
%sql
DROP TABLE IF EXISTS DBA_Details;

CREATE TABLE DBA_Details (
 EMP_ID VARCHAR(20),
 EMP_Name VARCHAR(15),
 EMP_Designation VARCHAR(15),
 EMP_Age INT
);

INSERT INTO DBA_Details
VALUES
("SA001", "Naresh", "SW Developer", 32),
("SA003", "Rohit", "Web Developer", 34);

SELECT * FROM DBA_Details;

EMP_ID,EMP_Name,EMP_Designation,EMP_Age
SA001,Naresh,SW Developer,32
SA003,Rohit,Web Developer,34

**1) Using NOT EXISTS**
- This gives you all rows in **DBA_Data** where the **EMP_ID** does **not exist** in **DBA_Details** â€” i.e., **new records**.

In [0]:
%sql
SELECT *
FROM DBA_Data a
WHERE NOT EXISTS (
    SELECT EMP_ID
    FROM DBA_Details b
    WHERE a.EMP_ID = b.EMP_ID
);

EMP_ID,EMP_Name,EMP_Salary,EMP_Age
SA002,Kumar,25000,27
SA004,Krishna,32000,31
SA005,David,35000,33
SA006,Himaja,39000,35

**2) Using LEFT JOIN ... IS NULL**
- This joins both tables and filters out rows where there's **no match** in **DBA_Details**

In [0]:
%sql
-- SELECT a.*, b.*
SELECT *
FROM DBA_Data a
LEFT JOIN DBA_Details b ON a.EMP_ID = b.EMP_ID;

EMP_ID,EMP_Name,EMP_Salary,EMP_Age,EMP_ID,EMP_Name,EMP_Designation,EMP_Age
SA001,Naresh,20000,26,SA001,Naresh,SW Developer,32
SA002,Kumar,25000,27,null,null,null,null
SA003,Rahul,29000,29,SA003,Rohit,Web Developer,34
SA004,Krishna,32000,31,null,null,null,null
SA005,David,35000,33,null,null,null,null
SA006,Himaja,39000,35,null,null,null,null

In [0]:
%sql
SELECT a.*
FROM DBA_Data a
LEFT JOIN DBA_Details b ON a.EMP_ID = b.EMP_ID
WHERE b.EMP_ID IS NULL;

EMP_ID,EMP_Name,EMP_Salary,EMP_Age
SA002,Kumar,25000,27
SA004,Krishna,32000,31
SA005,David,35000,33
SA006,Himaja,39000,35

**3) Using NOT IN (Be careful with NULLs)**

**Note:**
- This can behave unexpectedly if **table_b.id** has any **NULL** values â€” it will return **zero rows**.
- Prefer **NOT EXISTS or LEFT JOIN** unless you're sure **id is NOT NULL**.

In [0]:
%sql
SELECT * FROM DBA_Data
WHERE EMP_ID NOT IN (
    SELECT EMP_ID
    FROM DBA_Details
);

EMP_ID,EMP_Name,EMP_Salary,EMP_Age
SA002,Kumar,25000,27
SA004,Krishna,32000,31
SA005,David,35000,33
SA006,Himaja,39000,35