In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
import pyspark.sql.functions as F

**1) Create Empty DataFrame without Schema (no columns)**

In [0]:
# Create empty DatFrame with no schema (no columns)
df3 = spark.createDataFrame([], StructType([]))
display(df3)
df3.printSchema()

root

**2) Create Empty DataFrame with Schema**

In [0]:
# Create Schema
schema = StructType([
  StructField('FirstName', StringType(), True),
  StructField('Age', IntegerType(), True),
  StructField('Experience', IntegerType(), True),
  StructField('Label_Type', StringType(), True),
  StructField('Last_transaction_date', StringType(), True),
  StructField('last_timestamp', StringType(), True),
  StructField('Sensex_Category', StringType(), True)
  ])

In [0]:
# Create empty DataFrame directly.
emp_df = spark.createDataFrame([], schema)
display(emp_df)

**3) Creating empty DataFrame with NULL placeholders**

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [0]:
# Define schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Sales", IntegerType(), True),
])

# Just placeholders with all nulls
empty_data = [(None, None, None, None),
              (None, None, None, None),
              (None, None, None, None),
              (None, None, None, None),
              (None, None, None, None)]
              
df_null_placeholder = spark.createDataFrame(empty_data, schema)
display(df_null_placeholder)

id,Name,Age,Sales
null,null,null,null
null,null,null,null
null,null,null,null
null,null,null,null
null,null,null,null

In [0]:
# Define schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Sales", IntegerType(), True),
])

# Just placeholders with all nulls
empty_data = [(1, None, None, None),
              (2, "Neol", 25, 150),
              (3, None, None, None),
              (4, "Niroop", 35, 350),
              (5, None, None, None)]
              
df_null_placeholder = spark.createDataFrame(empty_data, schema)
display(df_null_placeholder)

id,Name,Age,Sales
1,null,null,null
2,Neol,25,150
3,null,null,null
4,Niroop,35,350
5,null,null,null

##### 3) How to union existing dataframe to empty dataframe

**⚠️ Things to Avoid**

- **Different schemas:** Will throw an error.
- **Mismatched column names or types:** Columns must match exactly in name, type, and order.

In [0]:
empty_df = spark.createDataFrame([], emp_df.schema)
display(empty_df)

In [0]:
# Sample DataFrame to union
data = [("Kalmesh", 15, 9, "Medium", "23/11/2025", "2025-09-27T19:45:35", "Admin"),
        ("Rohan", 18, 5, "Small", "20/12/2024", "2023-11-29T19:55:35", "Sales"),
        ("Kiran", 19, 3, "Average", "15/06/2023", "2024-09-27T19:35:35", "Marketing"),
        ("Asha", 29, 8, "Short", "13/03/2021", "2021-09-27T19:25:35", "IT"),
        ("Amir", 32, 6, "Long", "17/09/2020", "2018-05-21T15:49:39", "Maintenance"),
        ("Rupesh", 36, 11, "Less", "19/02/2022", "2016-06-27T19:45:35", "Logistics"),
        ("Krupa", 50, 7, "Medium", "12/06/2018", "2019-08-17T22:25:45", "Supplychain"),
        ("Vishnu", 55, 8, "Short", "19/08/2019", "2014-09-27T23:55:45", "Transport"),
        ("Radha", 58, 9, "Long", "26/04/2016", "2015-05-13T15:35:25", "Safety"),
        ]
        
df = spark.createDataFrame(data, schema)
display(df)

FirstName,Age,Experience,Label_Type,Last_transaction_date,last_timestamp,Sensex_Category
Kalmesh,15,9,Medium,23/11/2025,2025-09-27T19:45:35,Admin
Rohan,18,5,Small,20/12/2024,2023-11-29T19:55:35,Sales
Kiran,19,3,Average,15/06/2023,2024-09-27T19:35:35,Marketing
Asha,29,8,Short,13/03/2021,2021-09-27T19:25:35,IT
Amir,32,6,Long,17/09/2020,2018-05-21T15:49:39,Maintenance
Rupesh,36,11,Less,19/02/2022,2016-06-27T19:45:35,Logistics
Krupa,50,7,Medium,12/06/2018,2019-08-17T22:25:45,Supplychain
Vishnu,55,8,Short,19/08/2019,2014-09-27T23:55:45,Transport
Radha,58,9,Long,26/04/2016,2015-05-13T15:35:25,Safety

In [0]:
# Union operation
result_df = empty_df.union(df)
display(result_df)

FirstName,Age,Experience,Label_Type,Last_transaction_date,last_timestamp,Sensex_Category
Kalmesh,15,9,Medium,23/11/2025,2025-09-27T19:45:35,Admin
Rohan,18,5,Small,20/12/2024,2023-11-29T19:55:35,Sales
Kiran,19,3,Average,15/06/2023,2024-09-27T19:35:35,Marketing
Asha,29,8,Short,13/03/2021,2021-09-27T19:25:35,IT
Amir,32,6,Long,17/09/2020,2018-05-21T15:49:39,Maintenance
Rupesh,36,11,Less,19/02/2022,2016-06-27T19:45:35,Logistics
Krupa,50,7,Medium,12/06/2018,2019-08-17T22:25:45,Supplychain
Vishnu,55,8,Short,19/08/2019,2014-09-27T23:55:45,Transport
Radha,58,9,Long,26/04/2016,2015-05-13T15:35:25,Safety

**⚠️ Common Mistake**
- You must always pass a **schema** if the DataFrame is **empty**.

In [0]:
# This will raise an error because schema is not provided or mismatched
empty_df = spark.createDataFrame([])

# Error on this line:
result = empty_df.union(df)

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
File <command-3178736082817283>, line 2
      1 # This will raise an error because schema is not provided or mismatched
----> 2 empty_df = spark.createDataFrame([])
      4 # Error on this line:
      5 result = empty_df.union(df)

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/session.py:1610, in SparkSession.createDataFrame(self, data, schema, samplingRatio, verifySchema)
   1605 if has_pandas and isinstance(data, pd.DataFrame):
   1606     # Create a DataFrame from pandas DataFrame.
   1607     return super(SparkSession, self).createDataFrame(  # type: ignore[call-overload]
   1608         data, schema, samplingRatio, verifySchema
   1609     )
-> 1610 return self._create_dataframe(
   1611     data, schema, samplingRatio, verifySchema  # type: ignore[arg-type]
   1612 )

File /databricks/spark/python/pyspark/sql/session.py:1667, in SparkSession._create_dataframe(self, data, schema, samplingRatio, verifySchema)
   1665     rdd, struct = self._createFromRDD(data.map(prepare), schema, samplingRatio)
   1666 else:
-> 1667     rdd, struct = self._createFromLocal(map(prepare, data), schema)
   1668 jrdd = self._jvm.SerDeUtil.toJavaArray(rdd._to_java_object_rdd())
   1669 jdf = self._jsparkSession.applySchemaToPythonRDD(jrdd.rdd(), struct.json())

File /databricks/spark/python/pyspark/sql/session.py:1234, in SparkSession._createFromLocal(self, data, schema)
   1226 def _createFromLocal(
   1227     self, data: Iterable[Any], schema: Optional[Union[DataType, List[str]]]
   1228 ) -> Tuple["RDD[Tuple]", StructType]:
   1229     """
   1230     Create an RDD for DataFrame from a list or pandas.DataFrame, returns the RDD and schema.
   1231     This would be broken with table acl enabled as user process does not have permission to
   1232     write temp files.
   1233     """
-> 1234     internal_data, struct = self._wrap_data_schema(data, schema)
   1235     return self._sc.parallelize(internal_data), struct

File /databricks/spark/python/pyspark/sql/session.py:1201, in SparkSession._wrap_data_schema(self, data, schema)
   1198     data = list(data)
   1200 if schema is None or isinstance(schema, (list, tuple)):
-> 1201     struct = self._inferSchemaFromList(data, names=schema)
   1202     converter = _create_converter(struct)
   1203     tupled_data: Iterable[Tuple] = map(converter, data)

File /databricks/spark/python/pyspark/sql/session.py:1061, in SparkSession._inferSchemaFromList(self, data, names)
   1046 """
   1047 Infer schema from list of Row, dict, or tuple.
   1048
   (...)
   1058 :class:`pyspark.sql.types.StructType`
   1059 """
   1060 if not data:
-> 1061     raise ValueError("can not infer schema from empty dataset")
   1062 infer_dict_as_struct = self._jconf.inferDictAsStruct()
   1063 infer_array_from_first_element = self._jconf.legacyInferArrayTypeFromFirstElement()

ValueError: can not infer schema from empty dataset

**4) Using loop with empty DataFrame for accumulation**

In [0]:
# Create an empty DataFrame with the same schema
df_loop = spark.createDataFrame([], df.schema)

for i in range(3):
    # Filter the original DataFrame based on Age
    filtered_df = df.filter(df.Age > i * 20)

    # Accumulate the results into df_loop
    df_loop = df_loop.union(filtered_df)

# Display the final accumulated DataFrame
display(df_loop)

FirstName,Age,Experience,Label_Type,Last_transaction_date,last_timestamp,Sensex_Category
Kalmesh,15,9,Medium,23/11/2025,2025-09-27T19:45:35,Admin
Rohan,18,5,Small,20/12/2024,2023-11-29T19:55:35,Sales
Kiran,19,3,Average,15/06/2023,2024-09-27T19:35:35,Marketing
Asha,29,8,Short,13/03/2021,2021-09-27T19:25:35,IT
Amir,32,6,Long,17/09/2020,2018-05-21T15:49:39,Maintenance
Rupesh,36,11,Less,19/02/2022,2016-06-27T19:45:35,Logistics
Krupa,50,7,Medium,12/06/2018,2019-08-17T22:25:45,Supplychain
Vishnu,55,8,Short,19/08/2019,2014-09-27T23:55:45,Transport
Radha,58,9,Long,26/04/2016,2015-05-13T15:35:25,Safety
Asha,29,8,Short,13/03/2021,2021-09-27T19:25:35,IT
Amir,32,6,Long,17/09/2020,2018-05-21T15:49:39,Maintenance
Rupesh,36,11,Less,19/02/2022,2016-06-27T19:45:35,Logistics
Krupa,50,7,Medium,12/06/2018,2019-08-17T22:25:45,Supplychain
Vishnu,55,8,Short,19/08/2019,2014-09-27T23:55:45,Transport
Radha,58,9,Long,26/04/2016,2015-05-13T15:35:25,Safety
Krupa,50,7,Medium,12/06/2018,2019-08-17T22:25:45,Supplychain
Vishnu,55,8,Short,19/08/2019,2014-09-27T23:55:45,Transport
Radha,58,9,Long,26/04/2016,2015-05-13T15:35:25,Safety

**5) Chaining multiple unions with empty DataFrame as starting point**

In [0]:
# Assume df1, df2, df3 all have the same schema
df1 = spark.createDataFrame([(1, "Naresh", 28, "Medium"),
                             (2, "Mohan", 25, "Low"),
                             (3, "Hitesh", 29, "High"),
                             (4, "Vedita", 32, "Less"),
                             (5, "Sushmita", 35, "Higher")],
                             ["id", "Name", "Age", "Type"])

df2 = spark.createDataFrame([(1, "Neha", 21, "Medium"),
                             (2, "Mohin", 26, "Low"),
                             (3, "Hritik", 27, "High"),
                             (4, "Vasu", 35, "Less"),
                             (5, "Susi", 37, "Higher")],
                             ["id", "Name", "Age", "Type"])
df3 = spark.createDataFrame([(1, "Druv", 31, "Medium"),
                             (2, "Eashwar", 33, "Low"),
                             (3, "Guru", 29, "High"),
                             (4, "Vishwak", 39, "Less"),
                             (5, "Sophia", 41, "Higher")],
                             ["id", "Name", "Age", "Type"])

# Start with an empty DataFrame
final_df = spark.createDataFrame([], df1.schema)
display(final_df)

In [0]:
# Union multiple DataFrames
final_df = final_df.union(df1).union(df2).union(df3)
display(final_df)

id,Name,Age,Type
1,Naresh,28,Medium
2,Mohan,25,Low
3,Hitesh,29,High
4,Vedita,32,Less
5,Sushmita,35,Higher
1,Neha,21,Medium
2,Mohin,26,Low
3,Hritik,27,High
4,Vasu,35,Less
5,Susi,37,Higher
1,Druv,31,Medium
2,Eashwar,33,Low
3,Guru,29,High
4,Vishwak,39,Less
5,Sophia,41,Higher