**1) Create a DataFrame from a List of Tuples**

In [0]:
help(spark.createDataFrame)
# spark.createDataFrame(data, schema)

Help on method createDataFrame in module pyspark.sql.connect.session:

createDataFrame(data: Union[ForwardRef('pd.DataFrame'), ForwardRef('np.ndarray'), ForwardRef('pa.Table'), Iterable[Any]], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, List[str], Tuple[str, ...], NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: Optional[bool] = None) -> 'ParentDataFrame' method of pyspark.sql.connect.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`,
    a :class:`numpy.ndarray`, or a :class:`pyarrow.Table`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    .. versionchanged:: 4.0.0
        Supports :class:`pyarrow.Table`.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, ``dict``, etc.), or :class:`list`,
        :class:`pandas.DataFrame`, :class:`numpy.ndarray`, or :class:`pyarrow.Table`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None. The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.

        When ``schema`` is a list of column names, the type of each column
        will be inferred from ``data``.

        When ``schema`` is ``None``, it will try to infer the schema (column names and types)
        from ``data``, which should be an RDD of either :class:`Row`,
        :class:`namedtuple`, or :class:`dict`.

        When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
        match the real data, or an exception will be thrown at runtime. If the given schema is
        not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
        :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
        "value". Each record will also be wrapped into a tuple, which can be converted to row
        later.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring. The first few rows will be used
        if ``samplingRatio`` is ``None``. This option is effective only when the input is
        :class:`RDD`.
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.
        When the input is :class:`pyarrow.Table` or when the input class is
        :class:`pandas.DataFrame` and `spark.sql.execution.arrow.pyspark.enabled` is enabled,
        this option is not effective. It follows Arrow type coercion. This option is not
        supported with Spark Connect.

        .. versionadded:: 2.1.0

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.

    Examples
    --------
    Create a DataFrame from a list of tuples.

    >>> spark.createDataFrame([('Alice', 1)]).show()
    +-----+---+
    |   _1| _2|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a list of dictionaries.

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  1|Alice|
    +---+-----+

    Create a DataFrame with column names specified.

    >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the explicit schema specified.

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> spark.createDataFrame([('Alice', 1)], schema).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the schema in DDL formatted string.

    >>> spark.createDataFrame([('Alice', 1)], "name: string, age: int").show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create an empty DataFrame.
    When initializing an empty DataFrame in PySpark, it's mandatory to specify its schema,
    as the DataFrame lacks data from which the schema can be inferred.

    >>> spark.createDataFrame([], "name: string, age: int").show()
    +----+---+
    |name|age|
    +----+---+
    +----+---+

    Create a DataFrame from Row objects.

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> df = spark.createDataFrame([Person("Alice", 1)])
    >>> df.show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a pandas DataFrame.

    >>> spark.createDataFrame(df.toPandas()).show()  # doctest: +SKIP
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    >>> pdf = pandas.DataFrame([[1, 2]])  # doctest: +SKIP
    >>> spark.createDataFrame(pdf).show()  # doctest: +SKIP
    +---+---+
    |  0|  1|
    +---+---+
    |  1|  2|
    +---+---+

    Create a DataFrame from a PyArrow Table.

    >>> spark.createDataFrame(df.toArrow()).show()  # doctest: +SKIP
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    >>> table = pyarrow.table({'0': [1], '1': [2]})  # doctest: +SKIP
    >>> spark.createDataFrame(table).show()  # doctest: +SKIP
    +---+---+
    |  0|  1|
    +---+---+
    |  1|  2|
    +---+---+

In [0]:
data =[(1, "Naresh", 10.5, 9980133778, "2025-01-03"),
       (2, "Harish", 12.5, 9980133778, "2024-01-03"),
       (3, "Harish", 12.5, 9980133778, "2024-01-03")]
       
schema = ["id", "name", "salary", "phone", "dob"]

df = spark.createDataFrame(data, schema)
df.show()
display(df)
df.printSchema()

+---+------+------+----------+----------+
| id|  name|salary|     phone|       dob|
+---+------+------+----------+----------+
|  1|Naresh|  10.5|9980133778|2025-01-03|
|  2|Harish|  12.5|9980133778|2024-01-03|
|  3|Harish|  12.5|9980133778|2024-01-03|
+---+------+------+----------+----------+

id,name,salary,phone,dob
1,Naresh,10.5,9980133778,2025-01-03
2,Harish,12.5,9980133778,2024-01-03
3,Harish,12.5,9980133778,2024-01-03

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- phone: long (nullable = true)
 |-- dob: string (nullable = true)

- Spark automatically **infers data types**.

In [0]:
data =[(1, "Naresh", 10.5, 9980133778, "2025-01-03"),
       (2, "Harish", 12.5, 9980133778, "2024-01-03"),
       (3, "Harish", 12.5, 9980133778, "2024-01-03"),
       (3, "Harish", "data", 9980133778, "2024-01-03")]
       
schema = ["id", "name", "salary", "phone", "dob"]

df1 = spark.createDataFrame(data, schema)
df1.show()
display(df1)
df1.printSchema()

+---+------+------+----------+----------+
| id|  name|salary|     phone|       dob|
+---+------+------+----------+----------+
|  1|Naresh|  10.5|9980133778|2025-01-03|
|  2|Harish|  12.5|9980133778|2024-01-03|
|  3|Harish|  12.5|9980133778|2024-01-03|
|  3|Harish|  data|9980133778|2024-01-03|
+---+------+------+----------+----------+

id,name,salary,phone,dob
1,Naresh,10.5,9980133778,2025-01-03
2,Harish,12.5,9980133778,2024-01-03
3,Harish,12.5,9980133778,2024-01-03
3,Harish,data,9980133778,2024-01-03

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- phone: long (nullable = true)
 |-- dob: string (nullable = true)

In [0]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, DoubleType, LongType

data =[(1, "Naresh", 10.5, 9980133778, "2025-01-03"),
       (2, "Harish", 12.5, 9980133778, "2024-01-03"),
       (3, "Harish", 12.5, 9980133778, "2024-01-03")]
       
schema = StructType([
    StructField("id", IntegerType(), False),
    StructField("name", StringType(), True),
    StructField("salary", DoubleType(), True),
    StructField("phone", LongType(), True),
    StructField("dob", StringType(), True)
])

df = spark.createDataFrame(data, schema)
df.show()
display(df)
df.printSchema()

+---+------+------+----------+----------+
| id|  name|salary|     phone|       dob|
+---+------+------+----------+----------+
|  1|Naresh|  10.5|9980133778|2025-01-03|
|  2|Harish|  12.5|9980133778|2024-01-03|
|  3|Harish|  12.5|9980133778|2024-01-03|
+---+------+------+----------+----------+

id,name,salary,phone,dob
1,Naresh,10.5,9980133778,2025-01-03
2,Harish,12.5,9980133778,2024-01-03
3,Harish,12.5,9980133778,2024-01-03

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- phone: long (nullable = true)
 |-- dob: string (nullable = true)

**2) Create a DataFrame from a List of Lists**

In [0]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, DoubleType, LongType

data =[[1, "Naresh", 10.5, 9980133778, "2025-01-03"],
       [2, "Harish", 12.5, 9980133778, "2024-01-03"],
       [3, "Harish", 12.5, 9980133778, "2024-01-03"]]
       
schema = StructType([
    StructField("id", IntegerType(), False),
    StructField("name", StringType(), True),
    StructField("salary", DoubleType(), True),
    StructField("phone", LongType(), True),
    StructField("dob", StringType(), True)
])

df_list_list = spark.createDataFrame(data, schema)
df_list_list.show()
display(df_list_list)
df_list_list.printSchema()

+---+------+------+----------+----------+
| id|  name|salary|     phone|       dob|
+---+------+------+----------+----------+
|  1|Naresh|  10.5|9980133778|2025-01-03|
|  2|Harish|  12.5|9980133778|2024-01-03|
|  3|Harish|  12.5|9980133778|2024-01-03|
+---+------+------+----------+----------+

id,name,salary,phone,dob
1,Naresh,10.5,9980133778,2025-01-03
2,Harish,12.5,9980133778,2024-01-03
3,Harish,12.5,9980133778,2024-01-03

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- phone: long (nullable = true)
 |-- dob: string (nullable = true)

**3) Create a DataFrame using dictionary**
- Useful when data comes as **JSON-like objects**.
- **Column order** is **not guaranteed**.

- Syntax: 
  - spark.createDataFrame(data)
  - **Schema** is **inferred automatically**.

In [0]:
data = [
    {'id': 1, 'name': 'John', 'salary': 10.5, 'phone': 9980133778, 'dob': '2025-01-03'},
    {'id': 2, 'name': 'Jane', 'salary': 12.5, 'phone': 9980133778, 'dob': '2024-01-03'},
    {'id': 3, 'name': 'Jane', 'salary': 12.5, 'phone': 9980133778, 'dob': '2024-01-03'}
]

df_dict = spark.createDataFrame(data)
display(df_dict)

dob,id,name,phone,salary
2025-01-03,1,John,9980133778,10.5
2024-01-03,2,Jane,9980133778,12.5
2024-01-03,3,Jane,9980133778,12.5

**4) Create a DataFrame with an Explicit Schema**

In [0]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, DoubleType, LongType

data =[[1, "Naresh", 10.5, 9980133778, "2025-01-03"],
       [2, "Harish", 12.5, 9980133778, "2024-01-03"],
       [3, "Harish", 12.5, 9980133778, "2024-01-03"]]
       
schema = StructType([
    StructField("id", IntegerType(), False),
    StructField("name", StringType(), True),
    StructField("salary", DoubleType(), True),
    StructField("phone", LongType(), True),
    StructField("dob", StringType(), True)
])

df_list_list = spark.createDataFrame(data, schema)
df_list_list.show()
display(df_list_list)
df_list_list.printSchema()

+---+------+------+----------+----------+
| id|  name|salary|     phone|       dob|
+---+------+------+----------+----------+
|  1|Naresh|  10.5|9980133778|2025-01-03|
|  2|Harish|  12.5|9980133778|2024-01-03|
|  3|Harish|  12.5|9980133778|2024-01-03|
+---+------+------+----------+----------+

id,name,salary,phone,dob
1,Naresh,10.5,9980133778,2025-01-03
2,Harish,12.5,9980133778,2024-01-03
3,Harish,12.5,9980133778,2024-01-03

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- phone: long (nullable = true)
 |-- dob: string (nullable = true)

**5) How to create dataframe with NULL values?**

In [0]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, DoubleType, LongType

data =[[1, "Naresh", 10.5, 9980133778, "2025-01-03"],
       [2, "Harish", None, 9980133778, "2024-01-03"],
       [3, "Harish", 12.5, None, "2024-01-03"],
       [3, "Harish", 12.5, 9980133778, "2024-01-03"],
       [3, "Harish", 12.5, 9980133778, None],
       [3, None, 12.5, 9980133778, "2024-01-03"],
       [3, "Harish", 12.5, 9980133778, "2024-01-03"]]
       
schema = StructType([
    StructField("id", IntegerType(), False),
    StructField("name", StringType(), True),
    StructField("salary", DoubleType(), True),
    StructField("phone", LongType(), True),
    StructField("dob", StringType(), True)
])

df_null = spark.createDataFrame(data, schema)
df_null.show()
display(df_null)
df_null.printSchema()

+---+------+------+----------+----------+
| id|  name|salary|     phone|       dob|
+---+------+------+----------+----------+
|  1|Naresh|  10.5|9980133778|2025-01-03|
|  2|Harish|  NULL|9980133778|2024-01-03|
|  3|Harish|  12.5|      NULL|2024-01-03|
|  3|Harish|  12.5|9980133778|2024-01-03|
|  3|Harish|  12.5|9980133778|      NULL|
|  3|  NULL|  12.5|9980133778|2024-01-03|
|  3|Harish|  12.5|9980133778|2024-01-03|
+---+------+------+----------+----------+

id,name,salary,phone,dob
1,Naresh,10.5,9980133778,2025-01-03
2,Harish,null,9980133778,2024-01-03
3,Harish,12.5,null,2024-01-03
3,Harish,12.5,9980133778,2024-01-03
3,Harish,12.5,9980133778,null
3,null,12.5,9980133778,2024-01-03
3,Harish,12.5,9980133778,2024-01-03

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- phone: long (nullable = true)
 |-- dob: string (nullable = true)

In [0]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, DoubleType, LongType

data =[[1, "Naresh", 10.5, 9980133778, "2025-01-03"],
       [2, "Harish", None, 9980133778, "2024-01-03"],
       [3, "Harish", 12.5, None, "2024-01-03"],
       [3, "Harish", 12.5, 9980133778, "2024-01-03"],
       [3, "Harish", 12.5, 9980133778, None],
       [3, None, 12.5, 9980133778, "2024-01-03"],
       [None, "Harish", 12.5, 9980133778, "2024-01-03"]]
       
schema = StructType([
    StructField("id", IntegerType(), False),
    StructField("name", StringType(), False),
    StructField("salary", DoubleType(), True),
    StructField("phone", LongType(), True),
    StructField("dob", StringType(), True)
])

df_null_01 = spark.createDataFrame(data, schema)
df_null_01.show()
display(df_null_01)
df_null_01.printSchema()

---------------------------------------------------------------------------
PySparkValueError                         Traceback (most recent call last)
File <command-6167684495832718>, line 19
      3 data =[[1, "Naresh", 10.5, 9980133778, "2025-01-03"],
      4        [2, "Harish", None, 9980133778, "2024-01-03"],
      5        [3, "Harish", 12.5, None, "2024-01-03"],
   (...)
      8        [3, None, 12.5, 9980133778, "2024-01-03"],
      9        [None, "Harish", 12.5, 9980133778, "2024-01-03"]]
     11 schema = StructType([
     12     StructField("id", IntegerType(), False),
     13     StructField("name", StringType(), False),
   (...)
     16     StructField("dob", StringType(), True)
     17 ])
---> 19 df_null_01 = spark.createDataFrame(data, schema)
     20 df_null_01.show()
     21 display(df_null_01)

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/session.py:813, in SparkSession.createDataFrame(self, data, schema, samplingRatio, verifySchema)
    806     from pyspark.sql.conversion import (
    807         LocalDataToArrowConversion,
    808     )
    810     # Spark Connect will try its best to build the Arrow table with the
    811     # inferred schema in the client side, and then rename the columns and
    812     # cast the datatypes in the server side.
--> 813     _table = LocalDataToArrowConversion.convert(_data, _schema, prefers_large_types)
    815 # TODO: Beside the validation on number of columns, we should also check
    816 # whether the Arrow Schema is compatible with the user provided Schema.
    817 if _num_cols is not None and _num_cols != _table.shape[1]:

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/conversion.py:472, in LocalDataToArrowConversion.convert(data, schema, use_large_var_types)
    463 if len_column_names > 0:
    464     column_convs = [
    465         LocalDataToArrowConversion._create_converter(
    466             field.dataType, field.nullable, none_on_identity=True
    467         )
    468         for field in schema.fields
    469     ]
    471     pylist = [
--> 472         [conv(row[i]) for row in rows] if conv is not None else [row[i] for row in rows]
    473         for i, conv in enumerate(column_convs)
    474     ]
    476     pa_schema = to_arrow_schema(
    477         StructType(
    478             [
   (...)
    485         prefers_large_types=use_large_var_types,
    486     )
    488     return pa.Table.from_arrays(pylist, schema=pa_schema)

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/conversion.py:408, in LocalDataToArrowConversion._create_converter.<locals>.convert_other(value)
    406 def convert_other(value: Any) -> Any:
    407     if value is None:
--> 408         raise PySparkValueError(f"input for {dataType} must not be None")
    409     return value

PySparkValueError: input for IntegerType() must not be None

- df.show() Vs df.display()
- df.printSchema()
- df.columns
- df.count()
- df.schema
- df.dtypes
- dict(df.dtypes)

In [0]:
df.columns

['id', 'name', 'salary', 'phone', 'dob']

In [0]:
len(df.columns)

5

**6) Create Empty DataFrame without Schema (no columns)**

In [0]:
df3 = spark.createDataFrame([], StructType([]))
display(df3)

**7) Create Empty DataFrame with Schema**

In [0]:
# Create Schema
schema = StructType([
  StructField('FirstName', StringType(), True),
  StructField('LastName', IntegerType(), True),
  StructField('Records', IntegerType(), True),
  StructField('Product_Type', StringType(), True),
  StructField('transaction_date', StringType(), True),
  StructField('current_timestamp', StringType(), True),
  StructField('Category', StringType(), True)
  ])

In [0]:
# Create empty DataFrame directly.
emp_df = spark.createDataFrame([], schema)
display(emp_df)

**8) Creating empty DataFrame with NULL's**

In [0]:
# Define schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Sales", IntegerType(), True),
])

# Just placeholders with all nulls
empty_data = [(None, None, None, None),
              (None, None, None, None),
              (None, None, None, None),
              (None, None, None, None),
              (None, None, None, None)]

df_empty = spark.createDataFrame(empty_data, schema)
# display(df_empty)
df_empty.display()

id,Name,Age,Sales
null,null,null,null
null,null,null,null
null,null,null,null
null,null,null,null
null,null,null,null

In [0]:
df_empty.count()

5

In [0]:
df.schema

StructType([StructField('id', IntegerType(), False), StructField('name', StringType(), True), StructField('salary', DoubleType(), True), StructField('phone', LongType(), True), StructField('dob', StringType(), True)])

In [0]:
df.dtypes

[('id', 'int'),
 ('name', 'string'),
 ('salary', 'double'),
 ('phone', 'bigint'),
 ('dob', 'string')]

In [0]:
dict(df.dtypes)

{'id': 'int',
 'name': 'string',
 'salary': 'double',
 'phone': 'bigint',
 'dob': 'string'}