#### ISNULL() / IFNULL()

- The ISNULL() function in SQL Server **replaces NULL values** with a **specified replacement value**.
- used to **replace NULL values** with a **specified replacement value**.
- The ISNULL() function is used to **return a specified value** if the expression is **NULL**, otherwise it returns the **expression** itself.

- **IFNULL()** is a **MySQL** function (similar to **ISNULL() in SQL Server**).

**SQL Server:**
- isnull
- coalesce

**MySQL:**
- iFnull
- coalesce

**Oracle:**
- nvl
- coalesce

     SELECT IFNULL(Status, 'Finished') AS Status
     FROM tbl_NonNull_Nulls_Blank; 
                  (or)
     SELECT COALESCE(Status, 'Finished') AS Status
     FROM tbl_NonNull_Nulls_Blank;

❌ Avoid in Spark SQL:

     ISNULL(Status, 'Finished')  -- ❌ This is for SQL Server, not Spark

#### Syntax

     ISNULL(expression, replacement_value)

- **expression:** The value/column to check for **NULL**.
- **replacement_value:** Value to return if **expression is NULL**.

In [0]:
%sql
SELECT IFNULL(NULL, 'Database Engineer');

"IFNULL(NULL,'Database Engineer')"
Database Engineer

In [0]:
%sql
SELECT IFNULL('Hello', 'Database Engineer') AS Name;

Name
Hello

In [0]:
%sql
DROP TABLE IF EXISTS tblEmployeesIsNull;
CREATE TABLE tblEmployeesIsNull (
    OBJECT_ID INT,
    Name VARCHAR(50),
    Department VARCHAR(30),
    Salary DECIMAL(10,2),
    Bonus DECIMAL(10,2),
    Remarks VARCHAR(100),
    ContactPhone VARCHAR(15),
    Status VARCHAR(15),
    description VARCHAR(20),
    weight int,
    Feedback VARCHAR(20)
);

-- Insert sample data
INSERT INTO tblEmployeesIsNull VALUES
(583069, 'Harish', 'Admin', 50000, NULL, 'Good Attendance', NULL, NULL, 'E-Mail', 100, 'Regular'),
(510102, "", 'HR', 45000, 5000, 'Regular Attendance and studious', NULL, 'Finished', 'Internet', 200, NULL),
(506654, "Basha", "", 60000, 0, '', '9876543210', 'Not Relevant', 'Social Media', NULL, ''),
(583195, NULL, 'IT', 52000, 4000, NULL, NULL, 'Started', 'Messaging', 10, 'Good'),
(470450, "Venky", 'SALES', 50000, NULL, 'Good Attendance', NULL, 'Not Relevant', 'IoT', 50, ''),
(558253, "", 'HR', 45000, 5000, 'Regular Attendance and studious', NULL, 'Open', NULL, 75, NULL),
(NULL, "Krishna", NULL, 60000, NULL, 'After markets', '9876543210', NULL, 'Manual data entry', NULL, 'Regular'),
(583181, "Kiran", 'IT', 52000, 4000, NULL, NULL, 'Finished', 'Other', NULL, 'Medium'),
(583119, "Hitesh", 'Finance', 60000, NULL, '', '9876543210', NULL, 'Telephony', 300, 'Average'),
(577519, "", NULL, 52000, 4000, NULL, NULL, 'Not Relevant', NULL, 500, 'Good'),
(583151, "Sushma", 'Accounts', 52000, 4000, 'Explained in detail', NULL, 'Open', 'Fax', NULL, ''),
(583167, NULL, NULL, 52000, 0, '', NULL, 'Not Relevant', 'Feedback', 250, 'Regular'),
(583162, "Buvan", NULL, 52000, 4000, NULL, NULL, NULL, 'WorkZone', 350, NULL),
(575216, "Mohan", 'Hardware', 52000, 4000, 'Nice Explanation', NULL, 'Open', 'IOT', NULL, ''),
(NULL, NULL, NULL, 52000, 0, '', NULL, 'Finished', NULL, 1000, 'Average'),
(583173, "Lohith", "", 52000, 4000, NULL, NULL, 'Finished', NULL, 550, 'Good'),
(583099, "Loba", 'Maintenance', 52000, 0, '', NULL, 'Started', NULL, 650, 'Excellent');

SELECT * FROM tblEmployeesIsNull;

OBJECT_ID,Name,Department,Salary,Bonus,Remarks,ContactPhone,Status,description,weight,Feedback
583069,Harish,Admin,50000.00,null,Good Attendance,null,null,E-Mail,100,Regular
510102,,HR,45000.00,5000.00,Regular Attendance and studious,null,Finished,Internet,200,null
506654,Basha,,60000.00,0.00,,9876543210,Not Relevant,Social Media,null,
583195,null,IT,52000.00,4000.00,null,null,Started,Messaging,10,Good
470450,Venky,SALES,50000.00,null,Good Attendance,null,Not Relevant,IoT,50,
558253,,HR,45000.00,5000.00,Regular Attendance and studious,null,Open,null,75,null
null,Krishna,null,60000.00,null,After markets,9876543210,null,Manual data entry,null,Regular
583181,Kiran,IT,52000.00,4000.00,null,null,Finished,Other,null,Medium
583119,Hitesh,Finance,60000.00,null,,9876543210,null,Telephony,300,Average
577519,,null,52000.00,4000.00,null,null,Not Relevant,null,500,Good
583151,Sushma,Accounts,52000.00,4000.00,Explained in detail,null,Open,Fax,null,
583167,null,null,52000.00,0.00,,null,Not Relevant,Feedback,250,Regular
583162,Buvan,null,52000.00,4000.00,null,null,null,WorkZone,350,null
575216,Mohan,Hardware,52000.00,4000.00,Nice Explanation,null,Open,IOT,null,
null,null,null,52000.00,0.00,,null,Finished,null,1000,Average
583173,Lohith,,52000.00,4000.00,null,null,Finished,null,550,Good
583099,Loba,Maintenance,52000.00,0.00,,null,Started,null,650,Excellent

##### 1) Replace NULL Values with Default
- **Replaces NULL** in Bonus column with **0**.

In [0]:
%sql
SELECT OBJECT_ID, Name, Department,
       IFNULL(Bonus, 0) AS Bonus
FROM tblEmployeesIsNull;

OBJECT_ID,Name,Department,Bonus
583069,Harish,Admin,0.00
510102,,HR,5000.00
506654,Basha,,0.00
583195,null,IT,4000.00
470450,Venky,SALES,0.00
558253,,HR,5000.00
null,Krishna,null,0.00
583181,Kiran,IT,4000.00
583119,Hitesh,Finance,0.00
577519,,null,4000.00
583151,Sushma,Accounts,4000.00
583167,null,null,0.00
583162,Buvan,null,4000.00
575216,Mohan,Hardware,4000.00
null,null,null,0.00
583173,Lohith,,4000.00
583099,Loba,Maintenance,0.00

##### 2) Replace NULL with Text
- Shows **Not Assigned** if Department is **NULL**.

In [0]:
%sql
SELECT OBJECT_ID, Name,
       IFNULL(Department, 'Not Assigned') AS Department
FROM tblEmployeesIsNull;

OBJECT_ID,Name,Department
583069,Harish,Admin
510102,,HR
506654,Basha,
583195,null,IT
470450,Venky,SALES
558253,,HR
null,Krishna,Not Assigned
583181,Kiran,IT
583119,Hitesh,Finance
577519,,Not Assigned
583151,Sushma,Accounts
583167,null,Not Assigned
583162,Buvan,Not Assigned
575216,Mohan,Hardware
null,null,Not Assigned
583173,Lohith,
583099,Loba,Maintenance

##### 3) How to take sum / average?

In [0]:
%sql
SELECT weight,
       IFNULL(weight, 100) Replace_Null
FROM tblEmployeesIsNull;

weight,Replace_Null
100,100
200,200
null,100
10,10
50,50
75,75
null,100
null,100
300,300
500,500
null,100
250,250
350,350
null,100
1000,1000
550,550
650,650

In [0]:
%sql
-- Query using ISNULL to replace NULL weights with 100, then take average
SELECT AVG(IFNULL(weight, 100)) AS AvgWeight,
       SUM(IFNULL(weight, 100)) AS SumWeight
FROM tblEmployeesIsNull;

AvgWeight,SumWeight
266.7647058823529,4535

##### 4) Use ISNULL() in a Calculation
- Adds **Salary with Bonus**, treating missing bonus as **0**.

In [0]:
%sql
SELECT OBJECT_ID, Name, Salary, Bonus,
       Salary + IFNULL(Bonus, 750) AS TotalPay
FROM tblEmployeesIsNull;

OBJECT_ID,Name,Salary,Bonus,TotalPay
583069,Harish,50000.00,null,50750.00
510102,,45000.00,5000.00,50000.00
506654,Basha,60000.00,0.00,60000.00
583195,null,52000.00,4000.00,56000.00
470450,Venky,50000.00,null,50750.00
558253,,45000.00,5000.00,50000.00
null,Krishna,60000.00,null,60750.00
583181,Kiran,52000.00,4000.00,56000.00
583119,Hitesh,60000.00,null,60750.00
577519,,52000.00,4000.00,56000.00
583151,Sushma,52000.00,4000.00,56000.00
583167,null,52000.00,0.00,52000.00
583162,Buvan,52000.00,4000.00,56000.00
575216,Mohan,52000.00,4000.00,56000.00
null,null,52000.00,0.00,52000.00
583173,Lohith,52000.00,4000.00,56000.00
583099,Loba,52000.00,0.00,52000.00