#### 1) ISNULL() / IFNULL()

In [0]:
%sql
DROP TABLE IF EXISTS tblProductIsNull;
CREATE TABLE tblProductIsNull(
     SNo int,
     first_name varchar(20),
     middle_name varchar(20),
     last_name varchar(20),
     Product varchar(20),
     ProductsSold int,
     ItemsOrder int,
     ItemPrice int
);

INSERT INTO tblProductIsNull(SNo, first_name, middle_name, last_name, Product, ProductsSold, ItemsOrder, ItemPrice)
VALUES
(101, 'Rupesh', null, null, 'nut', 100, 50, 200),
(102, 'Roshan', null, 'Swetha', 'bag', 200, null, 300),
(103, 'Rashi', 'Govardan', null, 'plug', 150, 50, 100),
(104, null, 'Kasi', 'Gupta', 'cover', 125, null, 400),
(105, 'Ganesh', 'Kumar', 'Rao', 'light', 100, 25, 500),
(106, 'Danush', 'Kannan', null, 'plywood', 120, 50, 150),
(107, null, 'Kalki', 'Rayudu', 'glass', 120, null, 200),
(108, 'Gopesh', 'Singh', null, 'light', 200, 35, 300),
(109, null, null, 'Dorai', 'vinyl', 50, 35, 100),
(110, null, null, null, 'screw', 100, 35, 200);

SELECT * FROM tblProductIsNull;

SNo,first_name,middle_name,last_name,Product,ProductsSold,ItemsOrder,ItemPrice
101,Rupesh,null,null,nut,100,50,200
102,Roshan,null,Swetha,bag,200,null,300
103,Rashi,Govardan,null,plug,150,50,100
104,null,Kasi,Gupta,cover,125,null,400
105,Ganesh,Kumar,Rao,light,100,25,500
106,Danush,Kannan,null,plywood,120,50,150
107,null,Kalki,Rayudu,glass,120,null,200
108,Gopesh,Singh,null,light,200,35,300
109,null,null,Dorai,vinyl,50,35,100
110,null,null,null,screw,100,35,200

In [0]:
%sql
SELECT first_name,
       IFNULL(first_name, 'FIRST-NAME') AS FullName,
       middle_name,
       IFNULL(middle_name, 'MIDDLE-NAME') AS MiddleName,
       last_name,
       IFNULL(last_name, 'LAST-NAME') AS LastName
FROM tblProductIsNull;

first_name,FullName,middle_name,MiddleName,last_name,LastName
Rupesh,Rupesh,null,MIDDLE-NAME,null,LAST-NAME
Roshan,Roshan,null,MIDDLE-NAME,Swetha,Swetha
Rashi,Rashi,Govardan,Govardan,null,LAST-NAME
null,FIRST-NAME,Kasi,Kasi,Gupta,Gupta
Ganesh,Ganesh,Ram,Ram,Ravi,Ravi
Danush,Danush,Kannan,Kannan,null,LAST-NAME
null,FIRST-NAME,Kalki,Kalki,Rayudu,Rayudu
Gopesh,Gopesh,Singh,Singh,null,LAST-NAME
null,FIRST-NAME,null,MIDDLE-NAME,Dorai,Dorai
null,FIRST-NAME,null,MIDDLE-NAME,null,LAST-NAME

In [0]:
%sql
SELECT first_name, middle_name, last_name,
       IFNULL(first_name, middle_name) AS FullName,
       COALESCE(first_name, middle_name, last_name, 'Default') AS CustName
FROM tblProductIsNull;

first_name,middle_name,last_name,FullName,CustName
Rupesh,null,null,Rupesh,Rupesh
Roshan,null,Swetha,Roshan,Roshan
Rashi,Govardan,null,Rashi,Rashi
null,Kasi,Gupta,Kasi,Kasi
Ganesh,Ram,Ravi,Ganesh,Ganesh
Danush,Kannan,null,Danush,Danush
null,Kalki,Rayudu,Kalki,Kalki
Gopesh,Singh,null,Gopesh,Gopesh
null,null,Dorai,null,Dorai
null,null,null,null,Default

In [0]:
%sql
SELECT first_name, middle_name, last_name, 
       CONCAT(first_name, ' ', middle_name, ' ', last_name) AS FullName,
       ProductsSold, ItemsOrder, ItemPrice,
       (ProductsSold + ItemsOrder) * ItemPrice AS Total_Sales
FROM tblProductIsNull;

first_name,middle_name,last_name,FullName,ProductsSold,ItemsOrder,ItemPrice,Total_Sales
Rupesh,null,null,null,100,50,200,30000
Roshan,null,Swetha,null,200,null,300,null
Rashi,Govardan,null,null,150,50,100,20000
null,Kasi,Gupta,null,125,null,400,null
Ganesh,Kumar,Rao,Ganesh Kumar Rao,100,25,500,62500
Danush,Kannan,null,null,120,50,150,25500
null,Kalki,Rayudu,null,120,null,200,null
Gopesh,Singh,null,null,200,35,300,70500
null,null,Dorai,null,50,35,100,8500
null,null,null,null,100,35,200,27000

In [0]:
%sql
SELECT first_name, middle_name, last_name,
       CONCAT(IFNULL(first_name, 'FIRST-NAME'), ' ', IFNULL(middle_name, 'MIDDLE-NAME'), ' ', IFNULL(last_name, 'LAST-NAME')) AS FullName,
       ProductsSold, ItemsOrder, ItemPrice, 
       (ProductsSold + IFNULL(ItemsOrder, 0)) * ItemPrice AS Total_Sales
FROM tblProductIsNull;

first_name,middle_name,last_name,FullName,ProductsSold,ItemsOrder,ItemPrice,Total_Sales
Rupesh,null,null,Rupesh MIDDLE-NAME LAST-NAME,100,50,200,30000
Roshan,null,Swetha,Roshan MIDDLE-NAME Swetha,200,null,300,60000
Rashi,Govardan,null,Rashi Govardan LAST-NAME,150,50,100,20000
null,Kasi,Gupta,FIRST-NAME Kasi Gupta,125,null,400,50000
Ganesh,Kumar,Rao,Ganesh Kumar Rao,100,25,500,62500
Danush,Kannan,null,Danush Kannan LAST-NAME,120,50,150,25500
null,Kalki,Rayudu,FIRST-NAME Kalki Rayudu,120,null,200,24000
Gopesh,Singh,null,Gopesh Singh LAST-NAME,200,35,300,70500
null,null,Dorai,FIRST-NAME MIDDLE-NAME Dorai,50,35,100,8500
null,null,null,FIRST-NAME MIDDLE-NAME LAST-NAME,100,35,200,27000

#### 2) NOT ISNULL()

In [0]:
%sql
DROP TABLE IF EXISTS tblEmployeesNotIsNull;
CREATE TABLE tblEmployeesNotIsNull (
    EmpID INT,
    Name VARCHAR(50),
    Bonus DECIMAL(10,2)
);

INSERT INTO tblEmployeesNotIsNull (EmpID, Name, Bonus) VALUES
(1, 'Joseph', 5000.00),
(2, 'Anand', NULL),
(3, 'Anand', 0),
(4, 'Robert', 3000.00),
(5, 'Megha', NULL),
(6, 'Dravid', 4500.00),
(7, 'Anand', 0);

SELECT * FROM tblEmployeesNotIsNull;

EmpID,Name,Bonus
1,Joseph,5000.00
2,Anand,null
3,Anand,0.00
4,Robert,3000.00
5,Megha,null
6,Dravid,4500.00
7,Anand,0.00

##### a) Using NOT ISNULL() in a WHERE clause
- **ISNULL(Bonus, 0)** replaces **NULL with 0**.
- **NOT ISNULL(Bonus, 0) = 0** means we are **excluding** rows where **Bonus is NULL or 0**.

In [0]:
%sql
SELECT *
FROM tblEmployeesNotIsNull
WHERE NOT IFNULL(Bonus, 0) = 0;

EmpID,Name,Bonus
1,Joseph,5000.00
4,Robert,3000.00
6,Dravid,4500.00

In [0]:
%sql
SELECT *
FROM tblEmployeesNotIsNull
WHERE IFNULL(Bonus, 0) = 0;

EmpID,Name,Bonus
2,Anand,null
3,Anand,0.00
5,Megha,null
7,Anand,0.00

##### b) Count rows with non-null and non-zero Bonus

In [0]:
%sql
SELECT COUNT(*) AS CountValidBonus
FROM tblEmployeesNotIsNull
WHERE NOT IFNULL(Bonus, 0) = 0;

CountValidBonus
3

In [0]:
%sql
SELECT COUNT(*) AS CountValidBonus
FROM tblEmployeesNotIsNull
WHERE IFNULL(Bonus, 0) = 0;

CountValidBonus
4

##### c) Filtering rows that have an actual value (non-zero)
- Returns only **employees** whose **bonus is greater than or equal to 1** after replacing **NULLs with 0**.

In [0]:
%sql
SELECT *
FROM tblEmployeesNotIsNull
WHERE NOT IFNULL(Bonus, 0) < 1;

EmpID,Name,Bonus
1,Joseph,5000.00
3,Robert,3000.00
5,Dravid,4500.00