#### **union(), unionAll() & unionByName()**

**PySpark “2.0.0”**

- **union()**
  - **Removes** the **duplicate records** from resultant dataframe until **spark version 2.0.0**. So duplicate can be removed manually by **dropDuplicates()**.

- **unionAll()**
  - Same as union but **retains duplicate records** as well in resultant dataframe.

**union():** 
- Combines **two DataFrames** have the **same column order and schema**.

    - **union() and unionAll()** transformations are used to **merge two or more DataFrame’s** of the **same schema or structure**.
    - The output includes `all rows from both DataFrames` and **duplicates are retained**.
    - If schemas are `not the same it returns an error`.

**unionAll():**
  - Alias for union(), behaves the same.
  - **unionAll()** method is **deprecated** since **PySpark “2.0.0”** version and **recommends** using the **union()** method.

**unionByName():**
- Combines two DataFrames by matching **column names**, even **if column order differs**.
- To deal with the DataFrames of **different schemas** we need to use **unionByName()** transformation.

**When to Use What?**

- Use **union() or unionAll()** when **schemas and column orders** are the **same**.
- Use **unionByName()** when **column names** are the **same** but their **order** might be **different**.

**Key Differences**

         |   Function    |    Same Schema	|  Same Column Order	|  Matches Column Names  |
         |---------------|------------------|-----------------------|------------------------|
         | union()	     |   ✅ Required	|   ✅ Required	        |   ❌ No Matching       |
         | unionAll()    |   ✅ Required    |   ✅ Required	        |   ❌ No Matching       |
         | unionByName() |   ✅ Required	|   ❌ Not Required	|   ✅ Matches Columns   |

**Syntax**

     df1.union(df2)
     df1.unionAll(df2)
     df1.unionByName(df3)

In [0]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.master("local").getOrCreate()

# Get Spark version
print(spark.sparkContext.version)

3.5.0

In [0]:
simpleData = [("Kiran", "Sales", "AP", 890000, 24, 35000), \
              ("Mohan", "Admin", "TN", 756000, 36, 45000), \
              ("Robert", "Marketing", "KA", 567000, 33, 35000), \
              ("Swetha", "Finance", "PNB", 598000, 26, 99000), \
              ("Kamalesh", "IT", "TS", 8946000, 31, 56000), \
              ("Mathew", "Maintenance", "KL", 667000, 28, 467000), \
              ("Santhosh", "Sales", "MH", 873000, 24, 734000),\
              ("Swetha", "Finance", "PNB", 598000, 26, 99000), \
              ("Mohan", "Admin", "TN", 756000, 36, 45000)
              ]

columns= ["employee_name", "department", "state", "salary", "age", "bonus"]

df1 = spark.createDataFrame(data = simpleData, schema = columns)
df1.printSchema()
display(df1)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Swetha,Finance,PNB,598000,26,99000
Mohan,Admin,TN,756000,36,45000

In [0]:
# Create DataFrame2
simpleData2 = [("Kailash", "Sales", "RJ", 96600, 30, 15500), \
               ("Somesh", "Finance", "UP", 88000, 22, 27800), \
               ("Jennifer", "Support", "TN", 59000, 43, 35500), \
               ("Kumar", "Marketing", "CA", 768000, 28, 945000), \
               ("Sandya", "IT", "PNB", 789000, 37, 678900), \
               ("Swaroop", "Admin", "KL", 679000, 24, 478000), \
               ("Joseph", "Finance", "DL", 789000, 29, 456700), \
               ("Rashi", "Maintenance", "TS", 467800, 23, 872300), \
               ("Krishna", "Backend", "AP", 945670, 39, 435000),\
               ("Sandya", "IT", "PNB", 789000, 37, 678900), \
               ("Swaroop", "Admin", "KL", 679000, 24, 478000)
               ]
columns2= ["employee_name", "department", "state", "salary", "age", "bonus"]

df2 = spark.createDataFrame(data = simpleData2, schema = columns2)

df2.printSchema()
display(df2)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

employee_name,department,state,salary,age,bonus
Kailash,Sales,RJ,96600,30,15500
Somesh,Finance,UP,88000,22,27800
Jennifer,Support,TN,59000,43,35500
Kumar,Marketing,CA,768000,28,945000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000
Joseph,Finance,DL,789000,29,456700
Rashi,Maintenance,TS,467800,23,872300
Krishna,Backend,AP,945670,39,435000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000

In [0]:
# dataframe with different order of columns as compared to df1
simpleData4 = [("Kailash", 96600, "Sales", 30, "RJ", 15500), \
               ("Somesh", 88000, "Finance", 22, "UP", 27800), \
               ("Jennifer", 59000, "Support", 43, "TN", 35500), \
               ("Kumar", 768000, "Marketing", 28, "CA", 945000), \
               ("Sandya", 789000, "IT", 37, "PNB", 678900), \
               ("Swaroop", 679000, "Admin", 24, "KL", 478000), \
               ("Joseph", 789000, "Finance", 29, "DL", 456700), \
               ("Rashi", 467800, "Maintenance", 23, "TS", 872300), \
               ("Krishna", 945670, "Backend", 39, "AP", 435000)
               ]
columns4 = ["employee_name", "salary", "department", "age", "state", "bonus"]

df4 = spark.createDataFrame(data = simpleData4, schema = columns4)

df4.printSchema()
display(df4)

root
 |-- employee_name: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)
 |-- age: long (nullable = true)
 |-- state: string (nullable = true)
 |-- bonus: long (nullable = true)

employee_name,salary,department,age,state,bonus
Kailash,96600,Sales,30,RJ,15500
Somesh,88000,Finance,22,UP,27800
Jennifer,59000,Support,43,TN,35500
Kumar,768000,Marketing,28,CA,945000
Sandya,789000,IT,37,PNB,678900
Swaroop,679000,Admin,24,KL,478000
Joseph,789000,Finance,29,DL,456700
Rashi,467800,Maintenance,23,TS,872300
Krishna,945670,Backend,39,AP,435000

In [0]:
# dataframe with different order of columns and count as compared to df1
simpleData5 = [("Kailash", 96600, "Sales", 30, "RJ", 15500, 12345), \
               ("Somesh", 88000, "Finance", 22, "UP", 27800, 67890), \
               ("Jennifer", 59000, "Support", 43, "TN", 35500, 14789), \
               ("Kumar", 768000, "Marketing", 28, "CA", 945000, 98765), \
               ("Sandya", 789000, "IT", 37, "PNB", 678900, 85432), \
               ("Swaroop", 679000, "Admin", 24, "KL", 478000, 74321), \
               ("Joseph", 789000, "Finance", 29, "DL", 456700, 45980), \
               ("Rashi", 467800, "Maintenance", 23, "TS", 872300, 517132), \
               ("Krishna", 945670, "Backend", 39, "AP", 435000, 560103)
               ]
columns5 = ["employee_name", "salary", "department", "age", "state", "bonus", "pincode"]

df5 = spark.createDataFrame(data = simpleData5, schema = columns5)

df5.printSchema()
display(df5)

root
 |-- employee_name: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)
 |-- age: long (nullable = true)
 |-- state: string (nullable = true)
 |-- bonus: long (nullable = true)
 |-- pincode: long (nullable = true)

employee_name,salary,department,age,state,bonus,pincode
Kailash,96600,Sales,30,RJ,15500,12345
Somesh,88000,Finance,22,UP,27800,67890
Jennifer,59000,Support,43,TN,35500,14789
Kumar,768000,Marketing,28,CA,945000,98765
Sandya,789000,IT,37,PNB,678900,85432
Swaroop,679000,Admin,24,KL,478000,74321
Joseph,789000,Finance,29,DL,456700,45980
Rashi,467800,Maintenance,23,TS,872300,517132
Krishna,945670,Backend,39,AP,435000,560103

**1) Merge two or more DataFrames using union**
- union() method merges **two DataFrames** and returns the new DataFrame with **all rows** from two Dataframes regardless of **duplicate data**.

      same column names
      same order
      same column count

In [0]:
# union() to merge two DataFrames has same column names, order and count
# df1: "employee_name", "department", "state", "salary", "age", "bonus"
# df2: "employee_name", "department", "state", "salary", "age", "bonus"
unionDF = df1.union(df2)
unionDF.display()

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Swetha,Finance,PNB,598000,26,99000
Mohan,Admin,TN,756000,36,45000
Kailash,Sales,RJ,96600,30,15500
Somesh,Finance,UP,88000,22,27800
Jennifer,Support,TN,59000,43,35500
Kumar,Marketing,CA,768000,28,945000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000
Joseph,Finance,DL,789000,29,456700
Rashi,Maintenance,TS,467800,23,872300
Krishna,Backend,AP,945670,39,435000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000

In [0]:
display(unionDF.dropDuplicates())

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Kailash,Sales,RJ,96600,30,15500
Somesh,Finance,UP,88000,22,27800
Kumar,Marketing,CA,768000,28,945000
Jennifer,Support,TN,59000,43,35500
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000
Rashi,Maintenance,TS,467800,23,872300
Joseph,Finance,DL,789000,29,456700
Krishna,Backend,AP,945670,39,435000

In [0]:
df2_col_re = df2.withColumnRenamed("bonus", "bonus_new")
display(df2_col_re)
unionDFNew = df1.union(df2_col_re)
unionDFNew.display()

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Swetha,Finance,PNB,598000,26,99000
Mohan,Admin,TN,756000,36,45000
Kailash,Sales,RJ,96600,30,15500
Somesh,Finance,UP,88000,22,27800
Jennifer,Support,TN,59000,43,35500
Kumar,Marketing,CA,768000,28,945000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000
Joseph,Finance,DL,789000,29,456700
Rashi,Maintenance,TS,467800,23,872300
Krishna,Backend,AP,945670,39,435000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000

In [0]:
df2_mltcol_re = df2.withColumnRenamed("employee_name", "EName")\
                   .withColumnRenamed("department", "dept")\
                   .withColumnRenamed("state", "country")\
                   .withColumnRenamed("salary", "commission")\
                   .withColumnRenamed("bonus_new", "age")\
                   .withColumnRenamed("age", "bonus")
                   
unionDFMult = df1.union(df2_mltcol_re)
unionDFMult.display()

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Swetha,Finance,PNB,598000,26,99000
Mohan,Admin,TN,756000,36,45000
Kailash,Sales,RJ,96600,30,15500
Somesh,Finance,UP,88000,22,27800
Jennifer,Support,TN,59000,43,35500
Kumar,Marketing,CA,768000,28,945000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000
Joseph,Finance,DL,789000,29,456700
Rashi,Maintenance,TS,467800,23,872300
Krishna,Backend,AP,945670,39,435000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000

In [0]:
df3 = df2.withColumn("hike", df2.bonus*100)
display(df3)

employee_name,department,state,salary,age,bonus,hike
Kailash,Sales,RJ,96600,30,15500,1550000
Somesh,Finance,UP,88000,22,27800,2780000
Jennifer,Support,TN,59000,43,35500,3550000
Kumar,Marketing,CA,768000,28,945000,94500000
Sandya,IT,PNB,789000,37,678900,67890000
Swaroop,Admin,KL,679000,24,478000,47800000
Joseph,Finance,DL,789000,29,456700,45670000
Rashi,Maintenance,TS,467800,23,872300,87230000
Krishna,Backend,AP,945670,39,435000,43500000
Sandya,IT,PNB,789000,37,678900,67890000
Swaroop,Admin,KL,679000,24,478000,47800000

In [0]:
# union() to merge two DataFrames of different count
# df1 and df2 has same column names and order but with one extra column in df2
# df1: "employee_name", "department", "state", "salary", "age", "bonus"
# df3: "employee_name", "department", "state", "salary", "age", "bonus", "pincode"
unionDF1 = df1.union(df3)
unionDF1.display()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3903420035330707>, line 5
      1 # union() to merge two DataFrames of different count
      2 # df1 and df2 has same column names and order but with one extra column in df2
      3 # df1: "employee_name", "department", "state", "salary", "age", "bonus"
      4 # df3: "employee_name", "department", "state", "salary", "age", "bonus", "pincode"
----> 5 unionDF1 = df1.union(df3)
      6 unionDF1.display()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:4863, in DataFrame.union(self, other)
   4767 def union(self, other: "DataFrame") -> "DataFrame":
   4768     """Return a new :class:`DataFrame` containing the union of rows in this and another
   4769     :class:`DataFrame`.
   4770
   (...)
   4861     +---+-----+
   4862     """
-> 4863     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1355, in JavaMember.__call__(self, *args)
   1349 command = proto.CALL_COMMAND_NAME +\
   1350     self.command_header +\
   1351     args_command +\
   1352     proto.END_COMMAND_PART
   1354 answer = self.gateway_client.send_command(command)
-> 1355 return_value = get_return_value(
   1356     answer, self.gateway_client, self.target_id, self.name)
   1358 for temp_arg in temp_args:
   1359     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:261, in capture_sql_exception.<locals>.deco(*a, **kw)
    257 converted = convert_exception(e.java_exception)
    258 if not isinstance(converted, UnknownException):
    259     # Hide where the exception came from that shows a non-Pythonic
    260     # JVM exception message.
--> 261     raise converted from None
    262 else:
    263     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 6 columns and the second input has 7 columns. SQLSTATE: 42826;
'Union false, false
:- LogicalRDD [employee_name#2, department#3, state#4, salary#5L, age#6L, bonus#7L], false
+- Project [employee_name#27, department#28, state#29, salary#30L, age#31L, bonus#32L, (bonus#32L * cast(100 as bigint)) AS hike#268L]
   +- LogicalRDD [employee_name#27, department#28, state#29, salary#30L, age#31L, bonus#32L], false

In [0]:
df3 = df3.select("employee_name", "department", "state", "salary", "age")
display(df3)

employee_name,department,state,salary,age
Kailash,Sales,RJ,96600,30
Somesh,Finance,UP,88000,22
Jennifer,Support,TN,59000,43
Kumar,Marketing,CA,768000,28
Sandya,IT,PNB,789000,37
Swaroop,Admin,KL,679000,24
Joseph,Finance,DL,789000,29
Rashi,Maintenance,TS,467800,23
Krishna,Backend,AP,945670,39
Sandya,IT,PNB,789000,37
Swaroop,Admin,KL,679000,24

In [0]:
# union() to merge two DataFrames of different count
# df1 and df3 has same column names and order but with one less column than df2
# df1: "employee_name", "department", "state", "salary", "age", "bonus"
# df3: "employee_name", "department", "state", "salary", "age"
unionDF2 = df1.union(df3)
unionDF2.display()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2742766298581904>, line 5
      1 # union() to merge two DataFrames of different count
      2 # df1 and df3 has same column names and order but with one less column than df2
      3 # df1: "employee_name", "department", "state", "salary", "age", "bonus"
      4 # df3: "employee_name", "department", "state", "salary", "age"
----> 5 unionDF2 = df1.union(df3)
      6 unionDF2.display()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:4863, in DataFrame.union(self, other)
   4767 def union(self, other: "DataFrame") -> "DataFrame":
   4768     """Return a new :class:`DataFrame` containing the union of rows in this and another
   4769     :class:`DataFrame`.
   4770
   (...)
   4861     +---+-----+
   4862     """
-> 4863     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1355, in JavaMember.__call__(self, *args)
   1349 command = proto.CALL_COMMAND_NAME +\
   1350     self.command_header +\
   1351     args_command +\
   1352     proto.END_COMMAND_PART
   1354 answer = self.gateway_client.send_command(command)
-> 1355 return_value = get_return_value(
   1356     answer, self.gateway_client, self.target_id, self.name)
   1358 for temp_arg in temp_args:
   1359     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:261, in capture_sql_exception.<locals>.deco(*a, **kw)
    257 converted = convert_exception(e.java_exception)
    258 if not isinstance(converted, UnknownException):
    259     # Hide where the exception came from that shows a non-Pythonic
    260     # JVM exception message.
--> 261     raise converted from None
    262 else:
    263     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 6 columns and the second input has 5 columns. SQLSTATE: 42826;
'Union false, false
:- LogicalRDD [employee_name#2, department#3, state#4, salary#5L, age#6L, bonus#7L], false
+- Project [employee_name#27, department#28, state#29, salary#30L, age#31L]
   +- Project [employee_name#27, department#28, state#29, salary#30L, age#31L, bonus#32L, (bonus#32L * cast(100 as bigint)) AS hike#268L]
      +- LogicalRDD [employee_name#27, department#28, state#29, salary#30L, age#31L, bonus#32L], false

In [0]:
# union() to merge two DataFrames of different order of columns
# df1: "employee_name", "department", "state", "salary", "age", "bonus"
# df4: "employee_name", "salary", "department", "age", "state", "bonus"
unionDF3 = df1.union(df4)
unionDF3.display()

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Swetha,Finance,PNB,598000,26,99000
Mohan,Admin,TN,756000,36,45000
Kailash,96600,Sales,30,RJ,15500
Somesh,88000,Finance,22,UP,27800
Jennifer,59000,Support,43,TN,35500
Kumar,768000,Marketing,28,CA,945000
Sandya,789000,IT,37,PNB,678900
Swaroop,679000,Admin,24,KL,478000
Joseph,789000,Finance,29,DL,456700
Rashi,467800,Maintenance,23,TS,872300
Krishna,945670,Backend,39,AP,435000

**2) Merge DataFrames using unionAll**
- DataFrame **unionAll()** method is **deprecated** since **PySpark “2.0.0”** version and recommends using the **union()** method.

In [0]:
# unionAll() to merge two DataFrames
unionAllDF = df1.unionAll(df2)
unionAllDF.display()

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Swetha,Finance,PNB,598000,26,99000
Mohan,Admin,TN,756000,36,45000
Kailash,Sales,RJ,96600,30,15500
Somesh,Finance,UP,88000,22,27800
Jennifer,Support,TN,59000,43,35500
Kumar,Marketing,CA,768000,28,945000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000
Joseph,Finance,DL,789000,29,456700
Rashi,Maintenance,TS,467800,23,872300
Krishna,Backend,AP,945670,39,435000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000

**Merge without Duplicates**

- Since the union() method returns **all rows without distinct records**, we will use the distinct() function to return just one record when a **duplicate exists**.

In [0]:
# Remove duplicates after union() using distinct()
disDF = df1.union(df2).distinct()
display(disDF)

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Kailash,Sales,RJ,96600,30,15500
Somesh,Finance,UP,88000,22,27800
Kumar,Marketing,CA,768000,28,945000
Jennifer,Support,TN,59000,43,35500
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000
Rashi,Maintenance,TS,467800,23,872300
Joseph,Finance,DL,789000,29,456700
Krishna,Backend,AP,945670,39,435000

**3) unionByName**

In [0]:
# same column names, count and order
unionByName = df1.unionByName(df2)
unionByName.display()

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Swetha,Finance,PNB,598000,26,99000
Mohan,Admin,TN,756000,36,45000
Kailash,Sales,RJ,96600,30,15500
Somesh,Finance,UP,88000,22,27800
Jennifer,Support,TN,59000,43,35500
Kumar,Marketing,CA,768000,28,945000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000
Joseph,Finance,DL,789000,29,456700
Rashi,Maintenance,TS,467800,23,872300
Krishna,Backend,AP,945670,39,435000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000

In [0]:
# unionByName to merge two DataFrames has same column count and different order of columns
# df1: "employee_name", "department", "state", "salary", "age", "bonus"
# df4: "employee_name", "salary", "department", "age", "state", "bonus"
unionByName1 = df1.unionByName(df4)
unionByName1.display()

employee_name,department,state,salary,age,bonus
Kiran,Sales,AP,890000,24,35000
Mohan,Admin,TN,756000,36,45000
Robert,Marketing,KA,567000,33,35000
Swetha,Finance,PNB,598000,26,99000
Kamalesh,IT,TS,8946000,31,56000
Mathew,Maintenance,KL,667000,28,467000
Santhosh,Sales,MH,873000,24,734000
Swetha,Finance,PNB,598000,26,99000
Mohan,Admin,TN,756000,36,45000
Kailash,Sales,RJ,96600,30,15500
Somesh,Finance,UP,88000,22,27800
Jennifer,Support,TN,59000,43,35500
Kumar,Marketing,CA,768000,28,945000
Sandya,IT,PNB,789000,37,678900
Swaroop,Admin,KL,679000,24,478000
Joseph,Finance,DL,789000,29,456700
Rashi,Maintenance,TS,467800,23,872300
Krishna,Backend,AP,945670,39,435000

In [0]:
# unionByName to merge two DataFrames has different column count and different order of columns
# df1: "employee_name", "department", "state", "salary", "age", "bonus"
# df5: "employee_name", "salary", "department", "age", "state", "bonus", "pincode"
unionByName2 = df1.unionByName(df5)
unionByName2.display()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3903420035330711>, line 4
      1 # unionByName to merge two DataFrames has different column count and different order of columns
      2 # df1: "employee_name", "department", "state", "salary", "age", "bonus"
      3 # df5: "employee_name", "salary", "department", "age", "state", "bonus", "pincode"
----> 4 unionByName2 = df1.unionByName(df5)
      5 unionByName2.display()

File /databricks/spark/python/pyspark/instrumentation_utils.py:47, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     45 start = time.perf_counter()
     46 try:
---> 47     res = func(*args, **kwargs)
     48     logger.log_success(
     49         module_name, class_name, function_name, time.perf_counter() - start, signature
     50     )
     51     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:4977, in DataFrame.unionByName(self, other, allowMissingColumns)
   4899 def unionByName(self, other: "DataFrame", allowMissingColumns: bool = False) -> "DataFrame":
   4900     """Returns a new :class:`DataFrame` containing union of rows in this and another
   4901     :class:`DataFrame`.
   4902
   (...)
   4975     +----+----+----+----+----+----+
   4976     """
-> 4977     return DataFrame(self._jdf.unionByName(other._jdf, allowMissingColumns), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1355, in JavaMember.__call__(self, *args)
   1349 command = proto.CALL_COMMAND_NAME +\
   1350     self.command_header +\
   1351     args_command +\
   1352     proto.END_COMMAND_PART
   1354 answer = self.gateway_client.send_command(command)
-> 1355 return_value = get_return_value(
   1356     answer, self.gateway_client, self.target_id, self.name)
   1358 for temp_arg in temp_args:
   1359     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:261, in capture_sql_exception.<locals>.deco(*a, **kw)
    257 converted = convert_exception(e.java_exception)
    258 if not isinstance(converted, UnknownException):
    259     # Hide where the exception came from that shows a non-Pythonic
    260     # JVM exception message.
--> 261     raise converted from None
    262 else:
    263     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 6 columns and the second input has 7 columns. SQLSTATE: 42826;
'Union false, false
:- LogicalRDD [employee_name#2, department#3, state#4, salary#5L, age#6L, bonus#7L], false
+- Project [employee_name#77, department#79, state#81, salary#78L, age#80L, bonus#82L, pincode#83L]
   +- LogicalRDD [employee_name#77, salary#78L, department#79, age#80L, state#81, bonus#82L, pincode#83L], false