#### How to return rows where at least one column is NULL?

| OBJECT_ID	| Name     |	department |	Customer_ID	| Change_Date	          | Load_Date   |	Status       |	description	| start_date_source	| 
|-----------|----------|-------------|--------------|-----------------------|-------------|--------------|--------------|-------------------|
| 583069	  | Harish   |	null	     | 13681832     |	2025-05-12T09:25:45Z                  |	2025-06-02  |	Open	       | E-Mail	      | 1724256609000     |
| 506654	  | Basha	   |	null	     | 13681832     | 2025-04-02T04:15:05Z	| 2025-06-02	| Not Relevant | Social Media	| 1724256609000	    |
| 583195	  | null	   | Finance     | 12619703     |	null                  |	2025-06-02	| Started      | Messaging    |	1724256609000     |
| 558253		| null	   | 2269299	   | null	        | 2025-06-02	          | 2025-06-02  | null         | Messaging    | 1724256609000     |
| null	    | Krishna	 | Sales	     | null         |	2025-04-02T06:12:18Z	| 2025-06-02	| null	       | Manual entry	| 1724256609000	    |
| 583181    |	Kiran	   | Marketing	 | 39714449	    | null	                | 2025-06-02	| Finished	   | Other	      | 1724256609000	    |
| 583119	  | Hitesh   |	null       |	10183510	  | 2025-04-02T04:15:13Z	| null	      | Open	       | Telephony    |	1724256609000     |

In [0]:
%sql
-- Create table
DROP TABLE IF EXISTS tblOneNullsRows;
CREATE TABLE tblOneNullsRows (
    Name VARCHAR(50),
    department VARCHAR(50),
    Customer_ID INT,
    Change_Date DATE,
    Load_Date DATE,
    Status VARCHAR(20),
    description VARCHAR(100)
);

-- Insert sample data
INSERT INTO tblOneNullsRows VALUES
('Jagadish', 'HR', NULL, '2024-01-05', '2024-01-06', 'Active', 'Employee record'),
('Ashwin', 'Admin', 102, '2024-04-05', '2024-03-06', 'Default', 'Employee Obsent'),
('Swarna', 'Finance', 103, '2024-05-05', NULL, 'Deactivate', 'Products'),
('Swapna', 'IT', 104, '2024-08-10', '2024-05-12', 'Inactive', 'Resigned'),
('Praveen', 'Accounts', 105, '2024-09-05', '2024-03-06', 'Active', 'Description'),
('Bibin', 'Finance', 105, '2024-10-01', '2024-09-02', 'Active', 'Salary details'),
('Bharath', NULL, 106, '2024-12-05', '2024-09-06', 'Default', 'Sales Details'),
('Carl', 'Admin', 104, '2024-04-11', '2024-04-15', 'Active', 'Shift change'),
('Joseph', 'Developer', 101, '2024-01-05', '2024-01-06', 'Active', 'Employee record'),
('Damu', 'Sales', 105, '2024-05-18', '2024-05-20', NULL, 'Transferred'),
('Josna', 'Transport', 101, '2024-01-05', '2024-01-06', 'Active', 'Unlock offers'),
(NULL, 'Domestic', 101, '2024-12-05', '2025-05-06', 'Inactive', 'Savings');

SELECT * FROM tblOneNullsRows;

Name,department,Customer_ID,Change_Date,Load_Date,Status,description
Jagadish,HR,null,2024-01-05,2024-01-06,Active,Employee record
Ashwin,Admin,102,2024-04-05,2024-03-06,Default,Employee Obsent
Swarna,Finance,103,2024-05-05,null,Deactivate,Products
Swapna,IT,104,2024-08-10,2024-05-12,Inactive,Resigned
Praveen,Accounts,105,2024-09-05,2024-03-06,Active,Description
Bibin,Finance,105,2024-10-01,2024-09-02,Active,Salary details
Bharath,null,106,2024-12-05,2024-09-06,Default,Sales Details
Carl,Admin,104,2024-04-11,2024-04-15,Active,Shift change
Joseph,Developer,101,2024-01-05,2024-01-06,Active,Employee record
Damu,Sales,105,2024-05-18,2024-05-20,null,Transferred
Josna,Transport,101,2024-01-05,2024-01-06,Active,Unlock offers
null,Domestic,101,2024-12-05,2025-05-06,Inactive,Savings

##### 1) Using OR conditions

In [0]:
%sql
SELECT * FROM tblOneNullsRows
WHERE Name IS NULL OR
      department IS NULL OR
      Customer_ID IS NULL OR
      Change_Date IS NULL OR
      Load_Date IS NULL OR
      Status IS NULL OR
      description IS NULL;

Name,department,Customer_ID,Change_Date,Load_Date,Status,description
Jagadish,HR,null,2024-01-05,2024-01-06,Active,Employee record
Swarna,Finance,103,2024-05-05,null,Deactivate,Products
Bharath,null,106,2024-12-05,2024-09-06,Default,Sales Details
Damu,Sales,105,2024-05-18,2024-05-20,null,Transferred
null,Domestic,101,2024-12-05,2025-05-06,Inactive,Savings

In [0]:
%sql
SELECT COUNT(*) AS RowsWithAnyNulls
FROM tblOneNullsRows
WHERE Name IS NULL OR
      department IS NULL OR
      Customer_ID IS NULL OR
      Change_Date IS NULL OR
      Load_Date IS NULL OR
      Status IS NULL OR
      description IS NULL;

RowsWithAnyNulls
5

##### 2) Using CASE()

In [0]:
%sql
SELECT *,
    CASE 
        WHEN Name IS NULL 
          OR department IS NULL 
          OR Customer_ID IS NULL 
          OR Change_Date IS NULL 
          OR Load_Date IS NULL 
          OR Status IS NULL 
          OR description IS NULL
        THEN 1 -- 'Has NULL'
        ELSE 0 -- 'No NULL'
    END AS NullCheck
FROM tblOneNullsRows;

Name,department,Customer_ID,Change_Date,Load_Date,Status,description,NullCheck
Jagadish,HR,null,2024-01-05,2024-01-06,Active,Employee record,1
Ashwin,Admin,102,2024-04-05,2024-03-06,Default,Employee Obsent,0
Swarna,Finance,103,2024-05-05,null,Deactivate,Products,1
Swapna,IT,104,2024-08-10,2024-05-12,Inactive,Resigned,0
Praveen,Accounts,105,2024-09-05,2024-03-06,Active,Description,0
Bibin,Finance,105,2024-10-01,2024-09-02,Active,Salary details,0
Bharath,null,106,2024-12-05,2024-09-06,Default,Sales Details,1
Carl,Admin,104,2024-04-11,2024-04-15,Active,Shift change,0
Joseph,Developer,101,2024-01-05,2024-01-06,Active,Employee record,0
Damu,Sales,105,2024-05-18,2024-05-20,null,Transferred,1
Josna,Transport,101,2024-01-05,2024-01-06,Active,Unlock offers,0
null,Domestic,101,2024-12-05,2025-05-06,Inactive,Savings,1

##### 3) Using NOT EXISTS / EXCEPT

In [0]:
%sql
SELECT *
FROM tblOneNullsRows e
WHERE EXISTS (
    SELECT 1 
    WHERE e.Name IS NULL OR
          e.department IS NULL OR
          e.Customer_ID IS NULL OR
          e.Change_Date IS NULL OR
          e.Load_Date IS NULL OR
          e.Status IS NULL OR
          e.description IS NULL
);

Name,department,Customer_ID,Change_Date,Load_Date,Status,description
Jagadish,HR,null,2024-01-05,2024-01-06,Active,Employee record
Swarna,Finance,103,2024-05-05,null,Deactivate,Products
Bharath,null,106,2024-12-05,2024-09-06,Default,Sales Details
Damu,Sales,105,2024-05-18,2024-05-20,null,Transferred
null,Domestic,101,2024-12-05,2025-05-06,Inactive,Savings