**1) Using WHERE clause in Except**

**a) How to use Except operator on a single table?**

In [0]:
%sql
DROP TABLE IF EXISTS Except_tblSingleEmployees;

Create table Except_tblSingleEmployees
(
 EmployeeID int,
 Name VARCHAR(40),
 Gender VARCHAR(5),
 Salary INT,
 Category VARCHAR(20)
);

INSERT INTO Except_tblSingleEmployees VALUES (101, 'Murali', 'M', 52000, "High");
INSERT INTO Except_tblSingleEmployees VALUES (102, 'Stephy', 'F', 55000, "Low");
INSERT INTO Except_tblSingleEmployees VALUES (103, 'Senthil', 'M', 45000, "Medium");
INSERT INTO Except_tblSingleEmployees VALUES (104, 'Janardan', 'M', 40000, "Average");
INSERT INTO Except_tblSingleEmployees VALUES (105, 'Sandhya', 'F', 48000, "Low");
INSERT INTO Except_tblSingleEmployees VALUES (106, 'Vasavi', 'F', 60000, "High");
INSERT INTO Except_tblSingleEmployees VALUES (107, 'Tarun', 'M', 58000, "Medium");
INSERT INTO Except_tblSingleEmployees VALUES (108, 'Ganapathy', 'M', 65000, "Average");
INSERT INTO Except_tblSingleEmployees VALUES (109, 'Trisha', 'F', 67000, "High");
INSERT INTO Except_tblSingleEmployees VALUES (110, 'Balu', 'M', 80000, "Low");

SELECT * FROM Except_tblSingleEmployees ORDER BY EmployeeID;

EmployeeID,Name,Gender,Salary,Category
101,Murali,M,52000,High
102,Stephy,F,55000,Low
103,Senthil,M,45000,Medium
104,Janardan,M,40000,Average
105,Sandhya,F,48000,Low
106,Vasavi,F,60000,High
107,Tarun,M,58000,Medium
108,Ganapathy,M,65000,Average
109,Trisha,F,67000,High
110,Balu,M,80000,Low

In [0]:
%sql
SELECT EmployeeID, Name, Gender, Salary, Category 
FROM Except_tblSingleEmployees
WHERE Salary >= 50000
EXCEPT
SELECT EmployeeID, Name, Gender, Salary, Category
FROM Except_tblSingleEmployees
WHERE Salary >= 60000
ORDER BY EmployeeID;

EmployeeID,Name,Gender,Salary,Category
101,Murali,M,52000,High
102,Stephy,F,55000,Low
107,Tarun,M,58000,Medium

**b) EXCEPT with BETWEEN Operator**

In [0]:
%sql
DROP TABLE IF EXISTS tbl_students;

CREATE TABLE tbl_students(
   ID INT NOT NULL, 
   NAME VARCHAR(20) NOT NULL, 
   SUBJECT VARCHAR(20) NOT NULL, 
   AGE INT NOT NULL, 
   HOBBY VARCHAR(20) NOT NULL
);

INSERT INTO tbl_students VALUES
(1, 'Naina', 'Maths', 24, 'Cricket'),
(2, 'Varun', 'Physics', 26, 'Football'),
(3, 'Dev', 'Maths', 23, 'Cricket'),
(4, 'Priya', 'Physics', 25, 'Cricket'),
(5, 'Aditya', 'Chemistry', 21, 'Cricket'),
(6, 'Kalyan', 'Maths', 30, 'Football'),
(7, 'Aditya', 'Chemistry', 21, 'Cricket'),
(8, 'Kalyan', 'Chemistry', 32, 'Cricket');

SELECT * FROM tbl_students;

ID,NAME,SUBJECT,AGE,HOBBY
1,Naina,Maths,24,Cricket
2,Varun,Physics,26,Football
3,Dev,Maths,23,Cricket
4,Priya,Physics,25,Cricket
5,Aditya,Chemistry,21,Cricket
6,Kalyan,Maths,30,Football
7,Aditya,Chemistry,21,Cricket
8,Kalyan,Chemistry,32,Cricket

In [0]:
%sql
DROP TABLE IF EXISTS tbl_students_hobby;

CREATE TABLE tbl_students_hobby(
   ID INT NOT NULL, 
   NAME VARCHAR(20) NOT NULL, 
   HOBBY VARCHAR(20) NOT NULL, 
   AGE INT NOT NULL
);

INSERT INTO tbl_students_hobby VALUES
(1, 'Vijay', 'Cricket', 18),
(2, 'Varun', 'Football', 26),
(3, 'Surya', 'Cricket', 19),
(4, 'Karthik', 'Cricket', 25),
(5, 'Sunny', 'Football', 26),
(6, 'Dev', 'Cricket', 23);

SELECT * FROM tbl_students_hobby;

ID,NAME,HOBBY,AGE
1,Vijay,Cricket,18
2,Varun,Football,26
3,Surya,Cricket,19
4,Karthik,Cricket,25
5,Sunny,Football,26
6,Dev,Cricket,23

In [0]:
%sql
SELECT NAME, HOBBY, AGE
FROM tbl_students
WHERE AGE BETWEEN 20 AND 30
EXCEPT 
SELECT NAME, HOBBY, AGE 
FROM tbl_students_hobby
WHERE AGE BETWEEN 20 AND 30

NAME,HOBBY,AGE
Kalyan,Football,30
Aditya,Cricket,21
Priya,Cricket,25
Naina,Cricket,24

**Ex 02**

In [0]:
%sql
DROP TABLE IF EXISTS tbl_Employees_India;

Create table tbl_Employees_India
(
 ID int,
 Name VARCHAR(40),
 Department VARCHAR(5)
);

INSERT INTO tbl_Employees_India VALUES (1, 'Raj', 'Sales');
INSERT INTO tbl_Employees_India VALUES (2, 'Priya', 'HR');
INSERT INTO tbl_Employees_India VALUES (3, 'Akash', 'IT');
INSERT INTO tbl_Employees_India VALUES (4, 'Sneha', 'Sales');

SELECT * FROM tbl_Employees_India;

ID,Name,Department
4,Sneha,Sales
1,Raj,Sales
2,Priya,HR
3,Akash,IT

In [0]:
%sql
DROP TABLE IF EXISTS tbl_Employees_USA;

Create table tbl_Employees_USA
(
 ID int,
 Name VARCHAR(40),
 Department VARCHAR(15)
);

INSERT INTO tbl_Employees_USA VALUES (2, 'Priya', 'HR');
INSERT INTO tbl_Employees_USA VALUES (3, 'Akash', 'IT');
INSERT INTO tbl_Employees_USA VALUES (5, 'John', 'Marketing');

SELECT * FROM tbl_Employees_USA;

ID,Name,Department
5,John,Marketing
2,Priya,HR
3,Akash,IT

In [0]:

%sql
WITH OnlyIndia AS (
    SELECT ID, Name FROM tbl_Employees_India
    EXCEPT
    SELECT ID, Name FROM tbl_Employees_USA
)
SELECT * FROM OnlyIndia
WHERE Name LIKE 'S%';

ID,Name
4,Sneha