In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

**1) Creating a DataFrame with None values**

In [0]:
data = [("Arnab", 31, 10, 30000),
        ("Henry", None, 8, 25000),
        ("Jayesh", 29, 4, None),
        ("Jagadish", 24, 3, 20000),
        ("Kamalesh", 21, None, 15000),
        ("Lepakshi", 23, 2, 18000),
        ("Anand", None, None, 40000),
        ("NULL", 34, 10, 38000),
        ("NULL", 36, None, None)]

columns = ["Employee Name", "Age of Employee", "Experience (in years)", "Salary (per month - $)"]

df = spark.createDataFrame(data, columns)
display(df)

Employee Name,Age of Employee,Experience (in years),Salary (per month - $)
Arnab,31,10,30000
Henry,null,8,25000
Jayesh,29,4,null
Jagadish,24,3,20000
Kamalesh,21,null,15000
Lepakshi,23,2,18000
Anand,null,null,40000
NULL,34,10,38000
NULL,36,null,null

**2) Using .withColumn() to add a NULL column**

In [0]:
from pyspark.sql.functions import lit

df_with_null = df.withColumn("Value", lit(None)) \
                 .withColumn("Sales", lit(None).cast(IntegerType()))
display(df_with_null)

Employee Name,Age of Employee,Experience (in years),Salary (per month - $),Value,Sales
Arnab,31,10,30000,null,null
Henry,null,8,25000,null,null
Jayesh,29,4,null,null,null
Jagadish,24,3,20000,null,null
Kamalesh,21,null,15000,null,null
Lepakshi,23,2,18000,null,null
Anand,null,null,40000,null,null
NULL,34,10,38000,null,null
NULL,36,null,null,null,null

**3) Creating a DataFrame from Row objects with NULLs**

In [0]:
from pyspark.sql import Row

data = [
    Row(id=1, name="Alekya"),
    Row(id=None, name="Bibin"),
    Row(id=3, name=None),
    Row(id=None, name=None)
]

df_from_rows = spark.createDataFrame(data)
display(df_from_rows)

id,name
1,Alekya
null,Bibin
3,null
null,null

**4) Creating empty DataFrame with NULL placeholders**

In [0]:
# Define schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
])

# Just placeholders with all nulls
empty_data = [(None, None), (None, None), (None, None), (None, None), (None, None)]

df_null_placeholder = spark.createDataFrame(empty_data, schema)
display(df_null_placeholder)

id,name
null,null
null,null
null,null
null,null
null,null