#### 1) Serverless

**Python**

In [0]:
print("data engineers")

data engineers

In [0]:
# Create DataFrame
data = [('James','','Smith','1991-04-01','M',3000),
        ('Michael','Rose','','2000-05-19','M',4000),
        ('Robert','','Williams','1978-09-05','M',4000),
        ('Maria','Anne','Jones','1967-12-01','F',4000),
        ('Jen','Mary','Brown','1980-02-17','F',-1)
       ]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
display(df)

firstname,middlename,lastname,dob,gender,salary
James,,Smith,1991-04-01,M,3000
Michael,Rose,,2000-05-19,M,4000
Robert,,Williams,1978-09-05,M,4000
Maria,Anne,Jones,1967-12-01,F,4000
Jen,Mary,Brown,1980-02-17,F,-1

**SQL**

In [0]:
%sql
SELECT "data engineers"

"""data engineers"""
data engineers

In [0]:
%sql
SELECT UNIX_TIMESTAMP() As TimeStamp;

TimeStamp
1755710459

In [0]:
%sql
SELECT UNIX_TIMESTAMP('2020-10-17 02:35:43') As TimeStamp;

TimeStamp
1602902143

**R**

In [0]:
%r
# R code to print "Hello, World!"
myString <- "Hello, World!"

print ( myString)

**SCALA**

In [0]:
%scala
// Simple Scala program
object HelloWorld {
  def main(args: Array[String]): Unit = {
    println("Hello, World!")   // prints Hello, World!

    // Example: simple function
    def add(x: Int, y: Int): Int = {
      x + y
    }

    val result = add(5, 7)
    println("Sum of 5 and 7 is: " + result)
  }
}

#### 2) Serverless Starter Warehouse

**Python**

In [0]:
print("data engineers")

**SQL**

In [0]:
%sql
SELECT "data engineers"

"""data engineers"""
data engineers

In [0]:
%sql
SELECT UNIX_TIMESTAMP('2020-10-17 02:35:43') As TimeStamp;

TimeStamp
1602902143

In [0]:
%sql
DROP TABLE IF EXISTS tblEmployeesFreeAccount;
CREATE TABLE tblEmployeesFreeAccount (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50),
    Salary DECIMAL(10,2),
    HireDate DATE
);

INSERT INTO tblEmployeesFreeAccount (EmployeeID, FirstName, LastName, Department, Salary, HireDate)
VALUES
(1, 'David', 'Xav', 'IT', 55000.00, '2020-06-15'),
(2, 'Swaroop', 'Kumar', 'ADMIN', 65000.00, '2022-09-15'),
(3, 'Swetha', 'Kiran', 'Sales', 75000.00, '2024-08-15'),
(4, 'Arun', 'Das', 'Finance', 85000.00, '2025-02-25'),
(5, 'Selvam', 'Kumar', 'Accounts', 99000.00, '2021-10-05');

SELECT * FROM tblEmployeesFreeAccount;

EmployeeID,FirstName,LastName,Department,Salary,HireDate
1,David,Xav,IT,55000.00,2020-06-15
2,Swaroop,Kumar,ADMIN,65000.00,2022-09-15
3,Swetha,Kiran,Sales,75000.00,2024-08-15
4,Arun,Das,Finance,85000.00,2025-02-25
5,Selvam,Kumar,Accounts,99000.00,2021-10-05

**R**

In [0]:
%r
# R code to print "Hello, World!"
myString <- "Hello, World!"

print ( myString)

**Scala**

In [0]:
%scala
// Simple Scala program
object HelloWorld {
  def main(args: Array[String]): Unit = {
    println("Hello, World!")   // prints Hello, World!

    // Example: simple function
    def add(x: Int, y: Int): Int = {
      x + y
    }

    val result = add(5, 7)
    println("Sum of 5 and 7 is: " + result)
  }
}