- In sql **NULL** is **not equal to NULL**.
- **NULL** value will not also be joined with **NULL** value, because **NULL** is unknown value.
- we cann't join two **NULL's** together.

#### **Types of Join**

**Inner Join**

     SELECT * FROM table1 AS t1
     INNER JOIN table2 AS t2 ON t1.ID1=t2.ID1;

**Left Join**

     SELECT * FROM table1 AS t1
     LEFT JOIN table2 AS t2 ON t1.ID1=t2.ID1;

**Right Join**

     SELECT * FROM table1 AS t1
     RIGHT JOIN table2 AS t2 ON t1.ID1=t2.ID1;

**Full Outer Join**

     SELECT * FROM table1 AS t1
     FULL OUTER JOIN table2 AS t2 ON t1.ID1=t2.ID1;

**Cross Join**

     SELECT * FROM table1 AS t1
     CROSS JOIN table2 AS t2;

#### **Number of Records after join**

**Inner Join**

     SELECT COUNT(*) FROM table1 AS t1
     INNER JOIN table2 AS t2 ON t1.ID1=t2.ID1;

**Left Join**

     SELECT COUNT(*) FROM table1 AS t1
     LEFT JOIN table2 AS t2 ON t1.ID1=t2.ID1;

**Right Join**

     SELECT COUNT(*) FROM table1 AS t1
     RIGHT JOIN table2 AS t2 ON t1.ID1=t2.ID1;

**Full Outer Join**

     SELECT COUNT(*) FROM table1 AS t1
     FULL OUTER JOIN table2 AS t2 ON t1.ID1=t2.ID1;

**Cross Join**

     SELECT COUNT(*) FROM table1 AS t1
     CROSS JOIN table2 AS t2;

#### **Question 01**

**How many rows will generate when apply `INNER JOIN, LEFT JOIN & RIGHT JOIN' for below tables?**

     TABLE1   TABLE2
        1       1
        1       1 
                1

     INNER JOIN: ?
     LEFT JOIN : ?
     RIGHT JOIN: ?
     FULL JOIN: ?
     CROSS JOIN: ?

In [0]:
%sql
CREATE TABLE tbl_1A(ID1 INT);

INSERT INTO tbl_1A
VALUES
(1),
(1);

SELECT * FROM tbl_1A;

ID1
1
1

In [0]:
%sql
CREATE TABLE tbl_2A(ID2 INT);

INSERT INTO tbl_2A
VALUES
(1),
(1),
(1);

SELECT * FROM tbl_2A;

ID2
1
1
1

#### **INNER JOIN**
- All **matching records** from both the tables.
  - **matching records**: 2(1's) X 3(1's) = 6

In [0]:
%sql
SELECT * FROM tbl_1A
INNER JOIN tbl_2A ON tbl_1A.ID1=tbl_2A.ID2;

ID1,ID2
1,1
1,1
1,1
1,1
1,1
1,1

#### **LEFT JOIN**
- **matching records** and **non-matching** records from the **left table**.
  - **matching records**: 2(1's) X 3(1's) = 6
  - **non-matching records**: NA

In [0]:
%sql
SELECT * FROM tbl_1A
LEFT JOIN tbl_2A ON tbl_1A.ID1=tbl_2A.ID2;

ID1,ID2
1,1
1,1
1,1
1,1
1,1
1,1

#### **RIGHT JOIN**
- **matching records** and **non-matching** records from the **right table**.
  - **matching records**: 2(1's) X 3(1's) = 6
  - **non-matching records**: NA

In [0]:
%sql
SELECT * FROM tbl_1A
RIGHT JOIN tbl_2A ON tbl_1A.ID1=tbl_2A.ID2;

ID1,ID2
1,1
1,1
1,1
1,1
1,1
1,1

#### **FULL JOIN / FULL OUTER JOIN**

- **FULL JOIN** retrieves **all rows from both tables**, filling in **NULL** values where matches do not exist.
- The **FULL JOIN or FULL OUTER JOIN** in SQL is used to **retrieve all rows from both tables** involved in the join, regardless of whether there is a match between the rows in the two tables.

- It combines the results of both a **LEFT JOIN and a RIGHT JOIN**.
- When there is **no match**, the result will include **NULLs** for the columns of the table that do not have a matching row.

                                           (or)                                          
- **matching records (inner join)** and **non-matching records** of **left & right** tables.
  - **matching records**: 2(1's) X 3(1's) = 6
  - **non-matching records**: NA

In [0]:
%sql
SELECT * FROM tbl_1A
FULL OUTER JOIN tbl_2A ON tbl_1A.ID1=tbl_2A.ID2;

ID1,ID2
1,1
1,1
1,1
1,1
1,1
1,1

In [0]:
%sql
SELECT * FROM tbl_1A
CROSS JOIN tbl_2A;

ID1,ID2
1,1
1,1
1,1
1,1
1,1
1,1

#### **Example 01**

**How many rows will generate when apply `INNER JOIN, LEFT JOIN & RIGHT JOIN` for below tables?**

     TABLE1   TABLE2
        1       1
        1       1
        1       1
        2       1
                3

**INNER JOIN**
  - **matching records**: 3(1's) X 4(1's) = 12
     
**LEFT JOIN**
  - **matching records**: 3(1's) X 4(1's) = 12
  - **non-matching records of Left table**: 1(2's) = 1

**RIGHT JOIN**
  - **matching records**: 3(1's) X 4(1's) = 12
  - **non-matching records of Right table**: 1(3's) = 1

**FULL JOIN**
  - **matching records**: 3(1's) X 4(1's) = 12
  - **non-matching records of Left table**: 1(2's) = 1
  - **non-matching records of Right table**: 1(3's) = 1

**CROSS JOIN**
  - 4 x 5 = 20

#### **Question 02**

**How many rows will generate when apply `INNER JOIN, LEFT JOIN & RIGHT JOIN' for below tables?**

     TAB1   TAB2
       1      1
       1      1
       1     NULL

     INNER JOIN: ?
     LEFT JOIN : ?
     RIGHT JOIN: ?
     FULL JOIN: ?
     CROSS JOIN: ?

In [0]:
%sql
CREATE TABLE TAB1(ID1 INT);

INSERT INTO TAB1
VALUES
(1),
(1),
(1);

SELECT * FROM TAB1;

ID1
1
1
1

In [0]:
%sql
CREATE TABLE TAB2(ID1 INT);

INSERT INTO TAB2
VALUES
(1),
(1),
(NULL);

SELECT * FROM TAB2;

ID1
1
1
null

- **In Databricks Community Edition, you cannot directly execute two SQL queries in the same %sql cell and display both outputs simultaneously.**

      %sql
      SELECT * FROM TAB1
      INNER JOIN TAB2 ON TAB1.ID1=TAB2.ID1;

      SELECT COUNT(*) FROM TAB1
      INNER JOIN TAB2 ON TAB1.ID1=TAB2.ID1;

- **Option 01: Using Temporary Views**

      -- Execute the first query and create a temporary view
      %sql
      CREATE OR REPLACE TEMP VIEW joined_table AS
      SELECT * FROM TAB1 
      INNER JOIN TAB2 ON TAB1.ID1 = TAB2.ID1;

      -- Display the first query result
      %sql
      SELECT * FROM joined_table;

      -- Display the count
      %sql
      SELECT COUNT(*) FROM joined_table;

- **Option 02: Use Python to Combine Outputs**

      # Execute the first query
      df1 = spark.sql("""
      SELECT * FROM TAB1 
      INNER JOIN TAB2 ON TAB1.ID1 = TAB2.ID1
      """)

      # Execute the second query
      df2 = spark.sql("""
      SELECT COUNT(*) AS total_count FROM TAB1 
      INNER JOIN TAB2 ON TAB1.ID1 = TAB2.ID1
      """)

      # Display both outputs
      print("First Query Output:")
      display(df1)

      print("Second Query Output:")
      display(df2)

**INNER JOIN**
- An **inner join** returns rows with **matching values** in **both tables**.
- **matching records**:
  - 3(1's) X 2(1's) = 6

In [0]:
%sql
SELECT * FROM TAB1
INNER JOIN TAB2 ON TAB1.ID1=TAB2.ID1;

ID1,ID1
1,1
1,1
1,1
1,1
1,1
1,1

In [0]:
%sql
SELECT COUNT(*) FROM TAB1
INNER JOIN TAB2 ON TAB1.ID1=TAB2.ID1;

count(1)
6

In [0]:
# Execute the first query
df1 = spark.sql("""
SELECT * FROM TAB1 
INNER JOIN TAB2 ON TAB1.ID1 = TAB2.ID1
""")

# Execute the second query
df2 = spark.sql("""
SELECT COUNT(*) AS total_count FROM TAB1 
INNER JOIN TAB2 ON TAB1.ID1 = TAB2.ID1
""")

# Display both outputs
print("First Query Output:")
display(df1)

print("Second Query Output:")
display(df2)

First Query Output:

ID1,ID1
1,1
1,1
1,1
1,1
1,1
1,1

Second Query Output:

total_count
6

**LEFT JOIN**
- A **left join** returns **all rows** from the **left table** and **matched rows** from the **right table**. **Unmatched rows** from the **right table** result in **NULLs**.

                                      (or)
- **All records** from **left** table. Only **matching records** from **right** table.

                                      (or)
- **matching records** and **non-matching** records from the **left table**.
  - **matching records**:
    - 3(1's) X 2(1's) = 6
  - **non-matching records**:
    - NA

In [0]:
%sql
SELECT * FROM TAB1
LEFT JOIN TAB2 ON TAB1.ID1=TAB2.ID1;

ID1,ID1
1,1
1,1
1,1
1,1
1,1
1,1

**RIGHT JOIN**
- A **right join** returns **all rows** from the **right table** and **matched rows** from the **left table**. **Unmatched rows** from the **left table** result in **NULLs**.

                        (or)
- **All records** from **right** table. Only **matching records** from **left** table.

                        (or)
- **matching records** and **non-matching** records from the **right table**.
  - **matching records**:
    - 3(1's) X 2(1's) = 6
  - **non-matching records**:
    - 1 (NULL) = 1 --> (NULL NULL)

In [0]:
%sql
SELECT * FROM TAB1
RIGHT JOIN TAB2 ON TAB1.ID1=TAB2.ID1;

ID1,ID1
1,1
1,1
1,1
1,1
1,1
1,1
null,null

**FULL JOIN / FULL OUTER JOIN**
- A **full outer join** returns **all rows** when there's a **match in either table**. **Unmatched rows** from **both tables** result in **NULLs**.

                                         (or)
- All records from **ALL** tables.
- **matching records**:
    - 3(1's) X 2(1's) = 6

- **non-matching records of Left table**:
    - NA

- **non-matching records of Right table**:
    - 1 (NULL) = 1 --> (NULL NULL)

In [0]:
%sql
SELECT * FROM TAB1
FULL OUTER JOIN TAB2 ON TAB1.ID1=TAB2.ID1;

ID1,ID1
null,null
1,1
1,1
1,1
1,1
1,1
1,1

**CROSS JOIN**
- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 3 x 3 = 9

In [0]:
%sql
SELECT * FROM TAB1
CROSS JOIN TAB2;

ID1,ID1
1,1
1,1
1,null
1,1
1,1
1,null
1,1
1,1
1,null

#### **Question 03**

**What is the output if we apply inner join?**

      TABLE1   TABLE2
         1      1
         1      2
         2      1
         1      1

In [0]:
%sql
DROP TABLE IF EXISTS tbl_q2_01;

CREATE TABLE tbl_q2_01(ID1 INT);

INSERT INTO tbl_q2_01
VALUES
(1),
(1),
(2),
(1);

SELECT * FROM tbl_q2_01;

ID1
1
1
2
1

In [0]:
%sql
DROP TABLE IF EXISTS tbl_q2_02;

CREATE TABLE tbl_q2_02(ID2 INT);

 INSERT INTO tbl_q2_02
 VALUES
 (1),
 (2),
 (1),
 (1);

SELECT * FROM tbl_q2_02;

ID2
1
2
1
1

**INNER JOIN**
- An **inner join** returns rows with **matching values** in **both tables**.
- **matching records**:
  - 3(1's) X 3(1's) = 9
  - 1(2's) X 1(2's) = 1

In [0]:
%sql
SELECT * FROM tbl_q2_01
INNER JOIN tbl_q2_02 ON tbl_q2_01.ID1=tbl_q2_02.ID2;

ID1,ID2
1,1
1,1
1,1
1,1
1,1
1,1
2,2
1,1
1,1
1,1

**LEFT JOIN**

- **matching records** and **non-matching** records from the **left table**.
  - **matching records**:
    - 3(1's) X 3(1's) = 9
    - 1(2's) X 1(2's) = 1
  - **non-matching records**:
    - NA

In [0]:
%sql
SELECT * FROM tbl_q2_01
LEFT JOIN tbl_q2_02 ON tbl_q2_01.ID1=tbl_q2_02.ID2;

ID1,ID2
1,1
1,1
1,1
1,1
1,1
1,1
2,2
1,1
1,1
1,1

**RIGHT JOIN**
- **matching records** and **non-matching** records from the **right table**.
  - **matching records**:
    - 3(1's) X 3(1's) = 9
    - 1(2's) X 1(2's) = 1
  - **non-matching records**:
    - NA

In [0]:
%sql
SELECT * FROM tbl_q2_01
RIGHT JOIN tbl_q2_02 ON tbl_q2_01.ID1=tbl_q2_02.ID2;

ID1,ID2
1,1
1,1
1,1
2,2
1,1
1,1
1,1
1,1
1,1
1,1

**FULL JOIN / FULL OUTER JOIN**

- **matching records**:
    - 3(1's) X 3(1's) = 9
    - 1(2's) X 1(2's) = 1

- **non-matching records of Left table**:
    - NA

- **non-matching records of Right table**:
    - NA

In [0]:
%sql
SELECT * FROM tbl_q2_01
FULL OUTER JOIN tbl_q2_02 ON tbl_q2_01.ID1=tbl_q2_02.ID2;

ID1,ID2
1,1
1,1
1,1
1,1
1,1
1,1
1,1
1,1
1,1
2,2

**CROSS JOIN**
- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 4 x 4 = 16

In [0]:
%sql
SELECT * FROM tbl_q2_01
CROSS JOIN tbl_q2_02;

ID1,ID2
1,1
1,2
1,1
1,1
1,1
1,2
1,1
1,1
2,1
2,2
2,1
2,1
1,1
1,2
1,1
1,1

#### **Question 04**

     TABLE1   TABLE2
       1        1
       1        2
       2        3
       3        2
       4        6
       3

In [0]:
%sql
DROP TABLE IF EXISTS tbl_AAZ;

CREATE TABLE tbl_AAZ(ID INT);

INSERT INTO tbl_AAZ
VALUES
(1),
(1),
(2),
(3),
(4),
(3);

SELECT * FROM tbl_AAZ;

ID
1
1
2
3
4
3

In [0]:
%sql
 DROP TABLE IF EXISTS tbl_BBZ;

 CREATE TABLE tbl_BBZ(ID INT);

 INSERT INTO tbl_BBZ
 VALUES
 (1),
 (2),
 (3),
 (2),
 (6);

 SELECT * FROM tbl_BBZ;

ID
1
2
3
2
6

**INNER JOIN**
- An **inner join** returns rows with **matching values** in **both tables**.
- **matching records**:
  - 2(1's) X 1(1's) = 2
  - 1(2's) X 2(2's) = 2
  - 2(3's) X 1(3's) = 2

In [0]:
%sql
SELECT * FROM tbl_AAZ
INNER JOIN tbl_BBZ
ON tbl_AAZ.ID = tbl_BBZ.ID

ID,ID
1,1
1,1
2,2
2,2
3,3
3,3

**LEFT JOIN**

- **matching records** and **non-matching** records from the **left table**.
  - **matching records**:
    - 2(1's) X 1(1's) = 2
    - 1(2's) X 2(2's) = 2
    - 2(3's) X 1(3's) = 2
  - **non-matching records**:
    - 1(4's) = 1 --> ( 4 NULL)

In [0]:
%sql
SELECT * FROM tbl_AAZ
LEFT JOIN tbl_BBZ
ON tbl_AAZ.ID = tbl_BBZ.ID

ID,ID
1,1
1,1
2,2
2,2
3,3
4,null
3,3

**RIGHT JOIN**

- **matching records** and **non-matching** records from the **right table**.
  - **matching records**:
    - 2(1's) X 1(1's) = 2
    - 1(2's) X 2(2's) = 2
    - 2(3's) X 1(3's) = 2
  - **non-matching records**:
    - 1(6's) = 1 --> (NULL 6)

In [0]:
%sql
SELECT * FROM tbl_AAZ
RIGHT JOIN tbl_BBZ
ON tbl_AAZ.ID = tbl_BBZ.ID

ID,ID
1,1
1,1
2,2
3,3
3,3
2,2
null,6

**FULL JOIN / FULL OUTER JOIN**

- **matching records**:
    - 2(1's) X 1(1's) = 2
    - 1(2's) X 2(2's) = 2
    - 2(3's) X 1(3's) = 2

- **non-matching records of Left table**:
    - 1(4's) = 1 --> ( 4 NULL)

- **non-matching records of Right table**:
    - 1(6's) = 1 --> (NULL 6)

In [0]:
%sql
 SELECT * FROM tbl_AAZ
 FULL OUTER JOIN tbl_BBZ
 ON tbl_AAZ.ID = tbl_BBZ.ID

ID,ID
1,1
1,1
2,2
2,2
3,3
3,3
4,null
null,6

**CROSS JOIN**
- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 6 x 5 = 30

In [0]:
%sql
SELECT * FROM tbl_AAZ
CROSS JOIN tbl_BBZ;

ID,ID
1,1
1,2
1,3
1,2
1,6
1,1
1,2
1,3
1,2
1,6
2,1
2,2
2,3
2,2
2,6
3,1
3,2
3,3
3,2
3,6
4,1
4,2
4,3
4,2
4,6
3,1
3,2
3,3
3,2
3,6

#### **Question 05**

**How many rows will generate when apply `INNER JOIN, LEFT JOIN, RIGHT JOIN & FULL JOIN` for below tables?**

     TABLE1   TABLE2
       1        1
       1        2
       2        3
       3        2
       4       NULL
       3
     NULL
     NULL

In [0]:
%sql
DROP TABLE IF EXISTS tbl_AAA;

CREATE TABLE tbl_AAA(ID INT);

INSERT INTO tbl_AAA
VALUES
(1),
(1),
(2),
(3),
(4),
(3),
(NULL),
(NULL);

SELECT * FROM tbl_AAA;

ID
1
1
2
3
4
3
null
null

In [0]:
# dbutils.fs.rm('dbfs:/user/hive/warehouse/tbl_aaa', True)
# dbutils.fs.rm('dbfs:/user/hive/warehouse/tbl_bbb', True)

True

In [0]:
%sql
DROP TABLE IF EXISTS tbl_BBB;

CREATE TABLE tbl_BBB(ID INT);

INSERT INTO tbl_BBB
VALUES
(1),
(2),
(3),
(2),
(NULL);

SELECT * FROM tbl_BBB;

ID
1
2
3
2
null

**INNER JOIN**
- An **inner join** returns rows with **matching values** in **both tables**.
- **matching records**:
  - 2(1's) X 1(1's) = 2
  - 1(2's) X 2(2's) = 2
  - 2(3's) X 1(3's) = 2

In [0]:
%sql
SELECT * FROM tbl_AAA
INNER JOIN tbl_BBB
ON tbl_AAA.ID = tbl_BBB.ID

ID,ID
1,1
1,1
2,2
2,2
3,3
3,3

**LEFT JOIN**

- **matching records** and **non-matching** records from the **left table**.
  - **matching records**:
    - 2(1's) X 1(1's) = 2
    - 1(2's) X 2(2's) = 2
    - 2(3's) X 1(3's) = 2
  - **non-matching records**:
    - 1(4's) = 1 --> ( 4 NULL)
    - 1(NULL) = 1 --> (NULL NULL)
    - 1(NULL) = 1 --> (NULL NULL)

In [0]:
%sql
SELECT * FROM tbl_AAA
LEFT JOIN tbl_BBB
ON tbl_AAA.ID = tbl_BBB.ID

ID,ID
1,1
1,1
2,2
2,2
3,3
4,null
3,3
null,null
null,null

**RIGHT JOIN**

- **matching records** and **non-matching** records from the **right table**.
  - **matching records**:
    - 2(1's) X 1(1's) = 2
    - 1(2's) X 2(2's) = 2
    - 2(3's) X 1(3's) = 2
  - **non-matching records**:
    - 1(NULL) = 1 --> (NULL NULL)

In [0]:
%sql
SELECT * FROM tbl_AAA
RIGHT JOIN tbl_BBB
ON tbl_AAA.ID = tbl_BBB.ID

ID,ID
1,1
1,1
2,2
3,3
3,3
2,2
null,null

**FULL JOIN / FULL OUTER JOIN**

  - **matching records**:
    - 2(1's) X 1(1's) = 2
    - 1(2's) X 2(2's) = 2
    - 2(3's) X 1(3's) = 2
  - **non-matching records of Left table**:
    - 1(4's) = 1 --> ( 4 NULL)
    - 1(NULL) = 1 --> (NULL NULL)
    - 1(NULL) = 1 --> (NULL NULL)

- **non-matching records of Right table**:
    - 1(NULL) = 1 --> (NULL NULL)

In [0]:
%sql
SELECT * FROM tbl_AAA
FULL OUTER JOIN tbl_BBB
ON tbl_AAA.ID = tbl_BBB.ID

ID,ID
null,null
null,null
null,null
1,1
1,1
2,2
2,2
3,3
3,3
4,null

- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 8 x 5 = 40

In [0]:
%sql
SELECT * FROM tbl_AAA
CROSS JOIN tbl_BBB;

ID,ID
1,1
1,2
1,3
1,2
1,null
1,1
1,2
1,3
1,2
1,null
2,1
2,2
2,3
2,2
2,null
3,1
3,2
3,3
3,2
3,null
4,1
4,2
4,3
4,2
4,null
3,1
3,2
3,3
3,2
3,null
null,1
null,2
null,3
null,2
null,null
null,1
null,2
null,3
null,2
null,null

#### **Question 06**

**Inner Join**

     table1  table2
       2       2
               2
               2
               2

In [0]:
%sql
DROP TABLE IF EXISTS tbl_A1;

CREATE TABLE tbl_A1(ID INT);

INSERT INTO tbl_A1
VALUES
(2);

SELECT * FROM tbl_A1;

ID
2

In [0]:
%sql
DROP TABLE IF EXISTS tbl_A2;

CREATE TABLE tbl_A2(ID INT);

INSERT INTO tbl_A2
VALUES
(2),
(2),
(2),
(2);

SELECT * FROM tbl_A2;

ID
2
2
2
2

**INNER JOIN**
- An **inner join** returns rows with **matching values** in **both tables**.
- **matching records**:
  - 1(1's) X 4(1's) = 4

In [0]:
%sql
SELECT * FROM tbl_A1
INNER JOIN tbl_A2 ON tbl_A1.ID = tbl_A2.ID;

ID,ID
2,2
2,2
2,2
2,2

**CROSS JOIN**
- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 1 x 4 = 4

In [0]:
%sql
SELECT * FROM tbl_A1
CROSS JOIN tbl_A2;

ID,ID
2,2
2,2
2,2
2,2

#### **Question 07**

     TABLE1   TABLE2
       1         1
       1         1
                 1

In [0]:
%sql
DROP TABLE IF EXISTS tbl_AAA1;
CREATE TABLE tbl_AAA1(ID INT);

INSERT INTO tbl_AAA1
VALUES
(1),
(1);

SELECT * FROM tbl_AAA1;

ID
1
1

In [0]:
%sql
 DROP TABLE IF EXISTS tbl_AAA2;
 CREATE TABLE tbl_AAA2(ID INT);

 INSERT INTO tbl_AAA2
 VALUES
 (1),
 (1),
 (1);

 SELECT * FROM tbl_AAA2;

ID
1
1
1

- Same output for all joins **(Inner Join, Left Join, Right Join and Full Outer Join)**

**INNER JOIN**
- An **inner join** returns rows with **matching values** in **both tables**.
- **matching records**:
  - 2(1's) X 3(1's) = 6

**LEFT JOIN**
- **matching records** and **non-matching** records from the **left table**.
  - **matching records**:
    - 2(1's) X 3(1's) = 6
  - **non-matching records**:
    - NA

**RIGHT JOIN**
- **matching records** and **non-matching** records from the **right table**.
  - **matching records**:
    - 2(1's) X 3(1's) = 6
  - **non-matching records**:
    - NA

**FULL JOIN / FULL OUTER JOIN**
- **matching records**:
    - 2(1's) X 3(1's) = 6
- **non-matching records of Left table**:
    - NA
- **non-matching records of Right table**:
    - NA

**CROSS JOIN**
- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 2 x 3 = 6

In [0]:
%sql
SELECT * FROM tbl_AAA1
INNER JOIN tbl_AAA2 ON tbl_AAA1.ID = tbl_AAA2.ID;

ID,ID
1,1
1,1
1,1
1,1
1,1
1,1

#### **Question 8**

     TABLE1  TABLE2
       1        1
       1        1
       2        1
                3

In [0]:
%sql
 DROP TABLE IF EXISTS tbl_C1;
 
 CREATE TABLE tbl_C1(ID INT);

 INSERT INTO tbl_C1
 VALUES
 (1),
 (1),
 (2);

 SELECT * FROM tbl_C1;

ID
1
1
2

In [0]:
%sql
DROP TABLE IF EXISTS tbl_C2;

CREATE TABLE tbl_C2(ID INT);

INSERT INTO tbl_C2
VALUES
(1),
(1),
(1),
(3);

SELECT * FROM tbl_C2;

ID
1
1
1
3

**INNER JOIN**
- An **inner join** returns rows with **matching values** in **both tables**.
- **matching records**:
  - 2(1's) X 3(1's) = 6

In [0]:
%sql
SELECT * FROM tbl_C1
INNER JOIN tbl_C2 ON tbl_C1.ID = tbl_C2.ID;

ID,ID
1,1
1,1
1,1
1,1
1,1
1,1

**LEFT JOIN**
- **matching records** and **non-matching** records from the **left table**.
  - **matching records**:
    - 2(1's) X 3(1's) = 6
  - **non-matching records**:
    - 1(2's) = 1 --> (2 NULL)

In [0]:
%sql
SELECT * FROM tbl_C1
LEFT JOIN tbl_C2 ON tbl_C1.ID = tbl_C2.ID;

ID,ID
1,1
1,1
1,1
1,1
1,1
1,1
2,null

**RIGHT JOIN**
- **matching records** and **non-matching** records from the **right table**.
  - **matching records**:
    - 2(1's) X 3(1's) = 6
  - **non-matching records**:
    - 1(3's) = 1 --> (NULL 3)

In [0]:
%sql
SELECT * FROM tbl_C1
RIGHT JOIN tbl_C2 ON tbl_C1.ID = tbl_C2.ID;

ID,ID
1,1
1,1
1,1
1,1
1,1
1,1
null,3

**FULL JOIN / FULL OUTER JOIN**
- **matching records**:
    - 2(1's) X 3(1's) = 6

- **non-matching records of Left table**:
    - 1(2's) = 1 --> (2 NULL)

- **non-matching records of Right table**:
    - 1(3's) = 1 --> (NULL 3)

In [0]:
%sql
SELECT * FROM tbl_C1
FULL OUTER JOIN tbl_C2 ON tbl_C1.ID = tbl_C2.ID;

ID,ID
1,1
1,1
1,1
1,1
1,1
1,1
2,null
null,3

- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 3 x 4 = 12

In [0]:
%sql
SELECT * FROM tbl_C1
CROSS JOIN tbl_C2;

ID,ID
1,1
1,1
1,1
1,3
1,1
1,1
1,1
1,3
2,1
2,1
2,1
2,3

#### **Question 9**

     TABLE1    TABLE2
        1        1
        1        1
        2        1
        2        3
                 2

In [0]:
%sql
DROP TABLE IF EXISTS tbl_CC1;

CREATE TABLE tbl_CC1(ID INT);

INSERT INTO tbl_CC1
VALUES
(1),
(1),
(2),
(2);

SELECT * FROM tbl_CC1;

ID
1
1
2
2

In [0]:
# dbutils.fs.rm('dbfs:/user/hive/warehouse/tbl_cc1', True)
# dbutils.fs.rm('dbfs:/user/hive/warehouse/tbl_cc2', True)

True

In [0]:
%sql
 DROP TABLE IF EXISTS tbl_CC2;

 CREATE TABLE tbl_CC2(ID INT);

 INSERT INTO tbl_CC2
 VALUES
 (1),
 (1),
 (1),
 (3),
 (2);

 SELECT * FROM tbl_CC2;

ID
1
1
1
3
2

**INNER JOIN**
- An **inner join** returns rows with **matching values** in **both tables**.
- **matching records**:
  - 2(1's) X 3(1's) = 6
  - 2(2's) X 1(2's) = 2

In [0]:
%sql
SELECT * FROM tbl_CC1
INNER JOIN tbl_CC2 ON tbl_CC1.ID = tbl_CC2.ID;

ID,ID
1,1
1,1
1,1
1,1
1,1
1,1
2,2
2,2

**LEFT JOIN**
- **matching records** and **non-matching** records from the **left table**.
  - **matching records**:
    - 2(1's) X 3(1's) = 6
    - 2(2's) X 1(2's) = 2
  - **non-matching records**:
    - NA

In [0]:
%sql
SELECT * FROM tbl_CC1
LEFT JOIN tbl_CC2 ON tbl_CC1.ID = tbl_CC2.ID;

ID,ID
1,1
1,1
1,1
1,1
1,1
1,1
2,2
2,2

**RIGHT JOIN**
- **matching records** and **non-matching** records from the **right table**.
  - **matching records**:
    - 2(1's) X 3(1's) = 6
    - 2(2's) X 1(2's) = 2
  - **non-matching records**:
    - 1(3's)= 1 --> (NULL 3)

In [0]:
%sql
SELECT * FROM tbl_CC1
RIGHT JOIN tbl_CC2 ON tbl_CC1.ID = tbl_CC2.ID;

ID,ID
1,1
1,1
1,1
1,1
1,1
1,1
null,3
2,2
2,2

**FULL JOIN / FULL OUTER JOIN**
- **matching records**:
    - 2(1's) X 3(1's) = 6
    - 2(2's) X 1(2's) = 2
- **non-matching records of Left table**:
    - NA
- **non-matching records of Right table**:
    - 1(3's)= 1 --> (NULL 3)

In [0]:
%sql
SELECT * FROM tbl_CC1
FULL OUTER JOIN tbl_CC2 ON tbl_CC1.ID = tbl_CC2.ID;

ID,ID
1,1
1,1
1,1
1,1
1,1
1,1
2,2
2,2
null,3

**CROSS JOIN**
- A **cross join** returns the **Cartesian product of both tables**, combining **each row from the first table with every row from the second table**.
- 4 x 5 = 20

In [0]:
%sql
SELECT * FROM tbl_CC1
CROSS JOIN tbl_CC2;

ID,ID
1,1
1,1
2,1
2,1
1,1
1,1
2,1
2,1
1,1
1,1
2,1
2,1
1,3
1,3
2,3
2,3
1,2
1,2
2,2
2,2