**PROBLEM STATEMENT**

- How will u query only **3 columns** of a table **without mentioning** the column name using pyspark?

In [0]:
df = spark.read.csv("/FileStore/tables/Sales_Collect.csv", header=True, inferSchema=True)
display(df.limit(10))
df.printSchema()
print("Number of Rows:", df.count())

print("Column Names:\n\n", df.columns)
print("\n Number of columns:", len(df.columns))

Id,dept_Id,SubDept_Id,Vehicle_Id,Vehicle_Profile_Id,Description,Vehicle_Price_Id,Vehicle_Showroom_Price,Vehicle_Showroom_Delta,Vehicle_Showroom_Payment_Date,Currency,Target_Currency,Average,Increment,Target_Simulation_Id
257,257,1,1,0,Baleno,6,72567.98,5678.01,2/20/2023,INR,INR,2381.657773,0.0,1071
264,264,1,0,0,Engine_Base,90,91768.98,12678.01,6/30/2025,INR,INR,553.8461539,0.0,1063
265,265,1,0,0,Baleno,83,8400.123,1450.01,12/27/2023,INR,INR,-7199.999999,0.0,1065
266,266,1,0,0,Engine_Base,76,77345.665,3456.01,4/30/2024,INR,INR,7200.0,0.0,1063
267,267,1,0,0,Suzuki Swift,96,974567.11,110.01,12/31/2025,INR,INR,1404.878049,0.0,1063
268,268,1,1,0,Suzuki Swift,48,49.0,0.01,3/20/2023,INR,INR,834.1253,0.0,1068
270,270,1,0,0,Wagon R,76,77345.665,3456.01,3/26/2024,INR,INR,7200.0,0.0,1065
271,271,1,0,0,Engine_Base,34,35.0,12340.0123,3/20/2023,INR,INR,1668.2506,0.0,1068
272,272,1,1,0,Creta,29,30.0,12340.0123,3/20/2023,INR,INR,-2383.215143,0.0,1071
277,277,1,0,0,Brezza,73,74567.34567,3456.01,12/28/2023,INR,INR,7440.0,0.0,1065

root
 |-- Id: integer (nullable = true)
 |-- dept_Id: integer (nullable = true)
 |-- SubDept_Id: integer (nullable = true)
 |-- Vehicle_Id: integer (nullable = true)
 |-- Vehicle_Profile_Id: integer (nullable = true)
 |-- Description: string (nullable = true)
 |-- Vehicle_Price_Id: integer (nullable = true)
 |-- Vehicle_Showroom_Price: double (nullable = true)
 |-- Vehicle_Showroom_Delta: double (nullable = true)
 |-- Vehicle_Showroom_Payment_Date: string (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Target_Currency: string (nullable = true)
 |-- Average: double (nullable = true)
 |-- Increment: double (nullable = true)
 |-- Target_Simulation_Id: integer (nullable = true)

Number of Rows: 2087
Column Names:

 ['Id', 'dept_Id', 'SubDept_Id', 'Vehicle_Id', 'Vehicle_Profile_Id', 'Description', 'Vehicle_Price_Id', 'Vehicle_Showroom_Price', 'Vehicle_Showroom_Delta', 'Vehicle_Showroom_Payment_Date', 'Currency', 'Target_Currency', 'Average', 'Increment', 'Target_Simulation_Id']

 Number of columns: 15

**1) Select by Index**
- You can use a **Python list** to select columns by their **index**.

In [0]:
# Selects the first 3 columns
df.select(df.columns[:3]).show(3)

# Selects columns 2 to 4
df.select(df.columns[2:5]).show(3)

+---+-------+----------+
| Id|dept_Id|SubDept_Id|
+---+-------+----------+
|257|    257|         1|
|264|    264|         1|
|265|    265|         1|
+---+-------+----------+
only showing top 3 rows

+----------+----------+------------------+
|SubDept_Id|Vehicle_Id|Vehicle_Profile_Id|
+----------+----------+------------------+
|         1|         1|                 0|
|         1|         0|                 0|
|         1|         0|                 0|
+----------+----------+------------------+
only showing top 3 rows

**2) Select All Columns from a List**
- If you have a **list of column names**, you can select all those columns using the ***operator**

In [0]:
# Your list of column names
columns = ["Id", "Vehicle_Id", "Description","Average"]
display(df.select(*columns).limit(10))

Id,Vehicle_Id,Description,Average
257,1,Baleno,2381.657773
264,0,Engine_Base,553.8461539
265,0,Baleno,-7199.999999
266,0,Engine_Base,7200.0
267,0,Suzuki Swift,1404.878049
268,1,Suzuki Swift,834.1253
270,0,Wagon R,7200.0
271,0,Engine_Base,1668.2506
272,1,Creta,-2383.215143
277,0,Brezza,7440.0