**ùêèùêëùêéùêÅùêãùêÑùêå ùêíùêìùêÄùêìùêÑùêåùêÑùêçùêì**

- Write a PYSPARK program to generate a report that provides **pairs (Emp_ID, Manager_ID)** where the **Employee & Manager worked together at least 3 times**.

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [0]:
schema = StructType([StructField("Emp_ID", IntegerType(), True),
                     StructField("Emp_Name", StringType(), True),
                     StructField("Manager_ID", IntegerType(), True),
                     StructField("Manager_Name", StringType(), True),
                     StructField("Emp_Age", IntegerType(), True)
                    ])

data = [(1, "Sekhar", 1, "Swaroop", 30),
        (1, "Sekhar", 1, "Swaroop", 41),
        (1, "Sekhar", 1, "Swaroop", 32),
        (1, "Sekhar", 2, "Prakash", 43),
        (1, "Sekhar", 2, "Prakash", 24),
        (2, "Stanely", 1, "Swaroop", 35),
        (2, "Stanely", 1, "Swaroop", 26),
        (3, "Dinesh", 2, "Prakash", 35),
        (3, "Dinesh", 2, "Prakash", 26),
        (3, "Dinesh", 2, "Prakash", 26)
       ]

df = spark.createDataFrame(data, schema)
display(df)

Emp_ID,Emp_Name,Manager_ID,Manager_Name,Emp_Age
1,Sekhar,1,Swaroop,30
1,Sekhar,1,Swaroop,41
1,Sekhar,1,Swaroop,32
1,Sekhar,2,Prakash,43
1,Sekhar,2,Prakash,24
2,Stanely,1,Swaroop,35
2,Stanely,1,Swaroop,26
3,Dinesh,2,Prakash,35
3,Dinesh,2,Prakash,26
3,Dinesh,2,Prakash,26

In [0]:
df_count = df.groupBy("Emp_ID", "Emp_Name", "Manager_ID", "Manager_Name").count()
display(df_count)

Emp_ID,Emp_Name,Manager_ID,Manager_Name,count
1,Sekhar,1,Swaroop,3
1,Sekhar,2,Prakash,2
2,Stanely,1,Swaroop,2
3,Dinesh,2,Prakash,3

In [0]:
df_count.filter(df_count['count']>=3).display()

Emp_ID,Emp_Name,Manager_ID,Manager_Name,count
1,Sekhar,1,Swaroop,3
3,Dinesh,2,Prakash,3